{% comment %} <div class="tw-bg-[#f7f7f7]">
  <div class='tw-rounded-md tw-w-full tw-flex tw-place-content-center tw-bg-[#f7f7f7]'>
      <div class='tw-flex tw-self-center tw-p-2'>
          <img class='tw-w-[40px] tw-h-[40px]' alt='regalo' src='https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Gift.webp?v=1665712578'>
          <p class='tw-flex tw-self-center tw-ml-3 tw-text-xs md:tw-text-base tw-font-bold'>Promoción Regalos</p>
      </div>
    </div>
    <div class='tw-flex tw-flex-row tw-grid tw-grid-cols-1 tw-gap-x-3 tw-gap-y-3 tw-bg-[#f7f7f7] tw-px-2'>
      <p class="tw-px-5 tw-text-xs tw-font-normal tw-text-center">Obtén de regalo hasta: 1 Protector de Colchón, 2 Almohadas Lego, y 1 Juego de Sabanas 100% Bambo. *Aplica un T&C smartbamboo.mx</p>
      <img class="tw-w-full" alt="Regalo Buen Fin" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/bullet.webp?v=1672902226">
    </div>
</div>     {% endcomment %}