
<div class="tw-w-fit tw-bg-red-600 tw-text-white tw-font-medium tw-text-lg tw-rounded-lg tw-py-2 tw-px-5 {% if product.handle == 'colchon-smart-firm' or product.handle == 'colchon-smart-balance' %} tw-ml-0 {% else %} tw-ml-5 {% endif %} tw-uppercase">
    Oferta Especial: <b>{{ discount-hotsale }}</b>
</div>