
<div class="tw-block tw-bg-white tw-border tw-border-slate-700 tw-p-5 tw-mx-5 tw-rounded-md tw-border-gris-lineal tw-border-solid md:tw-mx-[20px] xl:tw-mx-[0px]">
  
    <h3 class="tw-text-base md:tw-text-2xl tw-font-semibold tw-text-center">
        Hasta 24 meses sin intereses*
    </h3>
    <p class="tw-text-sm md:tw-text-base tw-text-center">
      *Consulta T&C
    </p>
    
    <div class="tw-flex tw-flex-col md:tw-flex-row tw-w-full justify-center tw-mx-auto">
      <div class="tw-text-center tw-text-sm tw-py-2 md:tw-py-3 tw-basis-1/4">
        Pagando con:
      </div>
  
      <div class="tw-flex tw-grid tw-grid-cols-4 tw-gap-2 md:tw-gap-3 tw-py-0 md:tw-py-3 tw-justify-around tw-basis-2/4">
        <div class="payments__element paypal">
          {% comment %} <img width="101.551" height="24.787" src="{{ 'smart-icon-paypal-small.svg' | asset_url }}" alt="Paypal"> {% endcomment %}
          <img class="tw-block tw-w-full" width="51.25" height="31.88" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/smart-icon-paypal.png?v=1660017572" alt="Paypal">
        </div>
        <div class="payments__element visa">
          <img class="tw-block tw-w-full" width="51.25" height="31.88" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/smart-icon-visa.png?v=1660017571" alt="Visa">
        </div>
        <div class="payments__element master">
          <img class="tw-block tw-w-full" width="51.25" height="31.88" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/smart-icon-master.png?v=1660017572" alt="Master">
        </div>
        <div class="payments__element american">
          <img class="tw-block tw-w-full" width="51.25" height="31.88" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/smart-icon-american.png?v=1660017572" alt="American">
        </div>
      </div>  
    </div>
  </div>