
{% for link in section.settings.menu.links %}
    <li class="tw-list-none tw-my-5">
        {% if link.links.size > 0 %}
            <a onclick="{{ link.title | remove:" " | remove:"&" | replace:'รก', 'a' }}()"class="tw-font-lora tw-text-[#292929] tw-font-normal hover:tw-font-semibold tw-text-xl hover:tw-border-solid hover:tw-border-0 hover:tw-border-b-2 hover:tw-border-[#292929]">
                {{ link.title }}
            </a>
        {% else %}
        <a class="tw-font-lora tw-text-[#292929] tw-font-normal tw-text-xl hover:tw-border-solid hover:tw-border-0 hover:tw-border-b-2 hover:tw-border-[#292929]" href="{{ link.url }}?utm_source=Draft&utm_medium=Draft&utm_campaign=Draft">
            {{ link.title }}
        </a>
    {% endif%}
    </li>
{% endfor %}