
<div class="tw-flex tw-justify-start tw-items-center tw-mt-1">
    <h2 class="tw-text-xs tw-font-normal tw-mr-[15px] tw-text-[#434e5a]">
      10% de descuento adicional pagando con mercado pago
    </h2>
    {% comment %} <img
      class="tw-max-w-[50px]"
      alt="BambooPay by Atrato"
      src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/bamboo-pay-127.webp?v=1669430458"> {% endcomment %}
      <img
        class="tw-max-w-[50px]"
        alt="Mercado Pago"
        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/mercado-pago1.webp?v=1715728257">
  </div>