
<div class="tw-w-full tw-flex tw-justify-center tw-items-center">
    <div class="tw-w-full tw-max-w-[1000px] tw-flex tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-14 tw-gap-y-5">
        <img 
            loading="lazy"
            class="tw-w-full tw-rounded-lg tw-shadow-xl" 
            src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/home-image-pijama-corta.jpg?v=1684867491"
        >
        <div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center">
            <div class="tw-w-full">
                <h3 class="tw-font-lora tw-font-semibold tw-text-2xl lg:tw-text-3xl tw-mb-5 tw-text-[#434f5a] tw-text-center lg:tw-text-left">Pijama Corta</h3>
                <p class="tw-font-poppins tw-font-normal tw-text-sm tw-mb-5 tw-text-[#434f5a] tw-text-center lg:tw-text-left tw-px-3 xl:tw-px-0">Elaboradas con fibras de bambú naturalmente transpirables, lo que la convierte en una opción fresca y cómoda para dormir. Diseño elegante y cómodo.</p>
                <p class="tw-font-poppins tw-font-normal tw-text-sm tw-text-[#434f5a] tw-text-center lg:tw-text-left">desde <span class="tw-text-2xl tw-font-semibold tw-text-center lg:tw-text-left">$2,412</span></p>
            </div>
            <div class="tw-w-full tw-flex tw-justify-center lg:tw-justify-start">
                <a href="/products/pijama-de-short">
                    <button class="tw-font-poppins tw-font-medium tw-text-white hover:tw-text-[#292929] tw-my-3 md:tw-my-4 tw-bg-[#292929] hover:tw-bg-transparent tw-px-10 tw-py-2 md:tw-py-3 tw-rounded tw-w-full tw-max-w-[200px] tw-border-2 tw-border-solid tw-border-[#292929]">
                        Comprar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>