
<div id="iconos" class="general-subnav-actions__container tw-flex tw-justify-end tw-grid tw-grid-cols-2 tw-gap-x-1 asset-builder">
    <div class="tw-w-full tw-flex tw-flex-row tw-justify-center">
      <div class="tw-relative">
        <a class="tw-flex tw-font-poppins tw-no-underline tw-leading-[1.65] tw-font-semibold tw-text-[#292929] tw-text-[12px] tw-items-center" href="/apps/store-locator">
          {% render 'smart-icon-location-small' %}
          <span class="tw-hidden xl:tw-block tw-ml-[5px]">Boutiques</span>
        </a>
      </div>
    </div>
    <div class="tw-w-full tw-flex tw-flex-row tw-justify-center" id="js-count-container">
      <a href="{{ routes.cart_url }}" class="tw-flex tw-font-poppins tw-no-underline tw-leading-[1.65] tw-font-semibold tw-text-[#292929] tw-text-[12px] tw-items-center tw-relative" id="cart-icon-bubble">
        <span class="tw-animate-ping tw-absolute tw-left-0 tw-right-0 tw-ml-0 tw-mr-0 tw-hidden tw-w-full tw-h-full tw-rounded-full tw-bg-color-1 tw-opacity-70" id="cart-icon-bubble--animation"></span>
        <div class="general-subnav-cart__container tw-flex">
          {% render 'smart-icon-cart' %}
            <div class="tw-translate-y-[-50%] tw-translate-x-[-50%] tw-block md:tw-hidden tw-bg-[#292929] tw-h-[17px] tw-w-[17px] tw-rounded-full tw-relative tw-left-[3px] tw-bottom-[0px] tw-flex tw-flex-row tw-justify-center tw-items-center tw-pointer-events-none">
              {% if cart.item_count <= 9 %}
                <p class="tw-font-poppins tw-text-white tw-text-[11px] tw-font-medium tw-pointer-events-none js-items-count">{{ cart.item_count }}</p>
              {% endif %}
            </div>
        </div>
        <span class="tw-hidden xl:tw-block tw-ml-[5px]">
          Carrito
          <span id="js-items-count">
            {% if cart.item_count > 0 %}
              ({{ cart.item_count }})
            {% endif %}
          </span>
        </span>
      </a>
    </div>
</div>