
<a href="{{ url }}">
    <button class="tw-block tw-font-poppins tw-font-medium tw-text-white hover:tw-text-[#292929] tw-my-3 md:tw-my-4 tw-bg-[#292929] hover:tw-bg-transparent tw-px-10 tw-py-2 md:tw-py-5 tw-rounded tw-w-full tw-border-2 tw-border-solid tw-border-[#292929] tw-max-w-[400px]">
        {{ copy }}
    </button>
</a>