
{% if product.metafields.my_fields.descriptioncontentdetail != blank %}
    <h3 class="tw-mt-3 tw-text-[13px] tw-font-normal tw-my-7">
      {{ product.metafields.my_fields.descriptioncontentdetail }}
    </h3>
{% else %}
{% endif %}