{% comment %} Section 2 - Hybrid {% endcomment %}
<div class="tw-w-full tw-flex tw-flex-col tw-justify-start tw-items-center tw-rounded-lg tw-bg-[#f7f7f7] tw-shadow-[5px_5px_30px_3px_rgba(0,0,0,0.3)] lg:tw-shadow-[5px_5px_30px_-4px_rgba(0,0,0,0.3)] hover:tw-shadow-xl tw-shadow-gray-300 tw-h-fit">
    <img src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-Hybrid.webp?v=1675953401" alt="Colchón Smart Hybrid" class="tw-w-full tw-mx-auto">
    <p class="tw-font-poppins tw-text-center tw-font-semibold tw-text-[110%] md:tw-text-[165%] tw-text-gris tw-mt-3 tw-leading-normal">
      Colchón <br>Smart Hybrid
    </p>
    <div class="tw-w-full tw-flex tw-mt-5">
      <p class="tw-w-full tw-font-poppins tw-text-center tw-text-gris tw-h-fit">
        desde
        <span class="tw-text-2xl tw-font-normal tw-text-gris">$19,338.00</span>
        <span class="tw-line-through tw-font-semibold tw-text-gray-500 dark:tw-text-gray-400"> $25,784.00 </span>
      </p>
    </div>
    {% comment %} Iconos {% endcomment %}
    <div id="contentHybrid" style="display:none;" class="tw-w-full lg:tw-min-h-[490px] xl:tw-min-h-[490px] tw-mt-6 tw-items-center tw-content-center">
      <div class="tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-12 tw-gap-y-3 tw-gap-x-2 tw-items-center tw-content-center">
        <div class="tw-col-span-12 tw-px-5 lg:tw-px-10">
          <img src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-7.webp?v=1675953512" alt="Firmeza 7" class="tw-w-full tw-mx-auto">
        </div>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-start tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="3 capas de nivel de confort" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/gobernante.webp?v=1675960869">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-sm tw-font-normal tw-text-gris">
          Altura del colchón: 30.48 cm.
        </p>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-center tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="5 capas de confort y soporte" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-5_capas.png?v=1675867780">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-sm tw-font-normal tw-text-gris">5 capas de confort y soporte.</p>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-center tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="Dos capas de espuma de memoria de alta densidad" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-Capa2H.png?v=1675867792">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-sm tw-font-normal tw-text-gris">
          Capa de espuma viscoelástica <b>Aloe-Vera Infusion de 4cm</b>. Para tener un descanso fresco y relajado
        </p>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-center tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="resortes independientes y capa lateral de espuma" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-resortesH.png?v=1675867808">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-sm tw-font-normal tw-text-gris">
          Capa <b>Memory Coils</b> con resortes independientes y capa lateral <b>Edge Foam Support</b> de espuma de memoria de 6” de grosor de alta densidad.
        </p>
        {% comment %} <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-center tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="Capa Airflow Gel-Firm: capa de espuma viscoelástica de 4 cm ayuda a mejorar la ergonomía." src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-regalo-incluido-min.webp?v=1661533819">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-xs tw-font-semibold tw-text-gris">
          1 Set de Sábanas 100% Bamboo, 2 almohadas Lego, 1 protector de colchón * Aplica T&C
        </p> {% endcomment %}
      </div>
    </div>
  
    {% comment %} Botón comprar {% endcomment %}
    <a class="tw-w-full tw-flex tw-align-center tw-justify-center" href="/products/colchon-smart-hybrid">
      <button class="tw-w-2/3 tw-bg-amarillo hover:tw-bg-black tw-rounded tw-py-3 tw-my-3 tw-font-poppins tw-text-[110%] tw-font-medium tw-text-white tw-w-full tw-text-center">
        Comprar
      </button>
    </a>
    {% comment %} Boton Detalles {% endcomment %}
    <button onclick="layerHybrid()" style="display:none;" id="verMasHybrid" class="tw-w-2/3 tw-bg-transparent hover:tw-bg-black tw-rounded tw-border tw-border-[2px] tw-border-solid tw-border-black tw-font-poppins tw-text-base tw-font-medium tw-text-black hover:tw-text-white tw-w-full tw-text-center tw-py-1.5 tw-justify-center tw-items-center tw-mb-8">
      Detalles
    </button>
  
    {% comment %} Contenedor detalles {% endcomment %}
    <div style="display:none;" id="matressContainerHybrid" class="tw-w-full tw-font-poppins tw-text-xs lg:tw-text-sm tw-font-normal tw-text-gris tw-p-4 tw-my-6">
      <p id="matressContentHybrid" class="tw-px-6 tw-text-center"></p>
      <ul style="display:none;" id="hybridUl" class="tw-px-12">
        <li class="tw-mt-4" id="hybridBulletOne"></li>
        <li class="tw-mt-3" id="hybridBulletTwo"></li>
        <li class="tw-mt-3" id="hybridBulletThree"></li>
        <li class="tw-mt-3" id="hybridBulletFour"></li>
        <li class="tw-mt-3" id="hybridBulletFive"></li>
        <li class="tw-mt-3" id="hybridBulletSix"></li>
        <li class="tw-mt-3" id="hybridBulletSeven"></li>
      </ul>
    </div>
  
    {% comment %} Boton Ver menos {% endcomment %}
    <button onclick="dismountElementsHybrid()" style="display:none;" id="verMenosHybrid" class="tw-w-2/3 tw-bg-transparent hover:tw-bg-black tw-rounded tw-border tw-border-[2px] tw-border-solid tw-border-black tw-font-poppins tw-text-base tw-font-medium tw-text-black hover:tw-text-white tw-w-full tw-text-center tw-py-1.5 tw-justify-center tw-items-center tw-mb-8">
      Ver menos
    </button>
  </div>