<li class="tw-w-full tw-flex tw-flex-col tw-py-3">
    <div id="textSummaryBundleMagic" class="tw-hidden">
      <p class="tw-pt-3 tw-mb-2 tw-font-poppins tw-text-[18px] tw-font-semibold tw-text-[#292929]">
        Resumen de Carrito:
      </p>
  
      {% comment %} Contenido para el checkout {% endcomment %}
      <div id="tablaCarrito">
        <div class="tw-grid tw-grid-cols-12 tw-border-solid tw-border-[1px] tw-border-gray-200 tw-rounded tw-p-4" id="itemslist">
  
          <div class="tw-col-span-12 lg:tw-col-span-7 tw-grid tw-grid-cols-6 lg:tw-grid-cols-2 lg:tw-grid-rows-2 tw-border tw-border-solid tw-border-2 tw-border-transparent lg:tw-border-b-gray-200 tw-pb-2 xl:tw-pb-0 tw-hidden producto1wrapper">
            <div class="tw-col-span-4 lg:tw-col-span-1">
              <div class="">
                <p class="tw-font-poppins tw-text-xl lg:tw-text-lg tw-font-semibold cartnombre1">
                  Nombre product
                </p>
              </div>
              {% comment %} Variante en mobile {% endcomment %}
              <div class="tw-block lg:tw-hidden">
                <p class="tw-font-poppins tw-text-lg tw-font-normal tw-text-[#666666] carttamano1">
                  Variantes en mobile, queen
                </p>
              </div>
            </div>
            <div class="tw-hidden lg:tw-block tw-self-center">
              {% comment %} Precio sin descuento en desktop {% endcomment %}
              <p class="tw-font-poppins tw-text-[13px] tw-font-light lg:tw-font-normal tw-text-[#666666] tw-text-right tw-line-through tw-mr-8 cartprecio1">
                $1,509.00
              </p>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1">
              {% comment %} <div class="tw-block lg:tw-hidden tw-text-end tw-font-bold">
              ...
              </div> {% endcomment %}
              <div class="tw-block lg:tw-hidden">
                <button class="tw-w-full tw-flex tw-justify-end tw-items-center">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/borrar.webp?v=1707410336"
                    alt="eliminar"
                    class="tw-h-4 cartdelete1"
                    onclick="updateObjCart('cantidad1', 'delete')">
                </button>
              </div>
  
              {% comment %} Variante en escritorio {% endcomment %}
              <div class="tw-hidden lg:tw-block">
                <p class="tw-font-poppins tw-text-base tw-font-light lg:tw-font-normal tw-text-[#666666] tw-items-center carttamano1">
                  Variant queen
                </p>
              </div>
            </div>
            <div class="tw-hidden lg:tw-block">
              {% comment %} Precio con descuento en desktop {% endcomment %}
              <p class="tw-font-poppins tw-text-lg tw-font-semibold tw-text-right tw-mr-8 cartpreciodescuento1">
                $1,350.00
              </p>
            </div>
          </div>
          <div class="tw-col-span-12 lg:tw-col-span-5 tw-grid tw-grid-cols-12 lg:tw-grid-cols-4 tw-gap-x-2 tw-items-center tw-border tw-border-solid tw-border-2 tw-border-transparent tw-border-b-gray-200 tw-pb-2 lg:tw-pb-0 tw-hidden producto1wrapper">
            {% comment %} Precios en mobile {% endcomment %}
            <div class="tw-block lg:tw-hidden tw-col-span-6">
              <div class="">
                {% comment %} Precio sin descuento en mobile {% endcomment %}
                <p class="tw-font-poppins tw-text-lg tw-font-normal tw-text-[#666666] tw-line-through tw-mt-1 cartprecio1">
                  $1,509.00
                </p>
              </div>
              <div class="">
                {% comment %} Precio en mobile {% endcomment %}
                <p class="tw-font-poppins tw-text-xl tw-font-bold cartpreciodescuento1">
                  $1,350.00
                </p>
              </div>
            </div>
  
            {% comment %} Botones {% endcomment %}
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <button class="tw-min-h-[35px] tw-min-w-[35px] tw-bg-[#949494] tw-text-white tw-text-4xl tw-font-normal tw-rounded cartremove1" onclick="updateObjCart('cantidad1', 'remove')">
                -
              </button>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <p class="tw-text-lg tw-text-center cartcantidad1">
                2
              </p>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <button class="tw-min-h-[35px] tw-min-w-[35px] tw-bg-[#949494] tw-text-white tw-text-4xl tw-font-normal tw-rounded caradd1" onclick="updateObjCart('cantidad1', 'add')">
                +
              </button>
            </div>
            <div class="tw-hidden lg:tw-block lg:tw-col-span-1">
              <button class="tw-w-full tw-flex tw-justify-center tw-self-center tw-bg-transparent">
                <img
                  src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/borrar.webp?v=1707410336"
                  alt="eliminar"
                  class="tw-h-4 pt-2 cartdelete1"
                  onclick="updateObjCart('cantidad1', 'delete')">
              </button>
            </div>
          </div>
          <!-- Producto 1 -->
  
  
          <div class="tw-col-span-12 lg:tw-col-span-7 tw-grid tw-grid-cols-6 lg:tw-grid-cols-2 lg:tw-grid-rows-2 tw-border tw-border-solid tw-border-2 tw-border-transparent lg:tw-border-b-gray-200 tw-py-2 tw-my-3 lg:tw-my-0 tw-hidden producto2wrapper">
            <div class="tw-col-span-4 lg:tw-col-span-1">
              <div class="">
                <p class="tw-font-poppins tw-text-xl lg:tw-text-lg tw-font-semibold cartnombre2">
                  Nombre product
                </p>
              </div>
              {% comment %} Variante en mobile {% endcomment %}
              <div class="tw-block lg:tw-hidden">
                <p class="tw-font-poppins tw-text-lg tw-font-normal tw-text-[#666666] carttamano2">
                  Variantes en mobile, queen
                </p>
              </div>
            </div>
            <div class="tw-hidden lg:tw-block tw-self-center">
              {% comment %} Precio sin descuento en desktop {% endcomment %}
              <p class="tw-font-poppins tw-text-[13px] tw-font-light lg:tw-font-normal tw-text-[#666666] tw-text-right tw-line-through tw-mr-8 cartprecio2">
                $1,509.00
              </p>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1">
              {% comment %} <div class="tw-block lg:tw-hidden tw-text-end tw-font-bold">
              ...
              </div> {% endcomment %}
              <div class="tw-block lg:tw-hidden">
                <button class="tw-w-full tw-flex tw-justify-end tw-items-center tw-bg-transparent">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/borrar.webp?v=1707410336"
                    alt="eliminar"
                    class="tw-h-4 cartdelete2"
                    onclick="updateObjCart('cantidad2', 'delete')">
                </button>
              </div>
  
              {% comment %} Variante en escritorio {% endcomment %}
              <div class="tw-hidden lg:tw-block">
                <p class="tw-font-poppins tw-text-base tw-font-light lg:tw-font-normal tw-text-[#666666] tw-items-center carttamano2">
                  Variant queen
                </p>
              </div>
            </div>
            <div class="tw-hidden lg:tw-block">
              {% comment %} Precio con descuento en desktop {% endcomment %}
              <p class="tw-font-poppins tw-text-lg tw-font-semibold tw-text-right tw-mr-8 cartpreciodescuento2">
                $1,350.00
              </p>
            </div>
          </div>
          <div class="tw-col-span-12 lg:tw-col-span-5 tw-grid tw-grid-cols-12 lg:tw-grid-cols-4 tw-gap-x-2 tw-items-center tw-border tw-border-solid tw-border-2 tw-border-transparent tw-border-b-gray-200 tw-pb-2 lg:tw-pb-0 tw-hidden producto2wrapper">
            {% comment %} Precios en mobile {% endcomment %}
            <div class="tw-block lg:tw-hidden tw-col-span-6">
              <div class="">
                {% comment %} Precio sin descuento en mobile {% endcomment %}
                <p class="tw-font-poppins tw-text-lg tw-font-normal tw-text-[#666666] tw-line-through tw-mt-1 cartprecio2">
                  $1,509.00
                </p>
              </div>
              <div class="">
                {% comment %} Precio en mobile {% endcomment %}
                <p class="tw-font-poppins tw-text-xl tw-font-bold cartpreciodescuento2">
                  $1,350.00
                </p>
              </div>
            </div> 
  
            {% comment %} Botones {% endcomment %}
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <button class="tw-min-h-[35px] tw-min-w-[35px] tw-bg-[#949494] tw-text-white tw-text-4xl tw-font-normal tw-rounded cartremove2" onclick="updateObjCart('cantidad2', 'remove')">
                -
              </button>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <p class="tw-text-lg tw-text-center cartcantidad2">
                2
              </p>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <button class="tw-min-h-[35px] tw-min-w-[35px] tw-bg-[#949494] tw-text-white tw-text-4xl tw-font-normal tw-rounded caradd2" onclick="updateObjCart('cantidad2', 'add')">
                +
              </button>
            </div>
            <div class="tw-hidden lg:tw-block lg:tw-col-span-1">
              <button class="tw-w-full tw-flex tw-justify-center tw-self-center tw-bg-transparent">
                <img
                  src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/borrar.webp?v=1707410336"
                  alt="eliminar"
                  class="tw-h-6 tw-pt-2 cartdelete2"
                  onclick="updateObjCart('cantidad2', 'delete')">
              </button>
            </div>
          </div>
          <!-- Producto 2 -->
  
  
          <div class="tw-col-span-12 lg:tw-col-span-7 tw-grid tw-grid-cols-6 lg:tw-grid-cols-2 lg:tw-grid-rows-2 pt-2 tw-mt-3 lg:tw-mt-0 tw-hidden producto3wrapper">
            <div class="tw-col-span-4 lg:tw-col-span-1">
              <div class="">
                <p class="tw-font-poppins tw-text-xl lg:tw-text-lg tw-font-semibold cartnombre3">
                  Nombre product
                </p>
              </div>
              {% comment %} Variante en mobile {% endcomment %}
              <div class="tw-block lg:tw-hidden">
                <p class="tw-font-poppins tw-text-lg tw-font-normal tw-text-[#666666] carttamano3">
                  Variantes en mobile, queen
                </p>
              </div>
            </div>
            <div class="tw-hidden lg:tw-block tw-self-center">
              {% comment %} Precio sin descuento en desktop {% endcomment %}
              <p class="tw-font-poppins tw-text-[13px] tw-font-light lg:tw-font-normal tw-text-[#666666] tw-text-right tw-line-through tw-mr-8 cartprecio3">
                $1,509.00
              </p>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1">
              {% comment %} <div class="tw-block lg:tw-hidden tw-text-end tw-font-bold">
              ...
              </div> {% endcomment %}
              <div class="tw-block lg:tw-hidden">
                <button class="tw-w-full tw-flex tw-justify-end tw-items-center tw-bg-transparent">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/borrar.webp?v=1707410336"
                    alt="eliminar"
                    class="tw-h-4 cartdelete3"
                    onclick="updateObjCart('cantidad3', 'delete')">
                </button>
              </div>
  
              {% comment %} Variante en escritorio {% endcomment %}
              <div class="tw-hidden lg:tw-block">
                <p class="tw-font-poppins tw-text-base tw-font-light lg:tw-font-normal tw-text-[#666666] tw-items-center carttamano3">
                  Variant queen
                </p>
              </div>
            </div>
            <div class="tw-hidden lg:tw-block">
              {% comment %} Precio con descuento en desktop {% endcomment %}
              <p class="tw-font-poppins tw-text-lg tw-font-semibold tw-text-right tw-mr-8 cartpreciodescuento3">
                $1,350.00
              </p>
            </div>
          </div>
          <div class="tw-col-span-12 lg:tw-col-span-5 tw-grid tw-grid-cols-12 lg:tw-grid-cols-4 tw-gap-x-2 tw-items-center pt-2 tw-hidden producto3wrapper">
            {% comment %} Precios en mobile {% endcomment %}
            <div class="tw-block lg:tw-hidden tw-col-span-6">
              <div class="">
                {% comment %} Precio sin descuento en mobile {% endcomment %}
                <p class="tw-font-poppins tw-text-lg tw-font-normal tw-text-[#666666] tw-line-through tw-mt-1 cartprecio3">
                  $1,509.00
                </p>
              </div>
              <div class="">
                {% comment %} Precio en mobile {% endcomment %}
                <p class="tw-font-poppins tw-text-xl tw-font-bold cartpreciodescuento3">
                  $1,350.00
                </p>
              </div>
            </div>
  
            {% comment %} Botones {% endcomment %}
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <button class="tw-min-h-[35px] tw-min-w-[35px] tw-bg-[#949494] tw-text-white tw-text-4xl tw-font-normal tw-rounded cartremove3" onclick="updateObjCart('cantidad3', 'remove')">
                -
              </button>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <p class="tw-text-lg tw-text-center cartcantidad3">
                2
              </p>
            </div>
            <div class="tw-col-span-2 lg:tw-col-span-1 tw-flex tw-justify-center">
              <button class="tw-min-h-[35px] tw-min-w-[35px] tw-bg-[#949494] tw-text-white tw-text-4xl tw-font-normal tw-rounded caradd3" onclick="updateObjCart('cantidad3', 'add')">
                +
              </button>
            </div>
            <div class="tw-hidden lg:tw-block lg:tw-col-span-1">
              <button class="tw-w-full tw-flex tw-justify-center tw-self-center tw-bg-transparent">
                <img
                  src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/borrar.webp?v=1707410336"
                  alt="eliminar"
                  class="tw-h-6 tw-pt-2 cartdelete3"
                  onclick="updateObjCart('cantidad3', 'delete')">
              </button>
            </div>
          </div>
          <!-- Producto 3 -->
  
        </div>
  
        <div class="tw-w-full tw-justify-end tw-mt-3 tw-hidden resumen">
          {% comment %} <p class="tw-w-full tw-font-poppins tw-text-right tw-text-[14px] tw-font-normal tw-flex tw-flex-row tw-justify-between tw-border-transparent tw-border-b-gray-300">
          <span>Número de artículos:</span> <span class="tw-font-normal tw-text-[15px] cartArticulos">3</span></p> {% endcomment %}
          {% comment %} <p class="tw-w-full tw-font-poppins tw-text-right tw-text-[14px] tw-font-normal tw-flex tw-flex-row tw-justify-between tw-border-transparent tw-border-b-gray-300">
          <span>Subtotal:</span>
          <span class="tw-font-normal tw-text-[15px] cartSubtotal">$35,000</span>
          </p> {% endcomment %}
          {% comment %} <p class="tw-w-full tw-font-poppins tw-text-right tw-text-[14px] tw-font-normal tw-flex tw-flex-row tw-justify-between tw-border-transparent tw-border-b-gray-300 ahorroPrice">
          <span>Descuento:</span> <span class="tw-font-normal tw-text-[15px] cartDescuento">$7,000</span></p> {% endcomment %}
            <p class="tw-w-full tw-font-poppins tw-text-right tw-text-[14px] tw-font-semibold tw-flex tw-flex-row tw-justify-between tw-border-transparent tw-border-b-gray-300 tw-bg-[#f3f3f3] tw-rounded-lg"> <span>Total:</span>
            <span class="tw-font-semibold tw-text-[16px] cartTotal">$28,000</span>
          </p>
          <div id="wrapper5OFF"></div>
        </div>
  
        <div class="tw-flex tw-flex-row tw-hidden resumencupon">
          <div class="tw-flex tw-flex-row tw-justify-between">
            <p class="tw-w-full tw-font-poppins tw-text-right tw-text-[14px] tw-font-normal tw-flex tw-border-transparent tw-border-b-gray-300" id="descuento5OFF">Descuento Cupón<span class="tw-bg-[#C9D5C5] tw-text-[#605A5A] tw-rounded-lg tw-text-[12px] tw-px-2 tw-ml-2">{{ product.metafields.custom.coupon }}</span>
            </p>
            <p class="tw-font-normal tw-text-[15px] cartCupon">$3,000</p>
          </div>
  
          <div class="tw-flex tw-flex-row tw-justify-between tw-bg-[#f3f3f3] tw-rounded-lg">
            <p class="tw-w-full tw-font-poppins tw-text-right tw-text-[14px] tw-font-semibold tw-flex tw-flex-row tw-justify-between tw-border-transparent tw-border-b-gray-300 tw-rounded-[3px] tw-py-1" id="totaldescuento5OFF">
              <span>TOTAL A PAGAR</span>
            </p>
            <p class="tw-font-semibold tw-text-[16px] cartPagar">$25,000</p>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="tw-w-full tw-flex tw-flex-row tw-justify-center tw-mt-3">
      <button
        onclick="buyProducts()"
        id="buttonBuyProducts"
        class="tw-w-full tw-bg-[#292929] tw-text-white tw-text-base tw-font-normal hover:tw-font-semibold focus:tw-font-normal tw-rounded tw-border-solid tw-border-[1px] tw-border-[#292929] tw-flex tw-justify-center tw-items-center tw-px-8 tw-py-3">
          AGREGAR A CARRITO
      </button>
    </div>
  </li>