
{% if product.metafields.custom.devoluciones_satisfaccion != blank %}
    <p class="tw-font-poppins tw-text-sm md:tw-text-[14px] tw-font-normal tw-px-3 tw-leading-normal">
      {{ product.metafields.custom.devoluciones_satisfaccion }}
    </p>
  {% else %}
{% endif %}   