<div onclick="renderSmartMenu()" class="tw-p-5 tw-max-w-[100px]">
    <div class="tw-border-solid tw-border-2 tw-border-black tw-w-full tw-max-w-[40px]"></div>
    <div class="tw-border-solid tw-border-2 tw-border-black tw-w-full tw-max-w-[40px] tw-mt-1"></div>
    <div class="tw-border-solid tw-border-2 tw-border-black tw-w-full tw-max-w-[40px] tw-mt-1"></div>
</div>