<div>
    <p class="tw-font-poppins tw-text-sm md:tw-text-[14px] tw-font-normal tw-px-3 tw-leading-normal tw-pt-3">
        Envío gratis en toda la República Mexicana por Paquete Express, Tres Guerras o Estafeta.<br>
        Ciudad de México, Guadalajara, Toluca, Monterrey, Puebla, Querétaro y Metepec:   <b>24 a 48 h.</b> en días hábiles.*<br>
        Resto de la República: 3 a 7 días hábiles.*<br>
    </p>
    <p class="tw-font-poppins tw-text-[10px] md:tw-text-[11px] tw-font-normal tw-px-3 tw-leading-normal tw-pt-1">
        * Dependiendo del estado y la zona.<br>
    </p>
    <p class="tw-font-poppins tw-text-[10px] md:tw-text-[11px] tw-font-normal tw-px-3 tw-leading-normal tw-pt-1">
        * Baja California, Cancún, Tijuana y Tlaxcala son considerados puntos de difícil acceso, por lo que las entregas pueden demorar más de lo habitual.
    </p>
</div>