

{% comment %} Section 1 - Firm {% endcomment %}
<div class="tw-w-full tw-flex tw-flex-col tw-justify-start tw-items-center tw-rounded-lg tw-bg-[#f7f7f7] tw-shadow-[5px_5px_30px_3px_rgba(0,0,0,0.3)] lg:tw-shadow-[5px_5px_30px_-4px_rgba(0,0,0,0.3)] hover:tw-shadow-xl tw-shadow-gray-300 tw-h-fit">
    <img src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-Firm.webp?v=1675953387" alt="Colchón Smart Firm" class="tw-w-full tw-mx-auto">
    <p class="tw-font-poppins tw-text-center tw-font-semibold tw-text-[110%] md:tw-text-[165%] tw-text-gris tw-mt-3 tw-leading-normal">
      Colchón <br>Smart Firm
    </p>
    <div class="tw-w-full tw-flex tw-mt-5">
      <p class="tw-w-full tw-font-poppins tw-text-center tw-text-gris tw-h-fit">
        desde
        <span class="tw-text-2xl tw-font-normal tw-text-gris">$19,678.00</span>
        <span class="tw-line-through tw-font-semibold tw-text-gray-500 dark:tw-text-gray-400"> $23,150.00 </span>
      </p>
    </div>
    
  
    {% comment %} Iconos {% endcomment %}
    <div id="contentFirm" style="display:none;" class="tw-w-full lg:tw-min-h-[483px] xl:tw-min-h-[483px] tw-mt-6 tw-items-center tw-content-center">
      <div class="tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-12 tw-gap-y-6 tw-gap-x-2 tw-items-center tw-content-center">
        <div class="tw-col-span-12 tw-px-5 lg:tw-px-10">
          <img src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-8.5.webp?v=1675953518" alt="Firmeza 8.5" class="tw-w-full tw-mx-auto">
        </div>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-start tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="3 capas de nivel de confort" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/gobernante.webp?v=1675960869">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-sm tw-font-normal tw-text-gris">
          Altura del colchón: 25.40 cm.
        </p>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-start tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="3 capas de nivel de confort" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-capa2.png?v=1675867250">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-sm tw-font-normal tw-text-gris">
          3 capas de nivel de confort.
        </p>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-start tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="Capa Advanced Support: de alta densidad memory foam de 18 cm. de grosor" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-capa3.png?v=1675867256">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-sm tw-font-normal tw-text-gris">
          <b>Capa Advanced Support:</b> de alta densidad memory foam de 18 cm. de grosor.
        </p>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-center tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="Capa Airflow Gel-Firm: capa de espuma viscoelástica de 4 cm ayuda a mejorar la ergonomía." src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/asset_colchones-cpa1.png?v=1675867202">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-sm tw-font-normal tw-text-gris">
          <b>Capa Airflow Gel-Firm:</b> capa de espuma viscoelástica de 4 cm ayuda a mejorar la ergonomía.
        </p>
        <div class="tw-col-start-2 tw-col-span-2 tw-flex tw-flex-col tw-justify-center tw-items-center tw-content-center">
          <img class="tw-h-[35px] tw-mx-auto tw-block" alt="Capa Airflow Gel-Firm: capa de espuma viscoelástica de 4 cm ayuda a mejorar la ergonomía." src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-regalo-incluido-min.webp?v=1661533819">
        </div>
        <p class="tw-col-span-8 tw-font-poppins tw-text-xs tw-font-semibold tw-text-gris">
          1 Set de Sábanas 100% Bamboo, 2 almohadas Lego, 1 protector de colchón * Aplica T&C
        </p>
      </div>
      
    </div>
  
    {% comment %} Botón comprar {% endcomment %}
    <a class="tw-w-full tw-flex tw-align-center tw-justify-center" href="/products/colchon-smart-firm">
      <button class="tw-w-2/3 tw-bg-amarillo hover:tw-bg-black tw-rounded tw-py-3 tw-my-3 tw-font-poppins tw-text-[110%] tw-font-medium tw-text-white tw-w-full tw-text-center">
        Comprar
      </button>
    </a>
    {% comment %} Boton Detalles {% endcomment %}
      <button onclick="layerFirm()" style="display:none" id="verMasFirm" class="tw-w-2/3 tw-bg-transparent hover:tw-bg-black tw-rounded tw-border tw-border-[2px] tw-border-solid tw-border-black tw-font-poppins tw-text-[110%] tw-font-medium tw-text-black hover:tw-text-white tw-w-full tw-text-center tw-py-1.5 tw-justify-center tw-items-center tw-mb-8">
        Detalles
      </button>
  
    {% comment %} Contenedor detalles {% endcomment %}
    <div style="display:none;" id="matressContainer" class="tw-w-full tw-font-poppins tw-text-xs lg:tw-text-sm tw-font-normal tw-text-gris tw-my-6">
      <p id="matressContent" class="tw-px-6 tw-text-center tw-text-[14px] tw-leading-normal"></p>
      <ul style="display:none;" id="firmUl" class="tw-px-12 tw-text-[13px] tw-leading-normal">
        <li class="tw-mt-4" id="firmBulletOne">
        </li>
        <li class="tw-mt-3" id="firmBulletTwo">
        </li>
        <li class="tw-mt-3" id="firmBulletThree">
        </li>
        <li class="tw-mt-3" id="firmBulletFour">
        </li>
        <li class="tw-mt-3" id="firmBulletFive">
        </li>
        <li class="tw-mt-3" id="firmBulletSix">
        </li>
        <li class="tw-mt-3" id="firmBulletSeven">
        </li>
      </ul>
    </div>
  
    {% comment %} Boton Ver menos {% endcomment %}
      <button onclick="dismountElementsFirm()" style="display:none;" id="verMenosFirm" class="tw-w-2/3 tw-bg-transparent hover:tw-bg-black tw-rounded tw-border tw-border-[2px] tw-border-solid tw-border-black tw-font-poppins tw-text-[110%] tw-font-medium tw-text-black hover:tw-text-white tw-w-full tw-text-center tw-py-1.5 tw-justify-center tw-items-center tw-mb-8">
        Ver menos
      </button>
  </div>