{% assign product = ProductObject %}

{% if product.tags contains 'memoryfoam' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_MemoryFoam.webp?v=1698158896">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Memoryfoam</p>
  </div>
{% endif %}

{% if product.tags contains 'cashback' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Cashback.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Cashback</p>
  </div>
{% endif %}

{% if product.tags contains 'certificado' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Certificacion.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Certificado</p>
  </div>
{% endif %}

{% if product.tags contains 'antimicrobiano' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Antimicrobiano.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Antimicrobiano</p>
  </div>
{% endif %}

{% if product.tags contains 'hipoalergenico' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Hipoalergenico.webp?v=1698852206">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Hipoalergénico</p>
  </div>
{% endif %}

{% if product.tags contains 'bamboo' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Bamboo.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Bambú</p>
  </div>
{% endif %}

{% if product.tags contains 'microfibra' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Microfiber.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Microfibra</p>
  </div>
{% endif %}

{% if product.tags contains 'seda' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Seda.webp?v=1698158896">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Seda</p>
  </div>
{% endif %}

{% if product.tags contains 'extra-suave' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_UltraSuavidad.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Extra suave</p>
  </div>
{% endif %}

{% if product.tags contains 'pre-lavado' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Prelavado.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Pre lavado</p>
  </div>
{% endif %}

{% if product.tags contains 'transpirable' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Tanspirable.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Transpirable</p>
  </div>
{% endif %}

{% if product.tags contains 'algodon' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Algodon.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Algodón</p>
  </div>
{% endif %}

{% if product.tags contains 'personalizado' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Personalizado.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Personalizado</p>
  </div>
{% endif %}

{% if product.tags contains 'masaje' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Masaje.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Masaje</p>
  </div>
{% endif %}

{% if product.tags contains 'spa' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Spa.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Spa</p>
  </div>
{% endif %}

{% if product.tags contains 'ecofriendly' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_Ecofriendly.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Ecofriendly</p>
  </div>
{% endif %}

{% if product.tags contains 'mas-vendido' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_MasVendido.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Más Vendido</p>
  </div>
{% endif %}

{% if product.tags contains 'luxury-choice' %}
  <div class="tw-max-h-[30px] tw-flex tw-flex-row tw-items-center tw-justify-center tw-gap-x-2 tw-border-solid tw-border-[1.5px] tw-border-[#C9D5C5] hover:tw-border-[#9caa98] tw-px-1 tw-py-0.5 tw-rounded-[5px]">
    <img class="tw-max-w-[24px] tw-max-h-[28px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/tag_LuxuryChoice.webp?v=1698158897">
    <p class="tw-font-poppins tw-text-center tw-text-[12px] tw-font-normal tw-text-[#415934] hover:tw-text-[#2b3c21] tw-leading-none">Luxury</p>
  </div>
{% endif %}