
<div class="tw-w-full tw-flex tw-items-center tw-justify-center tw-my-3 tw-px-4">
    <div class="tw-w-full tw-bg-[#f3f3f3] tw-flex tw-flex-cols tw-grid tw-grid-cols-10 tw-rounded-lg">
        <div class="tw-col-span-1 tw-flex tw-items-center tw-justify-center tw-p-2">
            <img class="tw-w-full tw-max-w-[20px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/ubicacion.webp?v=17158745084">
        </div>
        <div class="tw-col-span-9 tw-py-2 tw-flex tw-items-center">
                <p class="tw-text-[12px]">Disponible para recoger en tienda</p>
        </div>
    </div>
</div>