<section id="SmartMegaMenu" class="tw-absolute tw-hidden lg:tw-backdrop-blur-sm tw-bg-white lg:tw-bg-white/30 tw-w-screen tw-h-screen transition-menu-builder">
    <div class="tw-max-h-[100px] tw-flex tw-items-center tw-justify-end tw-bg-white">
        <span onclick="disableSmartMenu()" class="tw-text-xl tw-mr-10">Cerrar X <span>
    </div>
    <div class="tw-flex tw-grid tw-grid-cols-1 lg:tw-grid-cols-12">
        <div class="tw-col-span-8 tw-w-full tw-h-screen tw-flex tw-grid tw-grid-cols-1 lg:tw-grid-cols-4">

            {% comment %} <p>
                Tu pantalla la consideramos: 
                
                <script> 
                if (screen.width < 1024) 
                   document.write ("Pequeña") 
                else 
                   if (screen.width < 1280) 
                      document.write ("Mediana") 
                   else 
                      document.write ("Grande") 
                </script>
                </p> {% endcomment %}

            <div class="tw-hidden lg:tw-block tw-px-5 lg:tw-col-span-1 tw-bg-white transition-parent-col-builder">
                {% render 'smart-meta-parent-menu' %}
            </div>

            <div id="parentMenuCol" class="tw-block lg:tw-hidden tw-px-5 lg:tw-col-span-1 tw-bg-white">
                {% render 'smart-meta-parent-menu' %}
            </div>

            {% comment %} Iterar los snippets {% endcomment %}
            <div id="childMenuCol" class="lg:tw-col-span-1 tw-hidden tw-bg-[#f6f6f6] transition-child-col-builder">
                {% for link in section.settings.menu.links %}
                    {% assign parentCollectionName = link.title %}
                    <div id="{{ link.title | remove:" " | remove:"&" | replace:'á', 'a' | remove:"de" }}Menu" class="tw-hidden tw-w-5/6 lg:tw-w-fit tw-h-full tw-px-10">
                        {% render 'smart-meta-child-menu', collection: parentCollectionName %}
                    </div>
                {% endfor%}
            </div>

            {% comment %} <div class="tw-bg-amarillo lg:tw-col-span-2">


                
                


            </div> {% endcomment %}
            
        </div>

         <div class="tw-w-full tw-h-screen tw-col-span-4 tw-bg-cover tw-bg-center tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart-Bamboo-Sabanas-Supreme-Oxford-04.webp?v=1684189028')]">
            {% comment %} image  {% endcomment %}
        </div> 
    </div>
</section>


<style>
   .transition-menu-builder { animation-name: transition-menu-appear; animation-duration: 1s;}
   .transition-parent-col-builder { animation-name: transition-parent-col-appear; animation-duration: 2s;}
   .transition-child-col-builder { animation-name: transition-child-col-appear-mobile; animation-duration: 1s;}

   @media  only screen and (max-width: 9999px) and (min-width: 768px) {
    .transition-parent-col-builder { z-index: 9999}
    .transition-child-col-builder { animation-name: transition-child-col-appear; animation-duration: 3s;}  
}


   @keyframes transition-menu-appear {
    0%   {display: none; opacity: 0; }
    25%  {display: none; opacity: 0; }
    70%  {display: block; opacity: 1; }
    100% {display: block; opacity: 1; }
  }  

  @keyframes transition-parent-col-appear {
    0%   {display: none; opacity: 0; translate: -100% 0px;}
    25%  {display: none; opacity: 0; translate: -100% 0px;}
    70%  {display: block; opacity: 1; translate: 0px 0px;}
    100% {display: block; opacity: 1; translate: 0px 0px;}
  }

  @keyframes transition-child-col-appear {
    0%   {display: block; opacity: 1; translate: -100% 0px;}
    25%  {display: block; opacity: 1; translate: -100% 0px;}
    70%  {display: block; opacity: 1; translate: 0px 0px;}
    100% {display: none; opacity: 1; translate: 0px 0px;}
  } 

  @keyframes transition-child-col-appear-mobile {
    0%   {display: block; opacity: 1; translate: 100% 0px;}
    10% {display: block; opacity: 1; translate: 0px 0px;}
    100% {display: block; opacity: 1; translate: 0px 0px;}
  } 

  
  
  
</style>