<section class="tw-w-full tw-h-full  tw-bg-[#b71e29] tw-flex tw-items-center tw-justify-center tw-py-1 lg:tw-py-8">
    <div class="tw-max-w-[1300px] 2xl:tw-max-w-[1400px] tw-w-full">
        <div class="tw-flex tw-flex-col lg:tw-grid lg:tw-grid-cols-2">
    
            <div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-py-6">
                <h3 class="tw-text-[12px] xl:tw-text-[15px] tw-text-center tw-text-white tw-font-normal">
                    El Hot Sale 2024 ya está aquí
                  </h3>
                <img class="tw-max-w-[250px] md:tw-max-w-[350px] xl:w-max-w-[450px] 2xl:tw-max-w-[450px] tw-pt-4" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/txt_hero_hotsale.webp?v=1713747392" alt="10 de mayo Smart Bamboo">
                <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-mt-4">
                    <h3 class="tw-text-[12px] xl:tw-text-[15px] tw-text-center tw-text-white tw-font-normal tw-w-full">
                      ¡Del 15 al 23 de mayo!
                    </h3>
                    <p class="tw-text-[10px] xl:tw-text-[13px] tw-text-center tw-text-white tw-font-normal  tw-w-full">
                        *Consulta Vigencia de Precios y T&C.
                    </p>
                </div>
            </div>
  
            <div class="tw-w-full tw-flex tw-items-center tw-justify-center tw-py-10 lg:tw-py-0">
                <img class="tw-w-full tw-max-w-[300px] md:tw-max-w-[300px] lg:tw-max-w-[400px] xl:tw-max-w-[500px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/image_hero_hotsale.webp?v=1713747392">
            </div>
    
        </div>
    </div>
  </section>

{% comment %} <section class="tw-w-full tw-flex tw-justify-center tw-items-center tw-bg-[#c01d2b] tw-p-5 md:tw-p-14">
    <div class="tw-max-w-[1300px] tw-w-full tw-grid tw-grid-cols-1 lg:tw-grid-cols-2">
        
        <div class="tw-bg-[#c01d2b] tw-h-full tw-w-full tw-flex tw-flex-col tw-justify-center">
            <div class="tw-py-10">
                <p class="tw-text-center tw-text-white tw-font-normal lg:tw-font-semibold tw-text-lg lg:tw-text-xl">El Hot Sale 2024 está por llegar</p>
                <h1 class="tw-text-center tw-text-white tw-text-4xl tw-mt-5 lg:tw-mt-10">¡Te esperamos del  <br class="tw-block md:tw-hidden"> <b> 15 al 23 de mayo</b>! </h1>
            </div>
            <div class="tw-flex tw-flex-col">
                <p class="tw-text-center tw-text-white tw-text-sm lg:tw-text-lg tw-mb-2">Faltan:</p>
                {% render 'countdown-cuatro' %}
                <p class="tw-text-center tw-text-white tw-text-sm lg:tw-text-lg tw-my-2">para conocer las promociones de la edición 2023</p>
            </div> 
        </div>

        <div class="tw-bg-[#c01d2b] tw-h-full">
            <img class="tw-block lg:tw-hidden" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hot-sale-mobile.png?v=1681839796" alt="hot sale">
            <img class="tw-hidden lg:tw-block" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hot-sale_desktop.png?v=1681839796" alt="hot sale">
        </div>  
        
    </div>
</section> {% endcomment %}