
<section>
    <div class="tw-bg-[#ddd5d2] tw-flex tw-flex-col tw-grid tw-grid-cols-1 tw-bg-cover tw-bg-bottom tw-h-[491px] md:tw-h-[900px] 2xl:tw-h-[700px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/foto-colchon-hibrido-hero-home.jpg?v=1672720446')] md:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/foto-colchon-hibrido-hero-home.jpg?v=1672720446')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hero-hibrido-home-desktop.webp?v=1672633208')]"> 
        <div class="tw-flex tw-flex-col tw-py-2 lg:tw-py-10 tw-justify-start lg:tw-justify-end tw-items-center">
            <div class="tw-block lg:tw-hidden tw-flex tw-flex-col tw-w-full">
                <p class="tw-text-[#A28C71] tw-font-normal tw-text-4xl md:tw-text-6xl tw-text-center tw-mt-6 tw-tracking-wide">NUEVO COLCHÓN</p>
                <p class="tw-text-[#A28C71] tw-font-semibold tw-text-6xl md:tw-text-8xl tw-text-center tw-bg-[#ffffff] tw-p-2 tw-px-4 tw-rounded-2xl tw-mx-auto tw-tracking-widest tw-mt-2">SMART HYBRID</p>
                <p class="tw-text-[#A28C71] tw-font-normal tw-text-2xl md:tw-text-4xl tw-text-center tw-tracking-widest tw-mt-2">LO MEJOR DE DOS MUNDOS</p>
            </div>
            <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full tw-mt-3">
                <a href="/products/colchon-smart-hybrid">
                    <button class="tw-text-3xl tw-block tw-font-poppins tw-font-medium tw-text-white tw-mt-3 md:tw-mt-4 tw-bg-amarillo tw-px-10 tw-py-4 md:tw-py-8 tw-rounded tw-w-full tw-max-w-[400px]">
                        ¡Quiero ver más!
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>