<section class="tw-flex tw-w-full tw-justify-center tw-items-center tw-py-5 tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/SmartBamboo-bg-icons-min.webp?v=1659899196')]">
    <div class="tw-w-full tw-max-w-[600px] md:tw-max-w-[800px] lg:tw-max-w-[1000px] xl:tw-max-w-[1300px] tw-flex tw-flex-col tw-grid tw-grid-cols-2 lg:tw-grid-cols-4 tw-px-5 md:tw-px-0 tw-gap-y-4 tw-gap-x-8 md:tw-py-10">
        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-6 tw-items-center">
            <img 
                class="tw-col-span-2 tw-w-3/4 tw-mx-auto" 
                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/icon-garantia.png?v=1657426081" 
                alt="12 Años de Prueba"
            >
            <div class="tw-col-span-4 tw-flex tw-flex-col tw-self-center">
                <h2 class="tw-font-poppins tw-text-xl md:tw-text-3xl tw-font-semibold tw-text-left md:tw-text-center tw-text-brown tw-py-0">12 años</h2>
                <h2 class="tw-font-poppins tw-text-xl md:tw-text-3xl tw-font-medium tw-text-left md:tw-text-center tw-text-gris tw-py-0">de garantía</h2>
            </div>
        </div>

        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-6 tw-items-center">
            <img 
                class="tw-col-span-2 tw-w-3/4 tw-mx-auto" 
                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/icon-noches-prueba.png?v=1657426081"
                alt="120 Noches de Prueba"
            >
            <div class="tw-col-span-4 tw-flex tw-flex-col tw-self-center">
                <h2 class="tw-font-poppins tw-text-xl md:tw-text-3xl tw-font-semibold tw-text-left md:tw-text-center tw-text-brown tw-py-0">120 noches</h2>
                <h2 class="tw-font-poppins tw-text-xl md:tw-text-3xl tw-font-medium tw-text-left md:tw-text-center tw-text-gris tw-py-0">de prueba</h2>
            </div>
        </div>

        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-6 tw-items-center">
            <img 
                class="tw-col-span-2 tw-w-3/4 tw-mx-auto" 
                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/icon-envio.png?v=1657426081" 
                alt="Envío Gratis"
            >
            <div class="tw-col-span-4 tw-flex tw-flex-col tw-self-center">
                <h2 class="tw-font-poppins tw-text-xl md:tw-text-3xl tw-font-semibold tw-text-left md:tw-text-center tw-text-brown tw-py-0">Envío</h2>
                <h2 class="tw-font-poppins tw-text-xl md:tw-text-3xl tw-font-medium tw-text-left md:tw-text-center tw-text-gris tw-py-0">gratis</h2>
            </div>
        </div>

        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-6 tw-items-center">
            <img 
                class="tw-col-span-2 tw-w-3/4 tw-mx-auto" 
                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/icon-boutique.png?v=1657426081" 
                alt="+100 boutiques en todo México"
            >
            <div class="tw-col-span-4 tw-flex tw-flex-col tw-self-center">
                <h2 class="tw-font-poppins tw-text-xl md:tw-text-3xl tw-font-semibold tw-text-left md:tw-text-center tw-text-brown tw-py-0">+100 boutiques</h2>
                <h2 class="tw-font-poppins tw-text-xl md:tw-text-3xl tw-font-medium tw-text-left md:tw-text-center tw-text-gris tw-py-0">en todo México</h2>
            </div>
        </div>

    </div>
</section>


