
<section id="index-section-two" class="tw-w-full tw-flex tw-justify-center tw-items-center">
    <div class="tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col tw-grid tw-grid-cols-2 md:tw-grid-cols-4 tw-gap-x-0 md:tw-gap-x-2 tw-gap-y-3 md:tw-gap-y-0 tw-px-5 lg:tw-px-1 tw-bg-cover tw-bg-center bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/SmartBamboo-bg-icons-min.webp?v=1659899196')] tw-rounded-lg tw-shadow-lg tw-py-3">
        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-7 tw-gap-x-2 md:tw-gap-x-0 tw-justify-center tw-items-center">
            <img 

                class="tw-w-3/6 md:tw-w-2/6 lg:tw-col-start-2  tw-col-span-2 tw-max-w-[70px] tw-mx-auto tw-block tw-transition-opacity tw-delay-300 tw-duration-1000" 
                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/LOGO-GARANTIA.webp?v=1675982134" 
                alt="12 Años de garantias">
            <p class="tw-col-span-5 lg:tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-sm lg:tw-text-base tw-font-medium tw-text-left md:tw-text-center tw-text-gris">
                <span class="tw-text-[#292929] tw-font-semibold">12 años</span><br class="tw-hidden lg:tw-block"> de garantias
            </p>
        </div>
        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-7 tw-gap-x-2 md:tw-gap-x-0 tw-justify-center tw-items-center">
            <img 
                loading="lazy"
                class="tw-w-3/6 md:tw-w-2/6 lg:tw-col-start-2  tw-col-span-2 tw-max-w-[70px] tw-mx-auto tw-block tw-transition-opacity tw-delay-300 tw-duration-1000"  
                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/LOGONOCHESPRUEBA.webp?v=1675982134"
                alt="365 noches de prueba">
            <p class="tw-col-span-5 lg:tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-sm lg:tw-text-base tw-font-medium tw-text-left md:tw-text-center tw-text-gris">
                <span class="tw-text-[#292929] tw-font-semibold">365 noches</span><br class="tw-hidden lg:tw-block"> de prueba
            </p>
        </div>
        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-7 tw-gap-x-2 md:tw-gap-x-0 tw-justify-center tw-items-center">
            <img 
                loading="lazy"
                class="tw-w-3/6 md:tw-w-2/6 lg:tw-col-start-2  tw-col-span-2 tw-max-w-[70px] tw-mx-auto tw-block tw-transition-opacity tw-delay-300 tw-duration-1000"  
                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/LOGOBOUTIQUE.webp?v=1675982134"
                alt="+100 boutiques en todo México">
            <p class="tw-col-span-5 lg:tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-sm lg:tw-text-base tw-font-medium tw-text-left md:tw-text-center tw-text-gris">
                <span class="tw-text-[#292929] tw-font-semibold">+100 boutiques</span><br> en todo México
            </p>
        </div>
        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-7 tw-gap-x-2 md:tw-gap-x-0 tw-justify-center tw-items-center">
            <img 
                loading="lazy"
                class="tw-w-4/6 md:tw-w-full lg:tw-col-start-2  tw-col-span-2 tw-max-w-[70px] tw-mx-auto tw-block tw-transition-opacity tw-delay-300 tw-duration-1000"  
                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/LOGOPAYAPL.webp?v=1675982134"
                alt="Envío Gratis">
            <p class="tw-col-span-5 lg:tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-sm lg:tw-text-base tw-font-medium tw-text-left md:tw-text-center tw-text-gris">
                <span class="tw-text-[#292929] tw-font-semibold">Hasta 24 MSI</span><br> + Envío Gratis
            </p>
        </div>
       
    </div>
</section>