<section class="tw-hidden md:tw-block tw-py-2 tw-bg-[#e5d8c6] tw-h-[250px] tw-transition-opacity tw-delay-150 tw-duration-1000">
  <div class="tw-flex tw-grid tw-grid-cols-6 tw-justify-between tw-gap-10">
    <div class="tw-hidden md:tw-block">
      <img load="lazy" class="lozad tw-w-full" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/pleca-1-min.webp?v=1657741200" alt="Smart Bamboo">
    </div>
    <div class="tw-col-span-6 md:tw-col-span-4">
      <div class="tw-w-full tw-mx-auto tw-pt-[100px]">
        <h2 class="tw-font-poppins tw-text-gris tw-text-xl md:tw-text-2xl lg:tw-text-5xl tw-font-medium tw-text-center">
            Conoce más acerca <br> de Smart Bamboo
        </h2>
        <h3 class="tw-font-poppins tw-text-gris tw-text-base md:tw-text-base tw-font-normal tw-text-center tw-my-5 tw-w-full md:tw-w-2/3 tw-block tw-mx-auto">
            Descubre el poder del buen descanso. <br> <b>¡Bienvenido a Smart Bamboo!</b> 
        </h3>
    </div>

    </div>
    <div class="tw-hidden md:tw-block">
      <img load="lazy" class="lozad tw-w-full" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/pleca-2-min.webp?v=1657741174" alt="Smart Bamboo">
    </div>
  </div>
</section>

<section class="tw-hidden md:tw-block tw-px-3 md:tw-px-10 tw-py-14 tw-bg-[#e5d8c6]">
        
        <div class="tw-w-full lg:tw-w-10/12 tw-mx-auto">

            <div class="toggle-box">
                <div class="info">
                    <div class="tw-w-full tw-mx-auto tw-py-5">
                        <h2 class="tw-font-poppins tw-text-gris tw-text-xl md:tw-text-2xl lg:tw-text-3xl tw-font-medium tw-text-center ">Smart Bamboo</h2>
                        <p class="tw-font-poppins tw-text-gris tw-text-base md:tw-text-base tw-font-normal tw-text-center tw-my-5 tw-w-full tw-block tw-mx-auto">
                            Smart Bamboo tiene para ti los mejores productos del descanso en México naturales de bambú. 
                            ¡Para el mejor regalo esta temporada te damos hasta 40% de descuento! Entra ya. Envío gratis. Garantía de satisfacción. Repele ácaros y bacterias. Atención al cliente 24/7.
                            <br><br>
                            <b>En Smart Bamboo</b> encuentras todo lo que necesitas para el descanso: 
                            <a href="https://www.smartbamboo.mx/pages/compara-nuestros-colchones">Bases & Colchones</a>, 
                            <a href="https://www.smartbamboo.mx/collections/pillows">Almohadas</a>, 
                            <a href="https://www.smartbamboo.mx/collections/bamboo-sheets">Ropa de Cama</a>, 
                            <a href="https://www.smartbamboo.mx/collections/toallas-accesorios">Toallas & Accesorios</a> y
                            <a href="https://www.smartbamboo.mx/collections/sillones-de-masajes"> Sillones</a>. 
                            
                            ¡Tenemos los mejores productos!
                        </p>

                            
                        <h2 class="tw-font-poppins tw-text-gris tw-text-xl md:tw-text-2xl lg:tw-text-3xl tw-font-medium tw-text-center ">¿Por qué comprar en Smart Bamboo?</h2>
                        <p class="lista tw-font-poppins tw-text-gris tw-text-base md:tw-text-base tw-font-normal tw-text-center tw-my-5 tw-w-full tw-block tw-mx-auto">
                            Pierde el temor a comprar en línea, ¡Smart Bambo es confiable! todas tus compras tienen garantía de Pago Seguro con PayPal. Selecciona tus productos favoritos y nosotros nos encargamos de enviarlo hasta las puertas de tu hogar. Todos los productos tienen envío gratis.
                            <br><br>
                            Si eres de los que ama el descanso y las compras en línea, llegaste al sitio indicado porque contamos con uno de los catálogos más amplios del mercado: 
                            <a href="https://www.smartbamboo.mx/products/colchon-bamboo-firm">Colchón Firm</a>, 
                            <a href="https://www.smartbamboo.mx/products/colchon-bamboo-balance"> Colchón Balance</a>, 
                            <a href="https://www.smartbamboo.mx/products/base-electrica"> Smart Base</a>,
                            <a href="https://www.smartbamboo.mx/products/almoahada-blend"> Almohada Blend</a>,
                            <a href="https://www.smartbamboo.mx/products/almohada-de-lavanda"> Almohada Lavanda</a>,
                            <a href="https://www.smartbamboo.mx/products/almohada-cervical-lavanda"> Almohada Cervical Lavanda</a>,
                            <a href="https://www.smartbamboo.mx/products/almohada-cervical-gel"> Almohada Cervical Gel</a>,
                            <a href="https://www.smartbamboo.mx/products/almohada-body"> Almohada Body</a>, 
                            <a href="https://www.smartbamboo.mx/products/almohada-cush"> Almohada Cush</a>,
                            <a href="https://www.smartbamboo.mx/products/juego-de-sabanas-100-bamboo"> Juego de Sabanas 100% Bamboo</a>,
                            <a href="https://www.smartbamboo.mx/products/juego-de-sabanas-bamboo-blend"> Juego de Sabanas Blend</a>,
                            <a href="https://www.smartbamboo.mx/products/funda-para-almohada-de-seda-mulberry"> Fundas de Seda Mulberry</a>,
                            <a href="https://www.smartbamboo.mx/products/colcha-reversible-pinsonic"> Colcha Reversible</a>,
                            <a href="https://www.smartbamboo.mx/products/edredon-bamboo-blend"> Edredón Bamboo Blend</a>,
                            <a href="https://www.smartbamboo.mx/products/edredon-de-seda-mulberry"> Edredón de Seda Mulberry</a>,
                            <a href="https://www.smartbamboo.mx/products/weighted-blanket"> Manta Antiestres</a>,
                            <a href="https://www.smartbamboo.mx/products/bed-in-a-bag"> Bed in a Bag</a>,
                            <a href="https://www.smartbamboo.mx/products/duvet-100-bamboo-smart-bamboo"> Duvet 100% Bamboo</a>,
                            <a href="https://www.smartbamboo.mx/products/duvet-bamboo-blend"> Duvet Bamboo Blend</a>,
                            <a href="https://www.smartbamboo.mx/products/set-de-toallas-bamboo-blend"> Set de Toallas Bamboo</a>,
                            <a href="https://www.smartbamboo.mx/products/bata-de-bamboo"> Bata de Bamboo</a>,
                            <a href="https://www.smartbamboo.mx/products/colchoneta-smart-bamboo"> Colchoneta Smart Bamboo</a>,
                            <a href="https://www.smartbamboo.mx/products/protector-de-colchon"> Protector de Colchon</a>,
                            <a href="https://www.smartbamboo.mx/products/imperium-voyage"> Sillón Imperium Voyage</a>,
                            <a href="https://www.smartbamboo.mx/products/sillon-imperium-cores"> Sillón Imperium Core</a>.
                        </p>
                        
                        <h2 class="tw-font-poppins tw-text-gris tw-text-xl md:tw-text-2xl lg:tw-text-3xl tw-font-medium tw-text-center ">Nuestra MISIÓN es que duermas mejor</h2>
                        <p class="tw-font-poppins tw-text-gris tw-text-base md:tw-text-base tw-font-normal tw-text-center tw-my-5 tw-w-full tw-block tw-mx-auto">
                            Dormir es saludable. Dormir nos pone de buenas, nos relaja, nos hace estar más alerta. 
                            <br>
                            Dormir es terapéutico, sana el cuerpo y la mente.

                        </p>

                        <h2 class="tw-font-poppins tw-text-gris tw-text-xl md:tw-text-2xl lg:tw-text-3xl tw-font-medium tw-text-center ">Nuestro corazón es VERDE</h2>
                        <p class="tw-font-poppins tw-text-gris tw-text-base md:tw-text-base tw-font-normal tw-text-center tw-my-5 tw-w-full tw-block tw-mx-auto">
                            Escogimos la fibra de bambú ya que es natural, tiene muchos beneficios tanto para la salud como el material, seguro y muy amigable con el ambiente ya que crece de forma muy rápida.

                        </p>

                        <h2 class="tw-font-poppins tw-text-gris tw-text-xl md:tw-text-2xl lg:tw-text-3xl tw-font-medium tw-text-center ">Los Beneficios del Bambú</h2>
                        <p class="tw-font-poppins tw-text-gris tw-text-base md:tw-text-base tw-font-normal tw-text-center tw-my-5 tw-w-full tw-block tw-mx-auto">
                            <ul class="tw-font-poppins tw-text-gris tw-list-disc">
                                <li> ◉ La pectina, una sustancia natural del bambú, es la que aporta su increíble suavidad.</li>
                                <li> ◉ El bambú posee un bio-agente antibacteriano y antifúngico llamado kun que protege a la planta de plagas y hongos, dándole nuestros productos propiedades que ayudan a eliminar bacterias que causan malos olores, alergias y microorganismos que irritan la piel.</li>
                                <li> ◉ La forma en la que se tejen las fibras genera un efecto aislante que ayuda a mantener tu cuerpo hasta dos grados más fresco en climas cálidos y notablemente más abrigado durante el invierno.</li>
                                <li> ◉ El bambú es hasta cuatro veces más absorbente que el algodón ya que el tejido crea pequeños espacios que le dan una mejor ventilación y repelen la humedad.</li>
                                <li> ◉ Las fibras de bambú son transpirables, por lo que se mantienen secas alejando a los ácaros, pues estos se sienten atraídos por los ambientes húmedos.</li>
                                <li> ◉ Los tejidos hechos con bambú son 100% biodegradables y reciclables, ya que no tienen químicos dañinos que contaminan el ambiente.</li> 
                                <li> ◉ El bambú crece muy rápido lo cuál minimiza el impacto en el mundo</li>
                            </ul>
                        </p>

                        <p class="tw-my-5"></p>
                        <p class="tw-my-5"></p>
                        
                    </div>
                </div>    
        </div>

        <button class="toggle-btn tw-font-poppins tw-font-semibold tw-text-base tw-text-gris tw-border-2 tw-border-gris tw-border-solid tw-rounded-md tw-p-2 tw-full tw-mx-auto tw-block tw-px-14">
            <h8 class="moremore show">Ver más</h8>
            <h8 class="less hide">Ver menos</h8>
        </button>
    </div>
</section>

<script>
const toggleBtn = document.querySelector(".toggle-btn");
const info = document.querySelector(".info");
const less = document.querySelector(".less");
const more = document.querySelector(".moremore");

let infoHeight = info.offsetHeight;
info.style.height = 0;

toggleBtn.addEventListener("click", function () {
  this.disabled = true;

  more.classList.toggle("show");
  more.classList.toggle("hide");
  less.classList.toggle("show");
  less.classList.toggle("hide");

  const infoNewHeight = info.offsetHeight;

  if (infoNewHeight == 0) {
    info.style.height = `${infoHeight}px`;
  } else {
    info.style.height = 0;
  }

  setTimeout(() => {
    this.disabled = false;
  }, 500);
});

window.addEventListener("resize", () => {
  info.style.removeProperty("height");
  infoHeight = info.offsetHeight;

  if (more.classList.contains("hide")) {
    info.style.height = `${infoHeight}px`;
  } else {
    info.style.height = 0;
  }

});
</script>

<style>
    .hide {display: none;}
    .show {display: flex;}
    .toggle-box { max-width: 1000px; margin: 0 auto; padding: 0 10px;}
    .toggle-btn { margin-bottom: 25px;}
    .toggle-btn { display: inline-block; font-weight: bold;}
    h8 { display: flex; align-items: center;}
    .info { overflow: hidden; transition: height .5s;}
    .lista a { color:#434F5A !important; font-weight: 600 !important; }
</style>