<section class="tw-my-14 tw-px-5 md:tw-px-14 lg:tw-px-10 tw-flex tw-justify-center tw-items-center">
    <div>
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-10 tw-max-w-[1300px]">
            <div class="tw-bg-coupon-one tw-hidden md:tw-block tw-p-3 lg:tw-p-10 tw-grid-cols-1 md:tw-grid-cols-2 tw-rounded-lg">
                <div class="tw-flex tw-flex-col md:tw-flex-row tw-border-2 tw-border-coupon-two tw-border-solid tw-rounded-md tw-p-5 tw-grid tw-grid-cols-6">
                        <div class="tw-flex tw-flex-col tw-col-span-4 md:tw-col-span-6 lg:tw-col-span-5">
                            <h2 class="tw-font-poppins tw-text-gris tw-font-normal tw-text-3xl md:tw-text-5xl lg:tw-text-6xl tw-leading-normal">Cupón del  <br><span class="tw-font-semibold">5% OFF</span> aquí</h2>
                            <h3 class="tw-font-poppins tw-text-gris tw-font-normal tw-text-sm lg:tw-text-base tw-mt-5 md:tw-h-[100px] lg:tw-h-[150px]">¿Quieres un 5% de descuento? Chatea con uno de nuestros expertos asesores en sueño y te diremos cómo obtenerlo.</h3>
                        </div>
                        <div class="tw-col-span-2 md:tw-col-span-6 lg:tw-col-span-1 tw-mt-5">
                            <img 
                                class="tw-w-3/4 md:tw-w-1/4 lg:tw-w-full tw-block tw-mx-auto tw-transition-opacity tw-delay-700 tw-duration-1000" 
                                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/smart-bamboo-icono-cupon-min.webp?v=1657679175" 
                                alt="Cupon 5% Off">
                        </div>
                        <div class="tw-col-span-6 tw-mt-5">
                            <a href="https://wa.me/5215531768819">
                                <button class="tw-font-poppins tw-font-semibold tw-text-xl tw-text-gris tw-border-2 tw-border-coupon-two tw-border-solid tw-rounded-md tw-p-3 lg:tw-p-5 tw-w-5/6 lg:tw-w-4/6 tw-mx-auto tw-block tw-px-14">
                                    Ver más
                                </button>
                            </a>
                        </div>
                </div>
            </div>

            <div class="tw-bg-coupon-two tw-p-3 lg:tw-p-10 tw-grid-cols-1 md:w-grid-cols-2 tw-rounded-lg">
                <div class="tw-flex tw-flex-col md:tw-flex-row tw-border-2 tw-border-coupon-one tw-border-solid tw-rounded-md tw-p-5 tw-grid tw-grid-cols-6">
                    <div class="tw-flex tw-flex-col tw-col-span-6 md:tw-col-span-6 lg:tw-col-span-5">
                        <h2 class="tw-font-poppins tw-text-gris tw-font-normal tw-text-3xl md:tw-text-5xl lg:tw-text-6xl tw-leading-normal">¿Quieres ir <span class="tw-font-semibold">a probarlos?</span></h2>
                        <h3 class="tw-font-poppins tw-text-gris tw-font-normal tw-text-sm lg:tw-text-base tw-mt-5 md:tw-h-[100px] lg:tw-h-[150px]"> Descubre el verdadero significado de descansar, visítanos en una de nuestras tiendas boutique y deja que nuestros especialistas del descanso respondan todas tus preguntas. Agenda ahora y obtén un regalo.</h3>
                    </div>
                    <div class="tw-col-span-2 md:tw-col-span-6 lg:tw-col-span-1 tw-col-start-3 md:tw-col-start-1 tw-mt-5">
                        <img 
                            class="tw-w-3/4 md:tw-w-1/4 lg:tw-w-full tw-block tw-mx-auto tw-transition-opacity tw-delay-700 tw-duration-1000" 
                            src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/smart-bamboo-icono-calendario-min.webp?v=1657679175" 
                            alt="Agenda una cita">
                    </div>
                    <div class="tw-col-span-6 tw-mt-5">
                        <a href="#js-chatea" class="js-chatea">
                            <button class="tw-font-poppins tw-font-semibold tw-text-xl tw-text-gris tw-border-2 tw-border-coupon-one tw-border-solid tw-rounded-md tw-p-3 lg:tw-p-5 tw-w-5/6 lg:tw-w-4/6 tw-mx-auto tw-block tw-px-14">
                                Ver más
                            </button>
                        </a>
                    </div>
                </div>
                
        
            </div>
        </div>
    </div>
</section>