<section id="index-section-seven" class="tw-flex tw-justify-center tw-items-center tw-mt-16 tw-my-5 lg:tw-mb-16 tw-px-5 md:tw-px-10 tw-drop-shadow-md">
    <div class="tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col">
      {% comment %} Circulo con cupón {% endcomment %}
      <div class="tw-block xl:tw-hidden tw-flex tw-justify-center lg:tw-justify-start">
        <div class="tw-bg-[#f7f7f7] tw-h-36 tw-w-36 tw-rounded-full tw-flex tw-ml-0 lg:tw-ml-12 tw-flex tw-flex-col tw-justify-start lg:tw-justify-center tw-items-center tw-pt-6 lg:tw-pt-0 tw-relative tw-bottom-[0px] lg:tw-top-[35px]">
          <p class="tw-font-poppins tw-text-xl tw-font-semibold tw-text-[#615B5B] lg:tw--rotate-12 tw-relative">
            Cupón
          </p>
          <p class="tw-font-poppins tw-text-3xl tw-font-semibold tw-text-[#615B5B] lg:tw--rotate-12 tw-relative">
            5% OFF
          </p>
        </div>
      </div>
      {% comment %} Rectangulo con botones - desktop completo {% endcomment %}
      <div class="tw-bg-[#f7f7f7] tw-rounded-lg tw-relative tw-bottom-[80px] lg:tw-bottom-[0px] tw-px-4">
        <div class="tw-grid tw-grid-cols-12">
          <div class="tw-hidden xl:tw-block tw-grid tw-col-span-2 tw-row-span-2">
            <div class="tw-flex tw-justify-center tw-items-center ">
  
              <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-h-32 tw-w-32 tw-rounded-full tw-bg-[#292929] tw-m-3">
                <p class="tw-font-poppins tw-text-xl tw-font-normal tw-text-white lg:tw--rotate-12">
                  Cupón
                </p>
                <p class="tw-font-poppins tw-text-3xl tw-font-semibold tw-text-white lg:tw--rotate-12">
                  5% <span class="tw-text-2xl tw-font-normal">OFF</span>
                </p>
              </div>
  
            </div>
          </div>
          <p class="tw-grid tw-col-span-12 lg:col-span-9 lg:tw-col-start-3 tw-font-poppins tw-text-normal lg:tw-text-xl tw-font-normal tw-text-[#615B5B] tw-text-left lg:tw-text-center tw-pt-4 lg:tw-pt-8 ">
            Chatea con uno de nuestros expertos asesores en sueño y te diremos cómo obtenerlo
          </p>
          <div class="tw-grid tw-col-span-12 lg:col-span-9 lg:tw-col-start-3 tw-pt-2 lg:tw-pt-4 tw-pb-4 lg:tw-pb-8">
            <div class="tw-flex tw-justify-center tw-items-center">
              <a class="tw-w-full xl:tw-w-1/5 tw-bg-[#292929] hover:tw-bg-transparent tw-rounded tw-py-1.5 tw-mr-3 tw-border-solid tw-border-2 tw-border-[#292929] tw-text-white hover:tw-text-[#292929]" href="https://wa.me/5215531768819">
                <button class="tw-font-poppins tw-text-base md:tw-text-xl tw-font-medium tw-w-full tw-text-center">
                  WhatsApp
                </button>
              </a>
  
              <a class="tw-w-full xl:tw-w-1/5 tw-bg-[#292929] hover:tw-bg-transparent tw-rounded tw-py-1.5 tw-ml-3 tw-border-solid tw-border-2 tw-border-[#292929] tw-text-white hover:tw-text-[#292929]" href="#js-chatea" class="js-chatea">
                <button class="tw-font-poppins tw-text-base md:tw-text-xl tw-font-medium tw-w-full tw-text-center">
                  Chat
                </button>
              </a>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
