<style>
    .banner-bedding {
        background-image: url("https://cdn.shopify.com/s/files/1/0248/4705/6932/files/smart-bamboo-ropa-de-cama-colcha-reversible-min_0844048c-c16c-41bb-b0ca-d921131c15eb.webp?v=1660441062");
    }
    

    @media  only screen and (max-width: 1024px) and (min-width: 1px) {
        .banner-bedding {
        background-image: url("https://cdn.shopify.com/s/files/1/0248/4705/6932/files/smart-bamboo-ropa-de-cama-colcha-reversible-mobile-min_96ab367e-ab72-48cf-8e07-f5fbe9b8213e.webp?v=1660441062");
        }
    }
    
</style>

<section class="tw-w-full tw-flex tw-justify-center tw-items-center tw-py-10 tw-bg-cremita">
    <div class="tw-w-full tw-max-w-[1300px] tw-px-2 md:tw-px-8">
        <h2 class="lg:tw-hidden tw-font-serif tw-italic tw-font-normal tw-text-3xl tw-text-black lg:tw-text-white tw-text-center lg:tw-text-right lg:tw-bg-inherit tw-py-5">
            <span class="tw-font-poppins tw-font-semibold tw-text-black lg:tw-text-white tw-not-italic tw-text-2xl lg:tw-text-7xl">Haz de tu cama una</span><br> experiencia
        </h2>
        <div class="banner-bedding tw-bg-cover tw-bg-no-repeat tw-bg-bottom md:tw-bg-center md:tw-h-[300px] lg:tw-h-[500px] xl:tw-h-[550px] tw-px-10 tw-flex tw-justify-center tw-items-start lg:tw-items-center">
            <div class="tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 xl:tw-grid-cols-3">
                <div class="tw-flex tw-flex-col tw-col-start-1 lg:tw-col-start-2 xl:tw-col-start-3">
                    <h2 class="tw-hidden lg:tw-block tw-font-serif tw-italic tw-font-normal tw-text-5xl lg:tw-text-7xl tw-text-black lg:tw-text-white tw-text-center lg:tw-text-right lg:tw-bg-inherit tw-py-5 md:tw-py-10 lg:-py-0">
                        <span class="tw-font-poppins tw-font-semibold tw-text-black lg:tw-text-white tw-not-italic tw-text-6xl lg:tw-text-7xl">Haz de tu <br> cama una</span><br> experiencia
                    </h2>
                    <a class="tw-hidden lg:tw-block lg:tw-bg-inherit tw-py-5 md:tw-py-10 lg:tw-py-0" href="/pages/promociones">
                        <button class="tw-font-poppins tw-font-medium tw-text-white tw-mt-0 lg:tw-mt-5 tw-bg-amarillo tw-py-5 tw-rounded tw-w-3/4 tw-ml-auto lg:tw-ml-auto tw-mx-auto lg:tw-mx-0 tw-block">
                            ¡Descúbrelo!
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <a class="lg:tw-hidden lg:tw-bg-inherit tw-py-5 md:tw-py-10 lg:tw-py-0" href="/pages/promociones">
            <button class="tw-font-poppins tw-font-medium tw-text-white tw-mt-5 tw-bg-amarillo tw-py-5 tw-rounded tw-w-2/4 lg:tw-w-3/4 tw-ml-auto lg:tw-ml-auto tw-mx-auto lg:tw-mx-0 tw-block">
                ¡Descúbrelo!
            </button>
        </a>
    </div>
</section>