<section class="tw-block md:tw-hidden tw-mt-10">
    <h2 class="tw-text-center tw-font-normal tw-font-poppins tw-text-[#434f5a]">
        Descubre por qué aman <br>
        <span class="tw-font-semibold tw-font-poppins tw-text-[#434f5a]">nuestros colchones</span>
    </h2>
</section>    

<section class="tw-px-5 md:tw-px-10 tw-mb-10 tw-py-10 md:tw-py-0 tw-flex tw-justify-center tw-items-center">
    <div class="tw-max-w-[1300px]">
        <div class="tw-bg-top tw-bg-cover tw-tw-flex tw-flex-col md:tw-flex-row tw-grid tw-grid-cols-1 lg:tw-grid-cols-1 xl:tw-grid-cols-2 tw-bg-[#E5D8C6] tw-shadow-lg tw-rounded-xl">        
            <div class="tw-hidden xl:tw-block tw-flex tw-flex-col tw-w-full">
                <img 
                    class="tw-w-full tw-rounded-xl"
                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/120noches-pruebas.webp?v=1666981357" 
                    alt="Smart Bamboo - Colchon Smart Balance">
            </div>
            <div class="tw-flex tw-flex-col tw-w-full">
                <div class="tw-w-5/6 md:tw-w-2/3 tw-mx-auto tw-p-5 md:tw-p-5 tw-my-5 md:tw-my-auto">
                    <div class="tw-w-full tw-flex tw-flex-col">
                        <div class="tw-flex tw-w-5/6 md:tw-w-4/6 tw-mx-auto tw-mb-10">
                            <img 
                                src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/noche-sueno.webp?v=1661440121"
                                alt="120 noches de prueba"
                                class="tw-h-[65px]">
                            <div class="tw-w-full">
                                <p class="tw-w-full tw-mx-auto tw-font-poppins tw-font-normal tw-text-3xl md:tw-text-5xl tw-text-gris tw-text-center">
                                    <span class="tw-font-semibold">120 noches</span>
                                    <br>de prueba
                                </p>
                            </div>
                        </div>
                        <h3 class="tw-font-poppins tw-font-normal tw-text-2xl tw-text-gris tw-text-center">
                            <span class="tw-font-semibold">El colchón de tus sueños ha llegado.</span> Conoce más acerca de tu colchón ideal, contamos con tres opciones que se ajustan a cualquier tipo de descanso. <br><br> ¡Descubre todo aquí!
                        </h3>
                        <a href="/pages/coleccion-colchones-smart">
                            <button class="tw-font-poppins tw-text-2xl md:tw-text-3xl tw-font-medium tw-text-white tw-mt-10 tw-bg-amarillo tw-px-10 tw-py-5 tw-rounded tw-w-full md:tw-w-2/3 tw-mx-auto tw-block">
                                Ver colchones
                            </button>
                        </a>
                    </div> 
                </div>
            </div>

        </div>
    </div>
</section>