<section class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full tw-px-5 md:tw-px-10 tw-py-10">
  <div class="tw-w-full tw-max-w-[1300px] tw-block md:tw-hidden tw-my-10">
    <h2 class="tw-font-poppins tw-text-3xl md:tw-text-5xl tw-text-center tw-text-[#434f5a] tw-font-normal">
      Descubre por qué aman <br class="tw-hidden md:tw-block">
      <span class="tw-font-semibold">nuestros colchones</span>
    </h2>
  </div>

  <div class="tw-max-w-[1300px] tw-w-full tw-bg-[#E5D8C6] tw-shadow-lg tw-rounded-xl tw-tw-flex tw-flex-col md:tw-flex-row tw-grid tw-grid-cols-1 lg:tw-grid-cols-1 xl:tw-grid-cols-2">
    <img
      class="tw-w-full tw-rounded-xl tw-hidden xl:tw-block"
      src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/120noches-pruebas.webp?v=1666981357"
      alt="Smart Bamboo - Colchon Smart Balance"
    >
    <div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-gap-y-8 tw-py-8">
      <div class="tw-w-3/6 tw-tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-justify-center tw-items-center">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/noche-sueno.webp?v=1661440121"
          alt="120 noches de prueba"
          class="tw-w-full"
        >
        <p class="tw-col-span-2 tw-w-full tw-mx-auto tw-font-poppins tw-font-normal tw-text-3xl md:tw-text-5xl tw-text-gris tw-text-center">
          <span class="tw-font-semibold">120 noches</span><br>
          de prueba
        </p>
      </div>
      <div class="tw-w-4/6">
        <h3 class="tw-font-poppins tw-font-normal tw-text-2xl tw-text-gris tw-text-center">
          <span class="tw-font-semibold">El colchón de tus sueños ha llegado.</span> Conoce más acerca de tu colchón
          ideal, contamos con tres opciones que se ajustan a cualquier tipo de descanso. <br>
          <br>
          ¡Descubre todo aquí!
        </h3>
        <a href="/pages/coleccion-colchones-smart">
          <button class="tw-font-poppins tw-text-2xl md:tw-text-3xl tw-font-medium tw-text-white tw-mt-10 tw-bg-amarillo tw-px-10 tw-py-5 tw-rounded tw-w-full md:tw-w-2/3 tw-mx-auto tw-block">
            Ver colchones
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
