
<section id="index-section-six" class="tw-p-2 md:tw-p-8 tw-flex tw-flex-col tw-justify-center tw-items-center tw-mt-10">
  <div class="tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col tw-justify-center tw-items-center">
    <h1 class="tw-font-lora tw-text-xl lg:tw-text-3xl tw-text-center tw-text-[#434f5a] tw-font-bold">
      Smart Bamboo tiene la mejor <br class="tw-hidden md:tw-block">
      <span class="tw-font-lora tw-font-bold">tecnología y confort para tu descanso</span><br>
      <span class="tw-hidden lg:tw-block tw-text-sm tw-text-center tw-font-normal tw-font-poppins tw-mt-2">Encuentra los colchones de espuma de memoria más cómodos del mercado.<br class="tw-hidden md:tw-block">
      ¡Los mejores productos para tu descanso!</span>

    </h1>
    <button onclick="comparadorContainer()" style="display:flex;" id="comparadorButton" class="tw-w-2/3 tw-max-w-[300px] tw-bg-transparent hover:tw-bg-black tw-rounded tw-border tw-border-[2px] tw-border-solid tw-border-[#434f5a] tw-font-poppins tw-text-base tw-font-medium tw-text-[#434f5a] hover:tw-text-white tw-w-full tw-text-center tw-py-1.5 tw-justify-center tw-items-center tw-mb-8 tw-mt-8">
      Comparar Colchones
    </button>
  </div>
</section>

<section id="index-section-six-bis" class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-py-0">
  <div class="tw-w-[90%] lg:tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 lg:tw-gap-x-10 tw-gap-y-10 ">
    {% render 'smart-snippet-comparisson-firm' %}
    {% render 'smart-snippet-comparisson-hybrid' %}
    {% render 'smart-snippet-comparisson-balance' %}
  </div>
</section>

<script src="{{ 'smart-home.min.js' | asset_url }}" defer></script>