
<section class="tw-w-full tw-flex tw-flex-col tw-my-0 md:tw-my-5 tw-h-fit tw-max-h-[750px] tw-items-center tw-justify-center">
    <div class="tw-w-full tw-max-w-[1300px]">
      <div class="tw-w-full tw-h-fit">
        <a href="/pages/promociones">
          <div class="tw-px-3 md:tw-px-0">
            {% comment %} banner 1 mobile {% endcomment %}
              <img  id="banner1" class="tw-w-full tw-block lg:tw-hidden tw-max-w-[1300px] tw-rounded-lg" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/banner_479x258_2825dece-4277-4235-9d25-e355ab9fa344.webp?v=1677624978">
            {% comment %} banner 1 desktop {% endcomment %}
              <img id="banner1" class="tw-w-full tw-hidden lg:tw-block tw-max-w-[1300px] md:tw-max-h-[180px] tw-rounded-lg" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/banner_1300x175_eeadee2f-605d-49c1-a212-51738e270f2c.webp?v=1677624965">
          </div>
        </a>
      </div>
    </div>
  </section>