<section class="tw-w-full tw-flex tw-justify-center tw-items-center tw-py-3 md:tw-py-0 tw-mt-10">
  <div class="tw-w-[95%] md:tw-w-full tw-max-w-[1300px]">
    <h2 class="tw-text-center tw-text-2xl md:tw-text-3xl tw-py-8 tw-text-[#434f5a] tw-font-normal">
        Conoce nuestros productos <br class="tw-hidden md:tw-block">
      <span class="tw-font-semibold">hechos para que duermas increíble</span>
    </h2>

    <div class="tw-w-full tw-grid tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-3 md:tw-gap-5">
        
        <a class="focus:tw-blur-sm tw-h-full" href="https://www.smartbamboo.mx/collections/almohadas">
            <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-rounded-lg tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/almohada_mobile_245x188_91d5c300-92e0-4a05-b125-e2f7c2c2f5ff.webp?v=1676303469')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/fotos_700x500_almohadas.webp?v=1676062671')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl hover:tw-scale-x-105">
                <div class="tw-grid tw-grid-rows-6 tw-h-full">
                    <div class="tw-w-5/6 tw-h-full tw-row-start-5 tw-row-span-1 tw-rounded-r-lg tw-bg-gray-400 hover:tw-bg-cremita tw-bg-opacity-50 hover:tw-bg-opacity-70">
                        <div class="tw-flex tw-items-center tw-content-center tw-h-full">
                            <button class="tw-font-poppins tw-font-semibold tw-text-base lg:tw-text-xl tw-text-[#292929] lg:tw-text-[#434f5a] hover:tw-text-[#957161] tw-px-4 lg:tw-px-8">
                                Almohadas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </a>    

        <a class="focus:tw-blur-sm tw-h-full" href="https://www.smartbamboo.mx/collections/ropa-de-cama">
            <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-rounded-lg tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/ropa-de-cama_mobile_244x187_bfa86ba8-91ff-4283-b175-4c8a5d220a0e.webp?v=1676303507')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/fotos_700x500_ropa-de-cama.webp?v=1676300688')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl hover:tw-scale-x-105">
                <div class="tw-grid tw-grid-rows-6 tw-h-full">
                    <div class="tw-w-5/6 tw-h-full tw-row-start-5 tw-row-span-1 tw-rounded-r-lg tw-bg-gray-400 hover:tw-bg-cremita tw-bg-opacity-50 hover:tw-bg-opacity-70">
                        <div class="tw-flex tw-items-center tw-content-center tw-h-full">
                            <button class="tw-font-poppins tw-font-semibold tw-text-base lg:tw-text-xl tw-text-[#292929] lg:tw-text-[#434f5a] hover:tw-text-[#957161] tw-px-4 lg:tw-px-8">
                                Ropa de Cama
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a class="focus:tw-blur-sm tw-h-full tw-col-span-1 lg:tw-col-span-2" href="https://www.smartbamboo.mx/pages/coleccion-colchones-smart">
            <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-rounded-lg tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon__mobile_509x188_d59d2b07-5ca0-4cd9-9fdd-cade2f2c34da.webp?v=1676303490')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/fotos_700x500_colchones.webp?v=1676300676')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl hover:tw-scale-x-105">
                <div class="tw-grid tw-grid-rows-6 tw-h-full">
                    <div class="tw-w-5/6 tw-h-full tw-row-start-5 tw-row-span-1 tw-rounded-r-lg tw-bg-gray-400 hover:tw-bg-cremita tw-bg-opacity-50 hover:tw-bg-opacity-70">
                        <div class="tw-flex tw-items-center tw-content-center tw-h-full">
                            <button class="tw-font-poppins tw-font-semibold tw-text-base lg:tw-text-xl tw-text-[#292929] lg:tw-text-[#434f5a] hover:tw-text-[#957161] tw-px-4 lg:tw-px-8">
                                Colchones
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </a> 

        <a class="focus:tw-blur-sm tw-h-full tw-col-span-1 lg:tw-col-span-2" href="https://www.smartbamboo.mx/collections/toallas-accesorios">
            <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-rounded-lg tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/toalla_mobile_510x187_c4c075be-c929-4fb1-9515-01dbd4f70cea.webp?v=1676303726')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/fotos_700x500_toallas.webp?v=1676300682')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl hover:tw-scale-x-105">
                <div class="tw-grid tw-grid-rows-6 tw-h-full">
                    <div class="tw-w-full lg:tw-w-5/6 tw-h-full tw-row-start-5 tw-row-span-1 tw-rounded-r-lg tw-bg-gray-400 hover:tw-bg-cremita tw-bg-opacity-50 hover:tw-bg-opacity-70">
                        <div class="tw-flex tw-items-center tw-content-center tw-h-full">
                            <button class="tw-font-poppins tw-font-semibold tw-text-base lg:tw-text-xl tw-text-[#292929] lg:tw-text-[#434f5a] hover:tw-text-[#957161] tw-pl-4 lg:tw-pl-8">
                                Toallas & Accesorios
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </a> 

        <a class="focus:tw-blur-sm tw-h-full" href="https://www.smartbamboo.mx/products/base-electrica">
            <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-rounded-lg tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/bases_mobile_45x188_f12db031-ebb2-4f55-b294-7403c1dc5bc3.webp?v=1676303427')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/fotos_700x500_base_1.webp?v=1676300655')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl hover:tw-scale-x-105">
                <div class="tw-grid tw-grid-rows-6 tw-h-full">
                    <div class="tw-w-5/6 tw-h-full tw-row-start-5 tw-row-span-1 tw-rounded-r-lg tw-bg-gray-400 hover:tw-bg-cremita tw-bg-opacity-50 hover:tw-bg-opacity-70">
                        <div class="tw-flex tw-items-center tw-content-center tw-h-full">
                            <button class="tw-font-poppins tw-font-semibold tw-text-base lg:tw-text-xl tw-text-[#292929] lg:tw-text-[#434f5a] hover:tw-text-[#957161] tw-px-4 lg:tw-px-8">
                                Bases
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </a> 
        
        <a class="focus:tw-blur-sm tw-h-full" href="https://www.smartbamboo.mx/collections/sillones-de-masajes">
            <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-rounded-lg tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/sillon_mobile_245x187_b02890fd-4c5e-4c23-bca7-7dc4c879755a.webp?v=1676303520')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/fotos_700x500_sillon.webp?v=1676300692')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl hover:tw-scale-x-105">
                <div class="tw-grid tw-grid-rows-6 tw-h-full">
                    <div class="tw-w-5/6 tw-h-full tw-row-start-5 tw-row-span-1 tw-rounded-r-lg tw-bg-gray-400 hover:tw-bg-cremita tw-bg-opacity-50 hover:tw-bg-opacity-70">
                        <div class="tw-flex tw-items-center tw-content-center tw-h-full">
                            <button class="tw-font-poppins tw-font-semibold tw-text-base lg:tw-text-xl tw-text-[#292929] lg:tw-text-[#434f5a] hover:tw-text-[#957161] tw-px-4 lg:tw-px-8">
                                Sillones
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </a> 
        
    </div>
  </div>
</section>