
<section id="index-section-one" class="tw-w-full">
    <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-h-fit tw-bg-[#f4f4f4]">
        <div class="tw-bg-cover tw-bg-top tw-h-[400px] md:tw-h-[600px] lg:tw-h-[600px] xl:tw-h-[600px] 2xl:tw-h-[800px] tw-bg-center tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/MASTER_DIA_DEL_PADRE-MOBILE.webp?v=1686271366')]">
        </div>
        <div class="tw-flex tw-items-center tw-justify-center tw-py-8 lg:tw-py-0">
            <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-6 tw-items-center tw-justify-center">
                <p class="tw-col-span-6 lg:tw-col-span-6 tw-font-lora tw-text-4xl xl:tw-text-6xl tw-text-center tw-font-normal tw-text-[#666666] tw-uppercase">
                    ¡Descanso <br class="tw-block">de ensueño!
                </p>
                <p class="tw-col-span-6 tw-text-base xl:tw-text-2xl tw-text-center tw-text-[#666666] tw-font-normal tw-px-3 tw-py-2 tw-mt-3 xl:tw-mt-5">
                    Consiéntete con un <b>Colchón Smart</b><br class="tw-block">y recibe desde $4,000 en CASHBACK* <span class="tw-font-medium"></span>
                </p>
                {% comment %} <img class="tw-col-span-4 tw-col-start-2 tw-w-[80%] tw-max-w-[400px] tw-block tw-mx-auto" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/MASTER_DIA_DEL_PADRE-09.webp?v=1686271366"> {% endcomment %}
                
                <div class="tw-col-span-4 tw-col-start-2 tw-flex tw-items-center tw-justify-center tw-mt-4">
                    {%- render 'smart-meta-button-component', url: "/pages/promociones", copy: "Compra ahora" -%}
                </div>

                <p class="tw-col-span-6 tw-text-[9px] xl:tw-text-[10px] tw-text-center tw-text-[#666666] tw-font-normal">
                    *Aplica T&C en <a href="/pages/terminos-y-condiciones"><button class="tw-text-[#666666] hover:tw-underline">smartbamboo.mx</button></a>
                </p>
                

            </div>
         
        </div>
        
    </div>
</section>