
<section id="index-section-six" class="tw-hidden tw-p-2 md:tw-p-8 tw-flex tw-flex-col tw-justify-center tw-items-center tw-mt-10">
    <div class="tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col tw-justify-center tw-items-center">
      <h1 class="tw-font-lora tw-text-xl lg:tw-text-3xl tw-text-center tw-text-[#434f5a] tw-font-bold">
        Smart Bamboo tiene la mejor <br class="tw-hidden md:tw-block">
        <span class="tw-font-lora tw-font-bold">tecnología y confort para tu descanso</span><br>
        <span class="tw-hidden lg:tw-block tw-text-sm tw-text-center tw-font-normal tw-font-poppins tw-mt-2">Encuentra los colchones de espuma de memoria más cómodos del mercado.<br class="tw-hidden md:tw-block">
        ¡Los mejores productos para tu descanso!</span>
  
      </h1>
      <button onclick="comparadorContainer()" style="display:flex;" id="comparadorButton" class="tw-w-2/3 tw-max-w-[300px] tw-bg-transparent hover:tw-bg-black tw-rounded tw-border tw-border-[2px] tw-border-solid tw-border-[#434f5a] tw-font-poppins tw-text-base tw-font-medium tw-text-[#434f5a] hover:tw-text-white tw-w-full tw-text-center tw-py-1.5 tw-justify-center tw-items-center tw-mb-8 tw-mt-8">
        Comparar Colchones
      </button>
    </div>
  </section>
  
  <section id="index-section-six-bis" class="tw-hidden tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-py-0">
    <div class="tw-w-[90%] lg:tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 lg:tw-gap-x-10 tw-gap-y-10 ">
      {% render 'smart-snippet-comparisson-firm' %}
      {% render 'smart-snippet-comparisson-hybrid' %}
      {% render 'smart-snippet-comparisson-balance' %}
    </div>
  </section>
  
  {% comment %} <script src="{{ 'smart-home.min.js' | asset_url }}" defer></script> {% endcomment %}


<script>
//COMPARADOR COLCHONES
function comparadorContainer() {
    document.getElementById('comparadorButton').style.display = 'none';
    document.getElementById('contentFirm').style.display = 'flex';
    document.getElementById('contentHybrid').style.display = 'flex';
    document.getElementById('contentBalance').style.display = 'flex';
    document.getElementById('verMasFirm').style.display = 'flex';
    document.getElementById('verMasHybrid').style.display = 'flex';
    document.getElementById('verMasBalance').style.display = 'flex';
  }
  
  function layerFirm() {
    document.getElementById('matressContent').innerHTML = 'La armonía perfecta entre soporte y confort. Nuestra innovadora tecnología hace que tu colchon FIRM se adapte a tu cuerpo dándole el soporte que tanto necesita.';
    document.getElementById('firmBulletOne').innerHTML = 'Con tejido antimicrobiano de alta tecnología, llamado tratamiento SILVADURTM 930FLEX.';
    document.getElementById('firmBulletTwo').innerHTML = 'Con tecnología de enfriamiento constante, llamada NanoCool Fabric.';
    document.getElementById('firmBulletThree').innerHTML = 'Funda desmontablede fácil acceso, cuenta con un cierre lateral, para que se pueda lavar y retirar sin complicaciones.';
    document.getElementById('firmBulletFour').innerHTML = 'Sin transferencia de movimiento.';
    document.getElementById('firmBulletFive').innerHTML = 'Con 365 noches de prueba.';
    document.getElementById('firmBulletSix').innerHTML = 'Garantía de 12 años.';
    document.getElementById('firmBulletSeven').innerHTML = 'Envío gratis.';
    document.getElementById('matressContainer').style.display = 'block';
    document.getElementById('verMenosFirm').style.display = 'flex';
    document.getElementById('verMasFirm').style.display = 'none';
    document.getElementById('firmUl').style.display = 'block';
  }
  
  function dismountElementsFirm() {
    document.getElementById('matressContainer').style.display = 'none';
    document.getElementById('matressContent').innerHTML = ' ';
    document.getElementById('verMasFirm').style.display = 'flex';
    document.getElementById('verMenosFirm').style.display = 'none';
    document.getElementById('firmUl').style.display = 'none';
  }
  
  function layerHybrid() {
    document.getElementById('matressContentHybrid').innerHTML = 'Con su combinación única de resortes de acero y memory foam, este colchón te proporcionará la firmeza que necesitas para una buena postura y el confort que buscas para una noche de sueño reparadora.';
    document.getElementById('hybridBulletOne').innerHTML = 'Con tejido antimicrobiano de alta tecnología, llamado tratamiento SILVADURTM 930FLEX.';
    document.getElementById('hybridBulletTwo').innerHTML = 'Con tecnología de enfriamiento constante, llamada NanoCool Fabric.';
    document.getElementById('hybridBulletThree').innerHTML = 'Funda desmontablede fácil acceso, cuenta con un cierre lateral, para que se pueda lavar y retirar sin complicaciones.';
    document.getElementById('hybridBulletFour').innerHTML = 'Sin transferencia de movimiento.';
    document.getElementById('hybridBulletFive').innerHTML = 'Con 365 noches de prueba.';
    document.getElementById('hybridBulletSix').innerHTML = 'Garantía de 12 años.';
    document.getElementById('hybridBulletSeven').innerHTML = 'Envío gratis.';
    document.getElementById('matressContainerHybrid').style.display = 'block';
    document.getElementById('verMenosHybrid').style.display = 'flex';
    document.getElementById('verMasHybrid').style.display = 'none';
    document.getElementById('hybridUl').style.display = 'block';
  }
  
  function dismountElementsHybrid() {
    document.getElementById('matressContainerHybrid').style.display = 'none';
    document.getElementById('matressContentHybrid').innerHTML = ' ';
    document.getElementById('verMasHybrid').style.display = 'flex';
    document.getElementById('verMenosHybrid').style.display = 'none';
    document.getElementById('hybridUl').style.display = 'none';
  }
  
  function layerBalance() {
    document.getElementById('matressContentBalance').innerHTML = 'Diseñado para darte el soporte en espalda y cuello que necesitas, aliviar la presión en las articulaciones y adaptarse a ti. Disfruta de una suavidad y comodidad inigualables.';
    document.getElementById('balanceBulletOne').innerHTML = 'Con tejido antimicrobiano de alta tecnología, llamado tratamiento SILVADURTM 930FLEX.';
    document.getElementById('balanceBulletTwo').innerHTML = 'Con tecnología de enfriamiento constante, llamada NanoCool Fabric.';
    document.getElementById('balanceBulletThree').innerHTML = 'Funda desmontablede fácil acceso, cuenta con un cierre lateral, para que se pueda lavar y retirar sin complicaciones.';
    document.getElementById('balanceBulletFour').innerHTML = 'Sin transferencia de movimiento.';
    document.getElementById('balanceBulletFive').innerHTML = 'Con 365 noches de prueba.';
    document.getElementById('balanceBulletSix').innerHTML = 'Garantía de 12 años.';
    document.getElementById('balanceBulletSeven').innerHTML = 'Envío gratis.';
    document.getElementById('matressContainerBalance').style.display = 'block';
    document.getElementById('verMenosBalance').style.display = 'flex';
    document.getElementById('verMasBalance').style.display = 'none';
    document.getElementById('balanceUl').style.display = 'block';
  }
  
  function dismountElementsBalance() {
    document.getElementById('matressContainerBalance').style.display = 'none';
    document.getElementById('matressContentBalance').innerHTML = ' ';
    document.getElementById('verMasBalance').style.display = 'flex';
    document.getElementById('verMenosBalance').style.display = 'none';
    document.getElementById('balanceUl').style.display = 'none';
  }

</script>