
<section class="tw-my-14 tw-px-0 md:tw-px-10">
    <div class="tw-border-gris tw-border-solid tw-border-2 tw-border-x-0 tw-py-10">
        <div class="tw-w-10/12 lg:tw-w-6/12 tw-mx-auto">
            <h2 class="tw-font-poppins tw-text-gris tw-text-lg md:tw-text-xl lg:tw-text-3xl xl:tw-text-4xl tw-font-semibold tw-text-center tw-mb-5 md:tw-mb-0">¿Podrían estar equivocados más de 1,000,000 clientes?</h2>
            <h3 class="tw-hidden md:tw-block tw-font-poppins tw-text-gris tw-text-base lg:tw-text-xl tw-font-normal tw-text-center tw-my-5">Tal vez, pero nuestra comunidad <span class="tw-font-semibold">nos ama.</span></h3>
        </div>
        <video 
        width="auto" 
        height="auto" 
        poster="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/SmartBamboo-Preview-Video-min.webp?v=1659899197" 
        class="lozad tw-block tw-mx-auto tw-w-full md:tw-w-4/6" 
        playsinline controls>
        <source data-src="https://cdn.shopify.com/videos/c/o/v/12a506280c8041c4a76c47e4989febff.mp4">
      </video>
    </div>
</section>