
<section class="tw-flex tw-justify-center tw-items-center tw-px-0 tw-flex tw-flex-col">
    <div class="tw-bg-top tw-bg-cover tw-w-full tw-max-w-[1100px] tw-py-10">
        <h2 class="tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-my-5">
            Conoce la tecnología Smart  <br><span class="tw-font-normal">en nuestros colchones</span>
        </h2>
        <p class="tw-text-center tw-font-normal tw-text-lg tw-w-11/12 tw-w-3/4 tw-mx-auto tw-mt-10">
            Nuestros colchones están conformados por lo último en tecnología para el descanso, un ejemplo de ello es su innovador tratamiento antimicrobiano en sus tejidos, que cuenta con la capacidad de inhibir la propagación de bacterias, hongos y microorganismos peligrosos para la salud de las personas.<br><br>
            Aunado a esto, se encuentra su tecnología NanoCool Fabric, que tiene el propósito de mantener fresca la superficie del colchón mediante un mecanismo de enfriamiento, haciendo que te olvides de las noches calurosas que no te dejan dormir.
        </p>
    </div>

    <div class="tw-bg-top tw-bg-cover tw-w-full tw-max-w-[1100px] tw-py-10">
        <h2 class="tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-my-5">
            Características de los <br><span class="tw-font-normal">colchones Smart Bamboo</span>
        </h2>
        <p class="tw-text-center tw-font-normal tw-text-lg tw-w-11/12 tw-w-3/4 tw-mx-auto tw-mt-10">
            En Smart Bamboo nos destacamos en la venta de colchones con características inigualables, descubre porque nuestros colchones son considerados los mejores productos para fomentar un sueño saludable.
        </p>
    </div>

    <div class="tw-max-w-[1100px] tw-py-14">
        
        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">1</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Hechos para que descanses mejor</h2>
                <p>Diseñados para proporcionar soporte y alineación adecuados para tu columna mientras descansas. Es un producto ideal para personas que tienen problemas para conseguir una buena postura durante el sueño o que se despiertan con dolor de espalda o dolor en otras partes del cuerpo. </p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">2</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Productos de alta calidad</h2>
                <p>Fabricamos nuestros colchones con materiales de alta calidad, cumpliendo con estándares de seguridad y normas de fabricación rigurosas, y ganando varias certificaciones en camino. El resultado se nota, nuestros colchones son muy duraderos y mantienen su forma durante un gran tiempo. </p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">3</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Advance Memory foam</h2>
                <p>Nuestros colchones están rellenos con memory foam y están conformados por diferentes capas que trabajan de manera conjunta con el objetivo de brindar gran esponjosidad, confort y frescura al dormir.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">4</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Colchones antiácaros</h2>
                <p>El espacio en el que dormimos suele resguardar múltiples microorganismos, los colchones antiácaros están elaborados con materiales que tienen la cualidad de evitar la acumulación de ácaros, ayudando a disminuir las reacciones alérgicas.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">5</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Suavidad</h2>
                <p>Lo más importante al elegir un colchón es su suavidad, al ser la virtud encargada de procurar un correcto descanso; los colchones de Smart Bamboo se destacan por la extraordinaria sensación de confort que producen al dormir.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">6</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Nueva Tecnología NanoCool Fabric</h2>
                <p>El nuevo tejido de la funda incorpora la última tecnología de enfriamiento constante, llamada NanoCool Fabric, está diseñado para absorber la humedad y el calor de la piel, manteniendo al cuerpo fresco y seco toda la noche para un descanso increíble.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">7</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Olvídate las Bacterias con su Nuevo Tejido Antimicrobiano</h2>
                <p>El tejido antimicrobiano de alta tecnología ha sido tratado para resistir el crecimiento de microorganismos como bacterias, hongos y virus ayudando a proteger la salud y el bienestar de las personas.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">8</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Funda Desmontable de Fácil Acceso</h2>
                <p>Reubicamos el cierre de la funda para que se pueda retirar fácilmente y la puedes lavar sin complicaciones. Además, le añadimos el tratamiento de alta tecnología SILVADURTM 930FLEX antimicrobial hecho de NANOPARTÍCULAS DE PLATA, elimina las bacterias y absorbe los malos olores derivados de microbios proporcionando una protección de frescura duradera y minimizando los riesgos de alergias.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">9</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Duerme sin preocupaciones</h2>
                <p>Los colchones híbridos son más duraderos debido a que tienen menos probabilidad de deformarse o desgastarse prematuramente gracias a la combinación de diferentes materiales y a la calidad de la construcción.<br>
                Pero por si eso fuera poco contamos con 120 noches de prueba y 12 años de garantía.
                </p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">10</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Cuidamos de ti y de los tuyos</h2>
                <p>OEKO-TEX. Duerme tranquilo ya que cada uno de los componentes de este artículo han sido han sido probados y certificados de estar libres de agentes nocivos y perjudiciales para nuestra salud.</p>
                <p> Bluesign®. Es un estándar ecológico para la protección del medio ambiente establecidos por las organizaciones de consumidores en la UE. ¿Qué certifica? Que nuestros productos se fabrican con la máxima calidad y valor añadido minimizando el consumo de recursos, así como reduciendo el impacto medioambiental.</p>
            </div>
        </div>

        {% comment %} <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">6</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Certificaciones OEKO-TEX y CertiPUR-US</h2>
                <p>En los colchones Smart Bamboo encontrarás las etiquetas OEKO-TEX y CertiPUR-US, que son prueba de los estrictos controles de calidad a los que son sometidos, garantizando que sus espumas y textiles son completamente seguros para la salud de las personas y el medioambiente.</p>
            </div>
        </div> {% endcomment %}
    </div>
</section>