
<section class="tw-flex tw-justify-center tw-items-center tw-px-0 tw-flex tw-flex-col">
    
    <div class=" tw-w-full tw-max-w-[1100px] tw-border-t-2 tw-border-0 tw-border-solid tw-border-[#E5D8C6]">
        <h2 class="tw-text-center tw-font-semibold tw-text-2xl tw-my-10">
            COLCHÓN SMART HYBRID
        </h2>
        <p class="tw-text-center tw-font-normal tw-text-lg tw-w-11/12 tw-w-3/4 tw-mx-auto">
            ¿Buscas un colchón ortopédico que te ofrezca el equilibrio perfecto entre soporte y confort? Con su combinación única de resortes de acero y memory foam, este colchón te proporcionará la firmeza que necesitas para una buena postura y el confort que buscas para una noche de sueño reparadora. 

        </p>
    </div>

    <div class="tw-max-w-[1100px] tw-w-full md:tw-w-3/4 lg:tw-w-3/4 tw-flex tw-flex-col tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-pt-5 tw-border-b-2 tw-border-0 tw-border-solid tw-border-[#E5D8C6] tw-pb-10">
        <div class="tw-px-5 md:tw-px-10 tw-flex tw-flex-col">
            <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
                <div class="tw-text-xl tw-rounded-xl tw-font-bold tw-px-2 tw-bg-[#D3B897] tw-text-white tw-text-center tw-w-[25px] tw-mr-5">1</div>
                <div class="tw-flex tw-flex-col tw-w-3/4">
                    <h2 class="tw-font-semibold tw-text-2xl">Capa Bamboo Active C.</h2>
                    <p>Esta capa infusionada con carbón de bambú, ayuda a neutralizar los olores y a mantener el colchón fresco y agradable por mucho más tiempo, además, tiene propiedades termorreguladoras para mantener la temperatura del colchón fresco en verano, y cálido en invierno creando un ambiente de sueño más cómodo y relajante.</p>
                </div>
            </div>

            <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
                <div class="tw-text-xl tw-rounded-xl tw-font-bold tw-px-2 tw-bg-[#D3B897] tw-text-white tw-text-center tw-w-[25px] tw-mr-5">2</div>
                <div class="tw-flex tw-flex-col tw-w-3/4">
                    <h2 class="tw-font-semibold tw-text-2xl">Aloe-Vera Infusion.</h2>
                    <p>Capa con infusión de aloe diseñada para proporcionar una sensación suave y fresca al dormir, ayuda a mantener la piel hidratada y saludable, además de relajarte más rápido para conciliar mejor el sueño. Tiene propiedades hipoalergénicas y antimicrobianas, ideal para quienes sufren de alergias o problemas de piel.</p>
                </div>
            </div>

            <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
                <div class="tw-text-xl tw-rounded-xl tw-font-bold tw-px-2 tw-bg-[#D3B897] tw-text-white tw-text-center tw-w-[25px] tw-mr-5">3</div>
                <div class="tw-flex tw-flex-col tw-w-3/4">
                    <h2 class="tw-font-semibold tw-text-2xl">Individual Memory Coils.</h2>
                    <p>Cada resorte es independiente para que se pueda mover y adaptarse individualmente al peso y la forma de tu cuerpo, lo que reduce el movimiento en el colchón, permite una mejor distribución del peso, brinda un soporte personalizado y un mayor nivel de confort.</p>
                </div>
            </div>

            <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
                <div class="tw-text-xl tw-rounded-xl tw-font-bold tw-px-2 tw-bg-[#D3B897] tw-text-white tw-text-center tw-w-[25px] tw-mr-5">3</div>
                <div class="tw-flex tw-flex-col tw-w-3/4">
                    <h2 class="tw-font-semibold tw-text-2xl">Advanced SupportTM.</h2>
                    <p>Dos capas de espuma de memoria de alta densidad que brindan un soporte superior a tu cuerpo ayudando a mantener tu columna vertebral alineada y sin presión.</p>
                </div>
            </div>

            <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
                <div class="tw-text-xl tw-rounded-xl tw-font-bold tw-px-2 tw-bg-[#D3B897] tw-text-white tw-text-center tw-w-[25px] tw-mr-5">3</div>
                <div class="tw-flex tw-flex-col tw-w-3/4">
                    <h2 class="tw-font-semibold tw-text-2xl">Edge Foam Support.</h2>
                    <p>Capa lateral de espuma de memoria de 6” de grosor de alta densidad que recubre el colchón dando mayor soporte para que tu cuerpo mantenga una posición correcta y sin presión.</p>
                </div>
            </div>

            <div class="tw-mt-2">
                <a href="/products/colchon-smart-hybrid">
                    <button class="tw-font-poppins tw-text-base md:tw-text-lg tw-font-medium tw-text-white hover:tw-text-[#292929] tw-mt-2 tw-bg-[#292929] hover:tw-bg-transparent tw-border-2 tw-border-solid tw-border-[#292929] tw-px-2 tw-py-3 tw-rounded tw-w-3/4 md:tw-w-[200px] tw-mx-auto tw-block">
                        ¡Ir por el mío!
                    </button>
                </a>
            </div>

        </div>
        
        <div class="tw-flex tw-justify-center tw-items-start">
            <img class="tw-w-full md:tw-w-3/4 tw-mx-auto tw-block" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Colchones-capas-hybrid_-_desktop_1.webp?v=1672373586">
        </div>
    </div>    

</section>