<style>
    .capas-nuevas {
        background-image:url("https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Colchones-capas-firm_-_desktop.webp?v=1664404407");
    }
</style>

<section class="tw-max-w-[1200px] tw-mx-auto tw-px-0 md:tw-px-10 tw-py-10"> 

    {% comment %} uno {% endcomment %}
    <div class="tw-w-full">
        <img class="tw-hidden md:tw-block tw-w-full" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/NUEVO-COLCHON-FIRM_-_DESKTOP.webp?v=1664404407">
        <img class="tw-block md:tw-hidden tw-w-full" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/NUEVO-COLCHON-FIRM_-_MOBILE.webp?v=1664404407">
    </div>

    {% comment %} dos {% endcomment %}
    <div class="tw-hidden tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-bg-[#E0DBD5]">
        <div class="tw-self-center tw-px-3 md:tw-px-5 tw-py-14">
            <h2 class="tw-text-center tw-text-4xl tw-font-semibold tw-text-[#292929]">Sabanas Blend</h2>
            <p class="tw-text-center tw-text-lg tw-font-normal tw-text-[#292929]">Hipoalergénicas, suaves y muy frescas,<br> el complemento ideal para tu nuevo colchón.
        </p>
            <img clas="tw-block tw-mx-auto tw-w-3/4" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Regalo-sabanas-blend_1.webp?v=1664404407">
        </div>
        <div class="tw-self-center tw-px-3 md:tw-px-5 tw-pb-14 md:tw-pb-0">
            <h2 class="tw-text-center tw-text-xl md:tw-text-3xl tw-font-semibold tw-text-[#292929]">En la compra de tu nuevo colchón Firm te obsequiamos nuestras increíbles Sábanas Blend* $1,450.00 </h2>
            {% comment %} <p class="tw-text-center tw-text-2xl tw-font-normal tw-text-[#292929] tw-mt-3">En tu color favorito en la compra <br> de un colchón Firm</p> {% endcomment %}
            {% comment %} <button class="tw-bg-black tw-px-5 tw-py-2 tw-text-center tw-text-white tw-rounded tw-mx-auto tw-block tw-my-5">¡Las quiero!</button> {% endcomment %}
            <p class="tw-text-center tw-text-sm">*Consulta T&C</p>
        </div>

    </div>

    {% comment %} tres {% endcomment %}
    {%- render 'smart-firm-layers' -%}

    {% comment %} cuatro {% endcomment %}
    <div class="tw-w-full tw-bg-[#F4F0EC] tw-rounded-lg tw-shadow-xl tw-p-4 md:tw-p-10 tw-my-5">
        <h2 class="tw-text-center tw-text-3xl tw-font-semibold">¿Por qué Firm?</h2>
        <p class="tw-text-center tw-text-base md:tw-text-lg tw-font-normal tw-w-full md:tw-w-3/4 tw-mx-auto tw-mt-10">
            Un colchón firme que brinda el soporte que tu espalda necesita y que ayuda a mejorar problemas de la columna, cadera y espalda gracias a la ergonomía que proporciona, adaptándose también al peso corporal. <br><br>
            Muy cómodo sin ser un colchón duro, ofreciendo la firmeza adecuada para acabar con todo tipo de dolor al dormir.
        </p>
        <img class="tw-hidden md:tw-block tw-mx-auto tw-w-3/4 tw-mt-10" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Nivel_de_firmeza.webp?v=1664404407">
        <img class="tw-block md:tw-hidden tw-mx-auto tw-w-full tw-mt-10" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Nivel-de-firmeza-mobile.webp?v=1664981843">

    </div>

    {% comment %} cinco {% endcomment %}
    <div class="tw-w-full tw-bg-[#E0DBD5] tw-my-5">
        <div class="tw-py-10 tw-mx-auto tw-w-3/4">

            <h2 class="tw-text-center tw-text-2xl md:tw-text-5xl tw-font-semibold">
                Experimenta el mejor <br>descanso de tu vida
            </h2>
            <p class="tw-text-center tw-text-base md:tw-text-lg tw-font-normal tw-mt-5">
                <span class="tw-font-semibold">No más ácaros o bacterias.</span>  Sustituimos las fibras de bambú de nuestros colchones firmes por un tejido antimicrobiano de alta tecnología, que repele cualquier microorganismo que pueda dañarte.
            </p>
        </div>
        <video class="tw-block tw-mx-auto tw-w-full" autoplay loop muted playsinline>
            <source src="https://cdn.shopify.com/videos/c/o/v/c1a2d499ac124fcb830b3bc6d931d26f.mp4">
        </video>
        <div class="tw-py-10 tw-px-5 md:tw-mx-auto tw-w-full md:tw-w-3/4">
            <h2 class="tw-text-center tw-text-2xl md:tw-text-4xl tw-font-semibold">
                Cuenta con el tratamiento <br> SILVADURTM 930FLEX
            </h2>
                
            <p class="tw-text-center tw-text-base md:tw-text-lg tw-font-normal tw-mt-5">
                El mejor tratamiento antimicrobiano de alta tecnología, este controla y absorbe los malos olores derivados de microbios y proporciona una protección de frescura duradera.
            </p>
        </div>

    </div>

    {% comment %} seis {% endcomment %}
    <div class="bg-slate-100 tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-10 tw-my-10">
        <div class="tw-flex tw-flex-col md:tw-flex-col-reverse">
            <div class="tw-flex tw-flex-col">
                <h2 class="tw-text-center tw-text-2xl md:tw-text-4xl tw-font-semibold tw-text-[#434F5A] tw-mt-10 tw-w-3/4 tw-mx-auto">
                    Descubre nuestra <br>nueva funda. 
                </h2>
                <p class="tw-text-center tw-text-base md:tw-text-xl tw-font-normal tw-text-[#434F5A] tw-my-5 tw-w-full md:tw-w-3/4 tw-mx-auto tw-p-3">
                    Posee la última tecnología de enfriamiento constante llamado NanoCool Fabric, evitando que el calor se concentre y ofrece confort universal desde la primera noche.
                </p>
            </div>
            <video class="tw-block tw-mx-auto tw-w-full" autoplay loop muted playsinline>
                <source src="https://cdn.shopify.com/videos/c/o/v/421a84d6570244b1b3f7c784947c77cf.mp4">
            </video>
        </div>

        <div class="tw-flex tw-flex-col md:tw-flex-col-reverse">
            <div class="tw-flex tw-flex-col">
                <h2 class="tw-text-center tw-text-2xl md:tw-text-4xl tw-font-semibold tw-text-[#434F5A] tw-mt-10 tw-w-3/4 tw-mx-auto">
                    Olvídate de sudar <br>en las noches.
                </h2>
                <p class="tw-text-center tw-text-base md:tw-text-xl tw-font-normal tw-text-[#434F5A] tw-my-5 tw-w-full md:tw-w-3/4 tw-mx-auto tw-p-3">
                    Diseñamos una novedosa malla perforada en el inferior que ayuda a disipar el calor del colchón y mejora la transpirabilidad toda la noche ¡Goza de la frescura!
                </p>
            </div>
            <video class="tw-block tw-mx-auto tw-w-full" autoplay loop muted playsinline>
                <source src="https://cdn.shopify.com/videos/c/o/v/e892783716ce4549bb31971fa65babd5.mp4">
            </video>
        </div>

        {% comment %} <div class="tw-flex tw-flex-col md:tw-flex-col-reverse">
            <div class="tw-flex tw-flex-col">
                <h2 class="tw-text-center tw-text-2xl md:tw-text-3xl tw-font-semibold tw-text-[#434F5A] tw-mt-10 tw-w-3/4 tw-mx-auto">
                    Olvídate de sudar en las noches y goza de la frescura.
                </h2>
                <p class="tw-text-center tw-text-xl tw-font-normal tw-text-[#434F5A] tw-mt-5 tw-w-3/4 tw-mx-auto">
                    Diseñamos una novedosa malla perforada en el inferior que ayuda a disipar el calor del colchón y mejora la transpirabilidad toda la noche.
                </p>
            </div>    

            <video class="tw-block tw-mx-auto tw-w-full" autoplay loop muted playsinline>
                <source data-src="https://cdn.shopify.com/videos/c/o/v/e892783716ce4549bb31971fa65babd5.mp4">
            </video>
        </div> {% endcomment %}

    </div>

    {% comment %} siete {% endcomment %}
    <div class="tw-flex tw-flex-col md:tw-flex-col-reverse tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-bg-[#E0DBD5] tw-mt-10"> 
        
        <div class="tw-w-full tw-self-center tw-py-10 md:tw-py-0">
            <h2 class="tw-text-center tw-text-2xl md:tw-text-4xl tw-font-semibold tw-text-[#434F5A] tw-w-3/4 tw-mx-auto">
                Funda desmontable<br> de fácil acceso
            </h2>
            <p class="tw-text-center tw-text-lg md:tw-text-xl tw-font-normal tw-text-[#434F5A] tw-w-3/4 tw-mx-auto tw-mt-5">
                Cuenta con un cierre lateral, para que pueda lavar y retirar sin complicaciones
            </p>
        </div>
        <div class="tw-w-full">
            <img class="tw-w-full" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/CIERRE-LATERAL.webp?v=1664404407">
        </div>
        
    </div>

    {% comment %} ocho {% endcomment %}
    <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-bg-[#E0DBD5] tw-mt-10"> 
         
        <div class="tw-hidden md:tw-block tw-w-full">
            <img class="tw-w-full" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/MAYOR-ERGONOMIA-FIRM.webp?v=1664404407">
        </div>
        <div class="tw-w-full tw-self-center tw-py-10 md:tw-py-0">
            <h2 class="tw-text-center tw-text-2xl md:tw-text-4xl tw-font-semibold tw-text-[#434F5A] tw-w-3/4 tw-mx-auto">
                Disfruta de mayor <br> ergonomía y soporte
            </h2>
            <p class="tw-text-center tw-text-lg md:tw-text-xl tw-font-normal tw-text-[#434F5A] tw-w-3/4 tw-mx-auto tw-mt-5">
                Gracias a que tu Colchón Firm se adapta a la forma de tu cuerpo para cuidar la presión en tu columna, articulaciones y brindarte un mayor confort en tu descanso, convirtiéndose en el colchón adecuado para ti.
            </p>
        </div>
        <div class="tw-block md:tw-hidden tw-w-full">
            <img class="tw-w-full" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/MAYOR-ERGONOMIA-FIRM.webp?v=1664404407">
        </div>
        
        
    </div>

    {% comment %} nueve {% endcomment %}
    <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-bg-[#E0DBD5] tw-mt-10"> 
        <div class="tw-w-full tw-self-center tw-py-10 md:tw-py-0">
            <h2 class="tw-text-center tw-text-2xl md:tw-text-4xl tw-font-semibold tw-text-[#434F5A] tw-w-3/4 tw-mx-auto">
                Sin transferencia<br> de movimiento
            </h2>
            <p class="tw-text-center tw-text-lg md:tw-text-xl tw-font-normal tw-text-[#434F5A] tw-w-3/4 tw-mx-auto tw-mt-5">
                ¿Has visto los comerciales donde no se cae la copa de vino? Nuestro sistema es mejor. Nuestra capa de espuma de alta densidad proporciona soporte y resistencia sin sensación de hundimiento, haciéndolo el colchón ideal.
            </p>
        </div>
        <video class="tw-block tw-mx-auto tw-w-full" autoplay loop muted playsinline>
            <source src="https://cdn.shopify.com/videos/c/o/v/76450ffddd10424ba692caf42c31401c.mp4">
        </video>

    </div>

</section>