
{% comment %} ZIG ZAG {% endcomment %}
<section class="tw-p-5 md:tw-p-10 tw-w-full tw-bg-[#F7F7F7]">
    <div class="tw-w-full tw-max-w-[1300px] tw-block tw-mx-auto">
    {% comment %} Inicia FILA 1{% endcomment %}
    <div class="tw-flex tw-flex-col md:tw-flex-row tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-0">
      {% comment %} Inicia Columna 1{% endcomment %}
      <div class="tw-flex tw-flex-col">     
        <div>
          <video class="lozad tw-block tw-mx-auto tw-w-full" autoplay loop muted playsinline>
            <source src="https://cdn.shopify.com/videos/c/o/v/0e9af4b7b313490abf2834c8cbf96552.mp4">
          </video>
        </div>
        <div class="tw-p-10 md:tw-p-3 2xl:tw-p-5">
          <div class="tw-flex tw-flex-col tw-w-full tw-self-center tw-justify-center tw-h-full sm:tw-h-[500px] md:tw-h-[500px] lg:tw-h-[550px] tw-w-full">
            <div class="tw-w-full md:tw-w-5/6 xl:tw-w-5/6 2xl:tw-w-2/3 tw-mx-auto tw-block md:tw-my-10 lg:tw-my-10">
              <h2 class="tw-text-2xl md:tw-text-4xl tw-text-center md:tw-text-left tw-font-bold tw-my-5 tw-text-gris">
                Relleno ajustable
              </h2>
              <ul class="tw-list-outside tw-mx-5">
                <li class="tw-text-base md:tw-text-lg xl:text-xl tw-mt-3">Dormir de lado. Alivia puntos de presión y favorece una mejor respiración. La almohada debe estar tan alta como anchos sean tus hombros para que el peso no lo absorba tu brazo o cuello.</li>
                <li class="tw-text-base md:tw-text-lg xl:text-xl tw-mt-3">Dormir boca arriba. Alivia la presión en la espalda. Retira la mitad del relleno de tal forma que no quede tan alta que tu cuello quede por encima de tu columna, ni tan baja que se te dificulte respirar.</li>
                <li class="tw-text-base md:tw-text-lg xl:text-xl tw-mt-3">Dormir boca abajo. Es una postura que ayuda a disminuir los molestos ronquidos; sin embargo, debes asegurarte de retirar hasta un 80% del relleno de la almohada ya que de lo contrario podría ocasionar dolores en la espalda y cuello.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Termina Columna 1{% endcomment %}
  
      {% comment %} Inicia Columna 2{% endcomment %}
      <div class="tw-flex tw-flex-col tw-mt-5 md:tw-mt-0">
  
          <div class="tw-w-full">
            <img 
              class="lozad tw-block tw-mx-auto tw-w-full" 
              src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart-Bamboo-Almohada-Blend-relleno_ajustable-min.webp?v=1660859535" 
              alt="Descubre cómo la Almohada Blend" 
              title="Descubre cómo la Almohada Blend">
          </div>
  
          <div class="tw-p-10 md:tw-p-3 2xl:tw-p-5">
            <div class="tw-flex tw-flex-col tw-w-full tw-self-center tw-justify-center tw-h-full sm:tw-h-[500px] md:tw-h-[500px] lg:tw-h-[550px]">
              <div class="tw-w-full md:tw-w-5/6 xl:tw-w-5/6 2xl:tw-w-2/3 tw-mx-auto tw-block md:tw-my-10 lg:tw-my-10">
                <h2 class="tw-text-2xl md:tw-text-4xl tw-text-center md:tw-text-left tw-font-bold tw-my-5 tw-text-gris">
                  Zona de confort
                </h2>
                <ul class="tw-list-outside tw-mx-5">
                  <li class="tw-text-base md:tw-text-lg xl:text-xl tw-mt-3">Elaborada con espuma de memoria moldeable que a diferencia de otras almohadas rellenas de espuma de memoria, se adapta a ti, ¡no tu a ella!</li>
                  <li class="tw-text-base md:tw-text-lg xl:text-xl tw-mt-3">La altura ideal de tu almohada debe tener el grosor del ancho de tus hombros, de 10 a 12 cm en promedio, ya que ayudan a alinear tu postura y reduce los síntomas en personas que sufren de asma o que suelen roncar.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% comment %} Inicia Columna 2{% endcomment %}
      </div>
    {% comment %} Termina FILA 1{% endcomment %}
  
  
    {% comment %} Inicia FILA 2{% endcomment %}
    <div class="tw-flex tw-flex-col md:tw-flex-row tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-10">
      <div class="tw-w-full">
        <img 
        class="lozad tw-block tw-mx-auto tw-w-full" 
        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart-Bamboo-Almohada-Blend-Hipoalergenicas-y-ecologicas-min.webp?v=1660859535" 
        alt="Almohada con Funda Hipoalergénica y Ecológica" 
        title="Funda Hipoalergénica y Ecológica">
      </div>
      <div class="tw-w-full tw-py-14 md:tw-py-10 tw-px-10 md:tw-px-0 tw-bg-[#E6E3D8]">
        <div class="tw-flex tw-flex-col tw-w-full tw-self-center tw-justify-center tw-h-full tw-w-full">
          <div class="tw-block tw-mx-auto tw-w-full md:tw-w-2/3">
            <h2 class="tw-text-2xl md:tw-text-4xl tw-text-center md:tw-text-left tw-font-bold tw-my-5 tw-text-gris">
              Hipoalergénica y ecológica
            </h2>
            <ul class="tw-list-outside tw-mx-5">
              <li class="tw-text-base md:tw-text-xl tw-mt-3">Su funda elaborada con fibras de bambú es hipoalergénica, lo que significa que repele ácaros y bacterias causantes de alergias e irritaciones en la piel.</li>
              <li class="tw-text-base md:tw-text-xl tw-mt-3">Al ser de bambú, tiene un menor impacto medioambiental que la de otros materiales de origen vegetal o animal y es libre de maltrato animal.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Termina FILA 2{% endcomment %}
  
    {% comment %} Inicia FILA 3{% endcomment %}
    <div class="tw-flex tw-flex-col md:tw-flex-row-reverse md:grid-col-2 tw-bg-[#E6E3D8] tw-mt-10">
      <div class="tw-w-full">
        <img 
        class="lozad tw-block tw-mx-auto tw-w-full"  
        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart-Bamboo-Almohada-Blend-certificaciones-min.webp?v=1660859534" 
        alt="Certificaciones CertiPUR- US® y OEKO-TEX® de la Almohada Blend" 
        title="Funda Hipoalergénica y Ecológica">
      </div>
      <div class="tw-w-full tw-px-10 md:tw-px-0 tw-py-10 md:tw-py-10">
        <div class="tw-flex tw-flex-col tw-w-full tw-self-center tw-justify-center tw-h-full tw-w-full">
          <div class="tw-block tw-mx-auto tw-w-full md:tw-w-2/3">
            <h2 class="tw-text-2xl md:tw-text-4xl tw-text-center md:tw-text-left tw-font-bold tw-my-5 tw-text-gris">
              Certificaciones CertiPUR- US® y OEKO-TEX®
            </h2>
            <ul class="tw-list-outside tw-mx-5">
              <li class="tw-text-base md:tw-text-xl tw-mt-3">Nuestros textiles y espumas de memoria son sometidos a rigurosas pruebas de laboratorio que certifican su calidad y garantizan un producto seguro para ti y tu familia.</li>
              <li class="tw-text-base md:tw-text-xl tw-mt-3">Contamos con la certificación Oeko-Tex Standard 100®️, lo que asegura que cada cada hilo, botón, componente de tinte y otros materiales, han sido probados y certificados de estar libres de agentes nocivos y perjudiciales para la salud humana.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Termina FILA 3{% endcomment %}
  
    {% comment %} Inicia FILA 44{% endcomment %}
    <div class="tw-flex tw-flex-col md:tw-flex-row tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-bg-[#E6E3D8] tw-mt-10">
      <div class="tw-w-full">
        <img 
        class="lozad tw-block tw-mx-auto tw-w-full" 
        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart-Bamboo-Almohada-Blend-niveles-de-almohada-min.webp?v=1660859534" 
        alt="Niveles de confort de la Almohada Blend" 
        title="Funda Hipoalergénica y Ecológica">
        
      </div>
      <div class="tw-w-full tw-px-10 md:tw-px-0 tw-py-10">
        <div class="tw-flex tw-flex-col tw-w-full tw-self-center tw-justify-center tw-h-full tw-w-full">
          <div class="tw-block tw-mx-auto tw-w-full md:tw-w-2/3">
            <h2 class="tw-text-2xl md:tw-text-4xl tw-text-center md:tw-text-left tw-font-bold tw-my-5 tw-text-gris">
              Niveles de confort
            </h2>
            <ul class="tw-list-outside tw-mx-5">
              <li class="tw-text-base md:tw-text-xl tw-mt-3">1. <b>Relleno de espuma de memoria</b> desmenuzada que se puede ajustar a la firmeza o suavidad deseada.</li>
              <li class="tw-text-base md:tw-text-xl tw-mt-3">2. <b>Forro con cremallera</b> en su funda interior para retirar fácilmente el relleno.</li>
              <li class="tw-text-base md:tw-text-xl tw-mt-3">3. <b>Funda exterior</b> elaborada con fibras de bambú, lo que la hace fresca y transpirable. No causa alergias ni irritaciones.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Termina FILA 44{% endcomment %}
    </div>
  </section>