
<section class="tw-w-full tw-h-[900px] lg:tw-h-[786px]">
    <div class="tw-h-[900px] md:tw-h-full tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-bg-cover md:tw-bg-center tw-bg-top tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hero-coleccion-colchones-mobile.webp?v=1685159937')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hero-coleccion-colchones-desktop.webp?v=1685159937')]">
      <div class="tw-flex tw-flex-col tw-items-center tw-justify-start md:tw-justify-center">
        <h2 class="tw-font-lora tw-text-2xl lg:tw-text-2xl xl:tw-text-5xl tw-text-[#292929] tw-font-semibold tw-uppercase tw-leading-tight tw-text-center tw-mt-10 md:tw-mt-0">
          Los mejores colchones <br class="tw-block">para el mejor descanso
        <h2>
        {% comment %}<p class="tw-font-poppins tw-font-normal tw-text-[#292929] lg:tw-text-base xl:tw-text-2xl tw-text-center tw-uppercase tw-mt-5">
          En la compra de cualquier <br class="tw-block"> colchón smart <b>obtén estos regalos*:</b>
        </p>{% endcomment %}
        {% comment %}<div class="tw-flex tw-flex-row tw-gap-x-3 lg:tw-gap-x-5 xl:tw-gap-x-10 tw-my-10 tw-text-[#292929]">
          <p class="tw-text-center tw-uppercase tw-font-semibold tw-text-sm md:tw-text-base">Almohadas <br>Cervical Lavanda</p>
          <p class="tw-text-center tw-uppercase tw-font-bold tw-text-xl md:tw-text-3xl">•</p>
          <p class="tw-text-center tw-uppercase tw-font-semibold tw-text-sm md:tw-text-base">Sábanas</p>
          <p class="tw-text-center tw-uppercase tw-font-bold tw-text-xl md:tw-text-3xl">•</p>
          <p class="tw-text-center tw-uppercase tw-font-semibold tw-text-sm md:tw-text-base">Protector <br>de colchón</p>
        </div>{% endcomment %}
  
        {% comment %}<p class="tw-w-full tw-text-center tw-text-sm tw-text-[#292929]">*Aplica T&C en smartbamboo.mx</p>{% endcomment %}
      </div>
      <div></div>
    </div>
  </section>