
<div class="tw-h-full tw-w-full tw-flex tw-justify-center tw-py-10 md:tw-py-16 colapseContacto">
    <div class="tw-w-full tw-max-w-[700px] tw-flex tw-flex-col lg:tw-flex-row tw-p-6 tw-m-6 lg:tw-mx-0 tw-shadow-[1px_1px_15px_1px_#E8EAED] tw-rounded-[20px]">

        <div class="tw-w-full tw-flex tw-flex-row"> 
            <div class="tw-w-1/3 tw-flex tw-justify-center tw-items-center">
                <img class="tw-w-[62px] tw-h-[62px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Group_137.png?v=1696623791" alt="contactanos"> 
            </div>
            <div class="tw-w-2/3 tw-flex tw-flex-col tw-justify-center">
                <p class="tw-font-poppins tw-text-[#000000] tw-text-[16px] tw-font-semibold tw-text-left">
                    ¿Necesitas ayuda?
                </p>
                <p class="tw-font-poppins tw-text-[#000000] tw-text-[14x] tw-font-normal tw-text-left tw-pt-2">
                    Contáctanos y con gusto te ayudaremos
                </p>
            </div>
        </div>

        <div class="tw-w-full tw-h-full tw-grid tw-grid-cols-2 tw-gap-6 tw-content-center"> 
            <div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center">
                <a href="#hs-chat-open">
                    <button class="tw-block tw-font-poppins tw-text-[16px] tw-font-semibold tw-text-[#434F5A] hover:tw-text-white tw-my-3 md:tw-my-4 tw-bg-[#E8EAED] hover:tw-bg-[#292929] tw-px-4 sm:tw-px-10 tw-py-2 md:tw-py-5 tw-rounded-[8px] tw-w-full tw-border-2 tw-border-solid tw-border-[#E8EAED] hover:tw-border-[#292929] tw-max-w-[800px] lg:tw-mt-16">
                        Escríbenos
                    </button>
                </a>
            </div> 
            <div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center">
                <a href="tel:+525531768819">
                    <button class="tw-block tw-font-poppins tw-text-[16px] tw-font-semibold tw-text-[#434F5A] hover:tw-text-white tw-my-3 md:tw-my-4 tw-bg-[#E8EAED] hover:tw-bg-[#292929] tw-px-4 sm:tw-px-10 tw-py-2 md:tw-py-5 tw-rounded-[8px] tw-w-full tw-border-2 tw-border-solid tw-border-[#E8EAED] hover:tw-border-[#292929] tw-max-w-[800px] lg:tw-mt-16">
                        Llámanos
                    </button>
                </a>
            </div>
        </div>
       
      {% comment %} <h3 class="tw-text-[#434F5A] tw-font-lora tw-text-3xl tw-font-semibold tw-text-center tw-pb-2">
        ¿Necesitas ayuda? test
      </h3>
      <p class="tw-text-[#434F5A] tw-text-base tw-font-medium tw-text-center tw-pb-4">
        Nuestros especialistas del sueño están para ayudarte.
      </p>
      <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-x-10 tw-gap-y-5 tw-py-2 md:tw-py-10">
        {%- render 'smart-meta-component-new-help', imagen: "https://cdn.shopify.com/s/files/1/0248/4705/6932/files/icono-chat.webp?v=1684176141", texto: "Chat", url: "#js-chatea" -%} 
        {%- render 'smart-meta-component-new-help', imagen: "https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Icon-llamanos.webp?v=1684176141", texto: "Llámanos", url: "tel:+525531768819" -%} 
      </div> {% endcomment %}

    </div>
  </div>