
<section class="tw-w-full tw-bg-[#FCF7F0] tw-flex tw-items-center tw-justify-center tw-py-14">
    <div class="tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col tw-grid tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-px-14 tw-gap-5 md:tw-gap-10">
        <img 
            class="tw-col-span-1 lg:tw-col-span-2 tw-py-5 md:tw-py-14 tw-mx-auto tw-block"
            alt="Bamboo Pay"
            src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/sobre-bamboo-pay.webp?v=1674315739"
        >
        
        <div class="tw-w-full tw-flex tw-justify-center tw-bg-[#FFFCF7]">
            <div class="tw-flex tw-flex-col tw-w-full tw-items-center tw-justify-start tw-p-5 md:tw-p-14">
                <h2 class="tw-w-full tw-text-2xl tw-text-[#434F5A] tw-font-semibold tw-text-center">¿Puedo realizar adelantos o abonos extra?</h2>
                <p class="tw-w-full tw-text-base tw-text-[#434F5A] tw-mt-5 tw-font-normal tw-text-center">¡Sí! Sin penalizaciones ni comisiones. Esto ayuda a bajar tu interés, terminando de pagar más rápido y bajando tu historial créditicio</p>
            </div>
        </div>

        <div class="tw-w-full tw-flex tw-justify-center tw-bg-[#FFFCF7]">
            <div class="tw-flex tw-flex-col tw-w-full tw-items-center tw-justify-start tw-p-5 md:tw-p-14">
                <h2 class="tw-w-full tw-text-2xl tw-text-[#434F5A] tw-font-semibold tw-text-center">¿Cobran alguna comisión?
            </h2>
                <p class="tw-w-full tw-text-base tw-text-[#434F5A] tw-mt-5 tw-font-normal tw-text-center">No se cobra ninguna comisión.</p>
            </div>
        </div>

        <div class="tw-w-full tw-flex tw-justify-center tw-bg-[#FFFCF7]">
            <div class="tw-flex tw-flex-col tw-w-full tw-items-center tw-justify-start tw-p-5 md:tw-p-14">
                <h2 class="tw-w-full tw-text-2xl tw-text-[#434F5A] tw-font-semibold tw-text-center">¿Qué tasa de interés cobra?</h2>
                <p class="tw-w-full tw-text-base tw-text-[#434F5A] tw-mt-5 tw-font-normal tw-text-center">Se cobra una tasa de interés fija de acuerdo al puntaje crediticio cada perfil. Este es fijo y incrementa mientras los pagos se realicen a tiempo.</p>
            </div>
        </div>

        <div class="tw-w-full tw-flex tw-justify-center tw-bg-[#FFFCF7]">
            <div class="tw-flex tw-flex-col tw-w-full tw-items-center tw-justify-start tw-p-5 md:tw-p-14">
                <h2 class="tw-w-full tw-text-2xl tw-text-[#434F5A] tw-font-semibold tw-text-center">¿Atrato es confiable?</h2>
                <p class="tw-w-full tw-text-base tw-text-[#434F5A] tw-mt-5 tw-font-normal tw-text-center">¡Claro! Todos los datos personales
                están encriptados.</p>
            </div>
        </div>

    </div>
</section>