<section class="tw-w-full tw-bg-[#f4f4f4]">
    <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-h-fit tw-bg-cover tw-bg-bottom lg:tw-bg-top tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/BG-promociones-julio-mobile_BG.webp?v=1688675327')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Promo-julio-desktop_BG.webp?v=1688675327')]">
        <div class="tw-row-start-2 lg:tw-row-start-1 tw-col-span-2 tw-bg-top tw-h-[400px] md:tw-h-[600px] lg:tw-h-[600px] xl:tw-h-[600px] 2xl:tw-h-[800px]">
            <div class="tw-h-full tw-flex tw-flex-col tw-justify-end">
                <p class="tw-block md:tw-hidden tw-col-span-6 tw-text-base xl:tw-text-xl tw-text-center tw-text-slate-300 tw-font-normal tw-px-3 tw-pb-10">
                    *Aplica T&C en <a class="tw-text-slate-300" href="/pages/terminos-y-condiciones"><span class="hover:tw-underline">smartbamboo.mx</span></a>
                </p>
            </div>
        </div>
        <div class="tw-row-start-1 lg:tw-row-start-1 tw-flex tw-items-center tw-justify-center tw-py-8 lg:tw-py-0">
            <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-6 tw-items-center tw-justify-center">
                <p class="tw-col-span-6 lg:tw-col-span-6 tw-font-lora tw-text-5xl 2xl:tw-text-7xl tw-text-center tw-font-medium lg:tw-text-[#292929] tw-mt-8 lg:tw-mt-0">
                    ¡REBAJAS DE <br><span class="tw-font-lora tw-text-[#ad1200]">VERANO!</span>
                </p>

                <p class="tw-col-span-6 lg:tw-col-span-6 tw-font-poppins tw-text-2xl 2xl:tw-text-4xl tw-text-center tw-font-medium md:tw-font-normal lg:tw-text-[#292929] tw-mt-12 lg:tw-mt-20">
                    HASTA
                </p>

                <p class="tw-col-span-6 lg:tw-col-span-6 tw-font-poppins tw-text-9xl 2xl:tw-text-[170px] tw-text-center tw-font-semibold tw-text-[#ad1200] lg:tw-mt-0">
                    30%<span class="tw-font-lora tw-text-[#ad1200] tw-text-5xl tw-font-semibold tw-align-top">*</span>
                </p>
                <p class="tw-col-span-6 lg:tw-col-span-6 tw-font-poppins tw-text-6xl 2xl:tw-text-6xl tw-text-center tw-font-semibold tw-text-[#ad1200] tw-mt-0">
                    OFF EXTRA
                </p>
     
                {% comment %}  <img class="tw-block lg:tw-hidden tw-col-span-4 tw-col-start-2 tw-w-[100%] tw-max-w-[400px] tw-block tw-mx-auto" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/cashback-web.webp?v=1688659882">
                <img class="tw-hidden lg:tw-block tw-col-span-4 tw-col-start-2 tw-w-[80%] tw-max-w-[400px] tw-block tw-mx-auto" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/cashback-web-desktop.webp?v=1688660497"> {% endcomment %}
                
                <p class="tw-hidden md:tw-block tw-col-span-6 tw-text-base xl:tw-text-xl tw-text-center tw-text-[#ffffff] lg:tw-text-[#666666] tw-font-normal tw-px-3 tw-py-2 tw-mt-3 xl:tw-mt-16">
                    *Aplica T&C en <a class="tw-text-[#ffffff] lg:tw-text-[#666666]" href="/pages/terminos-y-condiciones"><span class=" hover:tw-underline">smartbamboo.mx</span></a>
                </p>
                

            </div>
         
        </div>
        
    </div>
</section>

{% comment %} <section class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center lg:tw-my-5 2xl:tw-my-0 tw-bg-slate-50">
    <div class="tw-w-full tw-h-fit tw-max-w-[1300px] tw-flex tw-flex-col tw-justify-start tw-items-center"> 
        <div class="tw-py-14 tw-flex tw-flex-col tw-items-center">

            <video 
                poster="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/wide_still.webp?v=1680329802" 
                class="tw-hidden md:tw-block lozad tw-block tw-mx-auto tw-w-full" 
                autoplay loop muted playsinline>
                <source data-src="https://cdn.shopify.com/videos/c/o/v/861b515566ea4ec18b8168e12eada9dc.mp4">
            </video>
        
            <video 
                class="tw-block md:tw-hidden lozad tw-block tw-mx-auto tw-w-full" 
                autoplay loop muted playsinline>
                <source data-src="https://cdn.shopify.com/videos/c/o/v/f4b83ea78ade42bd9f78961f598c7fc3.mov">
            </video>
             
        </div>
    </div>
</section> {% endcomment %}