{% comment %} Section - 1 - Conoce la Tecnologia Smart {% endcomment %}
<section class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center">
    <div class="tw-w-full tw-max-w-[1000px] tw-mt-10">
        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-10 tw-px-6 md:tw-px-0">
            <h2 class="tw-col-span-1 md:tw-col-span-2 tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-mb-5">
                Conoce la tecnología Smart  <br><span class="tw-font-normal">en nuestros colchones</span>
            </h2>
            <p class="tw-col-span-1 md:tw-col-span-2 tw-w-full tw-text-justify md:tw-text-center tw-font-normal tw-text-lg tw-my-6 md:tw-my-10">
                Nuestras camas están diseñadas con la última tecnología en descanso, como prueba de ello tenemos un revolucionario tratamiento antimicrobiano aplicado a los tejidos. Este tratamiento tiene la capacidad de detener la proliferación de bacterias, hongos y otros microorganismos perjudiciales para la salud de las personas.<br><br>
                Además, contamos con la <b>tecnología NanoCool Fabric</b>, que tiene como objetivo mantener la superficie del colchón fresca mediante un sistema de enfriamiento. De esta manera, podrás despedirte de esas noches calurosas que perturban tu sueño.
            </p>
        </div>
    </div>
</section>

{% comment %} Section - 2 - ¿Cuál es el colchón ideal para ti? {% endcomment %}
<section class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center">
    <div class="tw-w-full tw-max-w-[1100px] tw-mt-10">
        <div class="tw-w-full tw-grid tw-grid-cols-1 md:tw-grid-cols-4">
            {% comment %} Inicio contenido 3/4 {% endcomment %}
            <div class="md:tw-col-span-3 tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-10 tw-px-6 md:tw-px-0 md:tw-mr-4">
                <h2 class="tw-col-span-1 md:tw-col-span-2 tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-mb-5">
                    ¿Cuál es el colchón ideal para ti?
                </h2>
                <p class="tw-col-span-1 md:tw-col-span-2 tw-text-[#434F5A] tw-text-justify tw-mt-5 md:tw-mt-0">
                    En Smart Bamboo, nos enorgullece ofrecerte una variedad de colchones diseñados para adaptarse perfectamente a tus necesidades y brindarte el nivel de firmeza que siempre has buscado en tus noches de sueño. Nuestro objetivo es que encuentres el colchón perfecto que te proporcione el descanso que te mereces.<br><br>
                    En nuestro menú encontrarás tres opciones cuidadosamente seleccionadas para que puedas elegir el colchón que se ajuste a tus preferencias individuales. Ya sea que prefieras una sensación de firmeza media, suave o firme, tenemos la solución ideal para ti.<br><br>
                    No escatimamos en calidad y confort, porque sabemos que tu descanso es fundamental para tu bienestar. Con nuestros colchones, no solo obtendrás el nivel de firmeza que deseas, sino también una combinación perfecta de materiales de alta calidad y tecnología avanzada para brindarte una experiencia de sueño excepcional.<br><br>
                    No esperes más para encontrar el colchón perfecto para tu descanso. ¡Explora nuestra amplia selección de colchones y elige el que te asegure noches de sueño reparador y confort inigualable!<br><br>
                </p>
                <div class="tw-col-span-1 md:tw-col-span-2 tw-flex tw-flex-row tw-justify-center tw-items-center tw-content-center tw-my-10">
                    <div class="tw-w-full tw-h-full md:tw-min-h-[600px] tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-14 md:tw-gap-6">

                        <div class="tw-w-full tw-flex tw-flex tw-flex-col tw-justify-end">
                            <a href="/products/colchon-smart-firm">
                                <div class="tw-w-full tw-shadow-lg tw-rounded-lg tw-bg-gray-100 tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-300"> 
                                    <img
                                    class="tw-block tw-w-full tw-shadow-lg tw-rounded-t-lg"
                                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart_Bamboo_Colchon_Smart_Firm_05.webp?v=1685630555"
                                    >
                                    <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                                        Colchón Firm
                                    </p>
                                    <p class="tw-text-left tw-text-sm tw-font-normal tw-rounded-bl-lg tw-pb-5 tw-px-5 ">
                                        Firmeza que asegura un excelente soporte para tu columna y espalda. Especialmente diseñado para personas con problemas en lumbares y articulaciones.
                                    </p>
                                </div>
                            </a>
                        </div>

                        <div class="tw-w-full tw-flex tw-flex tw-flex-col tw-justify-center">
                            <a href="/products/colchon-smart-balance">
                                <div class="tw-w-full tw-shadow-lg tw-rounded-lg tw-bg-gray-100 tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-300"> 
                                    <img
                                    class="tw-block tw-w-full tw-shadow-lg tw-rounded-t-lg"
                                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart_Bamboo_Colchon_Smart_Balance_05.webp?v=1685630770"
                                    >
                                    <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                                        Colchón Balance
                                    </p>
                                    <p class="tw-text-left tw-text-sm tw-font-normal tw-rounded-bl-lg tw-pb-5 tw-px-5">
                                    Suavidad y flexibilidad, gracias a sus capas cuidadosamente diseñadas. Obtén el soporte perfecto para tu espalda y cuello sin comprometer el confort.
                                    </p>
                                </div>
                            </a>
                        </div>

                        <div class="tw-w-full tw-flex tw-flex tw-flex-col tw-justify-start">
                            <a href="/products/colchon-smart-hybrid">
                                <div class="tw-w-full tw-shadow-lg tw-rounded-lg tw-bg-gray-100 tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-300"> 
                                    <img
                                    class="tw-block tw-w-full tw-shadow-lg tw-rounded-t-lg"
                                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart_Bamboo_Colchon_Smart_Hybrid_06.webp?v=1685561983"
                                    >
                                    <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                                        Colchón Hybrid
                                    </p>
                                    <p class="tw-text-left tw-text-sm tw-font-normal tw-rounded-bl-lg tw-pb-5 tw-px-5">
                                        Exclusivo colchón que combina la perfecta fusión de memory foam y resortes, creando un descanso personalizado que brinda el equilibrio ideal de soporte y confort.
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            {% comment %} Fin contenido 3/4 {% endcomment %}

            {% comment %} INICIO BLOGS {% endcomment %}
            <div class="tw-ml-2 tw-hidden md:tw-block">
                <div class="tw-bg-[#f7f7f7] tw-rounded-lg tw-p-4 tw-shadow-lg">
                    <h4 class="tw-font-poppins tw-font-bold tw-text-xl tw-py-6">
                        {{ section.settings.blog_header }}
                    </h4>

                    <ol class="tw-relative tw-border-[1px] tw-border-solid tw-border-l-gray-700 tw-border-y-transparent tw-border-r-transparent tw-list-none">
                        {% for block in section.blocks %}
                            {% assign byTagName = block.settings.blog_tag %}
                            {% render 'smart-meta-blogbycolections', blog_tag: byTagName %}
                        {% endfor %}         
                    </ol>
                </div>
            </div> 
            {% comment %} FIN BLOGS {% endcomment %}
        </div>
    </div>
</section>


{% comment %} Section - 3 - ¿Por qué elegir un colchón de Smart Bamboo? {% endcomment %}
<section class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center">
    <div class="tw-w-full tw-max-w-[1100px] tw-mt-10">
        <div class="tw-w-full tw-grid tw-grid-cols-1 md:tw-grid-cols-4">
            <div class="md:tw-col-span-3 tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-10 tw-px-6 md:tw-px-0 md:tw-mr-8">
                
                <h2 class="tw-col-span-1 md:tw-col-span-2 tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-mb-5">
                    ¿Por qué elegir un colchón de Smart Bamboo?
                </h2>
                <p class="tw-col-span-1 md:tw-col-span-2 tw-w-full tw-text-justify md:tw-text-center tw-font-normal tw-text-lg tw-my-6 md:tw-my-10">
                    En Smart Bamboo nos especializamos en ofrecer colchones con características únicas e incomparables. Descubre por qué nuestros productos son reconocidos como los mejores para promover un sueño saludable.
                </p>

                <div class="tw-col-span-1 md:tw-col-span-2 tw-grid tw-grid-cols-1 md:tw-grid-cols-4 tw-w-full tw-gap-6 md:tw-gap-3 md:tw-mx-8">
                    <div class="tw-col-span-1 md:tw-col-span-2 tw-rounded tw-bg-gray-100 tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-200">
                        <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                            No te preocupes por ácaros u otras bacterias
                        </p>
                        <p class="tw-text-left tw-text-sm md:tw-text-base tw-font-normal tw-pb-5 tw-px-5">
                            Descubre nuestra solución antimicrobiana SILVADURTM 930FLEX con nanopartículas de plata para eliminar olores causados por microbios. Además, disfruta de la comodidad y frescura de nuestro tejido NanoCool™ Fabric con tecnología de enfriamiento. Descansa tranquilo/a, libre de bacterias y con una sensación de frescura única
                        </p>
                    </div>
                    <div class="tw-rounded tw-bg-[#ECE1CB] tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-200">
                        <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                            Encuentra tu colchón ideal 
                        </p>
                        <p class="tw-text-left tw-text-sm md:tw-text-base tw-font-normal tw-pb-5 tw-px-5">
                            Descubre el confort que se adapta a ti entre nuestra selección de colchones suaves, firmes o híbridos.
                        </p>
                    </div>
                    <div class="tw-row-span-1 md:tw-row-span-2 tw-rounded tw-bg-[#FAECD9] tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-200">
                        <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                            Tecnología Vanguardista
                        </p>
                        <p class="tw-text-left tw-text-sm md:tw-text-base tw-font-normal tw-pb-5 tw-px-5">
                            Sistema <b>SMART COMFORT</b>, los colchones se ajustan de manera óptima a tu cuerpo, brindando el soporte necesario para tu columna vertebral. Mejora la conciliación del sueño y alivia la presión en tus articulaciones para un descanso más reparador.
                        </p>
                    </div>
                    <div class="tw-row-span-1 md:tw-row-span-2 tw-rounded tw-bg-[#E0DBD3] tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-200">
                        <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                            Soporte personalizado para ti
                        </p>
                        <p class="tw-text-left tw-text-sm md:tw-text-base tw-font-normal tw-pb-5 tw-px-5">
                            Cuentan minimo con tres capas de espuma de memoria inteligente, cada una con un propósito distintivo, lo que genera el soporte y resistencia ideales para un descanso inigualable. Además, disfruta de una reducción notable en la transferencia de movimiento.
                        </p>
                    </div>
                    <div class="tw-col-span-1 md:tw-col-span-2 tw-rounded tw-bg-[#CECCCA] tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-200">
                        <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                            ¿El clima caluroso te impide dormir por las noches?
                        </p>
                        <p class="tw-text-left tw-text-sm md:tw-text-base tw-font-normal tw-pb-5 tw-px-5">
                            Cuentan con una malla perforada en la parte inferior que proporciona ventilación al colchón, permitiendo que el calor se disipe y mejora la transpirabilidad durante toda la noche, brindándote una sensación de frescura y confort.
                        </p>
                    </div>
                    <div class="tw-col-span-1 md:tw-col-span-3 tw-rounded tw-bg-[#F0EFED] tw-border tw-border-solid tw-border-t tw-border-transparent hover:tw-opacity-90 hover:tw-border-solid hover:tw-border-1 hover:tw-border-slate-200">
                        <p class="tw-px-2 tw-text-center tw-font-semibold tw-pt-5">
                            Acerca de nuestras certificaciones
                        </p>
                        <p class="tw-text-left tw-text-sm md:tw-text-base tw-font-normal tw-pb-5 tw-px-5">
                            <b>OEKO-TEX</b>: Hemos sometido cada uno de los elementos que componen nuestros colchones a rigurosas pruebas y certificaciones para garantizar que estén libres de sustancias dañinas y perjudiciales para nuestra salud.<br>
                            <b>Bluesign®</b>: Garantizan que nuestros productos se fabrican siguiendo altos estándares de calidad y valor añadido, al tiempo que minimizan el consumo de recursos y reducen el impacto ambiental, protegiendo así el medio ambiente.
                        </p>
                    </div>
                <div>

            </div>
        </div>
    </div>
</section>


{% comment %} Section - 4 - Title Smart base personalizable {% endcomment %}
<section class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center">
    <div class="tw-w-full tw-max-w-[1100px] tw-mt-10">
        <div class="tw-w-full tw-grid tw-grid-cols-1 md:tw-grid-cols-4">
            <div class="md:tw-col-span-3 tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-10 tw-px-6 md:tw-px-0">  
                <h2 class="tw-col-span-1 md:tw-col-span-2 tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-mb-5">
                    Smart Base personalizable
                </h2>
                <p class="tw-col-span-1 md:tw-col-span-2 tw-w-full tw-text-justify md:tw-text-center tw-font-normal tw-text-lg tw-my-6 md:tw-my-3">
                    Optimiza la calidad de tu descanso con nuestra Smart Base ajustable. <br>
                    Personaliza las posiciones de inclinación para experimentar mejoras en la calidad del sueño. <br><br>
                </p>
            </div>
        </div>
    </div>
</section>


{% comment %} Section - 5 - Beneficios Smart Base{% endcomment %}
<section class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center">
    <div class="tw-w-full tw-max-w-[1000px] tw-my-10">
        <div class="tw-w-full tw-grid tw-grid-cols-1 md:tw-grid-cols-4">
            <div class="md:tw-col-span-3 tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-10 tw-px-8 mb:tw-px-10">
                
                <div class="tw-flex tw-flex-col tw-justify-end tw-items-center md:tw-mt-6">
                    <h2 class="tw-font-semibold tw-text-xl tw-text-[#434F5A] tw-mt-0 md:tw-mt-5 tw-mb-3">
                        ¿Cuáles son los beneficios?
                    </h2>
                    <ul>
                        <li>
                            Alivio de la presión en las articulaciones<br><br>
                        </li>
                        <li>
                            Mejora la circulación.<br><br>
                        </li>
                        <li>
                            Reduce la presión en tu columna.<br><br>
                        </li>
                        <li>
                            Favorece la desinflamación gastrointestinal<br><br>
                        </li>
                        <li>
                            Comodidad incomparable.<br><br>
                        </li>
                        <li>
                            Experimenta un alivio instantáneo del estrés diario y los dolores articulares<br><br>
                        </li>
                    </ul>
                    <img
                    class="tw-block md:tw-hidden tw-w-full"
                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart-base-min_45dcfb48-263b-4702-b98b-c76e4022cb8f.png?v=1653196559"
                    >
                </div>
                <img
                    class="tw-hidden md:tw-block tw-w-full"
                    src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Smart-base-min_45dcfb48-263b-4702-b98b-c76e4022cb8f.png?v=1653196559"
                >

                <p class="tw-col-span-1 md:tw-col-span-2 tw-w-full tw-text-justify md:tw-text-center tw-font-normal tw-text-lg tw-my-6 md:tw-my-10">
                    Nuestra Smart Base te ofrece total personalización, permitiéndote programar tus posiciones preferidas. Además, puedes controlarla de manera sencilla a través del control remoto o incluso desde tu teléfono mediante nuestra aplicación. Incluso puedes utilizarla sin necesidad de estar conectada a la corriente eléctrica gracias a su batería integrada. Disfruta de un descanso inigualable y despierta cada mañana con una sensación renovada.
                </p>
            </div>
        </div>
    </div>
</section>


{% schema %}
        {
          "name": "Grid Blogs",
          "settings": [
            {
              "id": "blog_header",
              "type": "text",
              "label": "Grid de Blogs",
              "default": "Escribe titulo de Blogs"
            }
          ],
          "blocks": [
            {
              "name": "Products",
              "type": "product",
              "settings": [
                {
                    "id": "blog_tag",
                    "type": "text",
                    "label": "Nombre del tag",
                    "default": "Escribe el nombre del tag"
                }
              ]
            }
          ]
        }
{% endschema %}