<div class="tw-h-full tw-w-full tw-flex tw-items-center tw-justify-center tw-bg-[#f8f8f8] tw-pb-10 lg:tw-pb-16">
    <div class="tw-max-w-[1000px] tw-w-full">

        <div class="tw-py-6">
            <h2 class="tw-font-lora tw-text-[#292929] tw-text-center tw-font-light tw-text-[30px] lg:tw-text-[35px] tw-leading-none">Smart Bamboo <br class="tw-block lg:tw-hidden">en los medios</h2>
            <p class="tw-hidden lg:tw-block tw-w-full tw-font-poppins tw-font-light tw-text-base md:tw-text-base tw-text-[#292929] tw-text-center tw-pt-2">Descubre lo que dicen los medios sobre nuestros productos </p>
        </div>

        <scroll-container class="tw-w-full tw-overflow-x-scroll tw-flex">
            <div class="tw-w-full tw-flex tw-flex-row xl:tw-grid xl:tw-grid-cols-3 tw-gap-6 tw-mx-6 lg:tw-mx-0">
                
                {% comment %} Cosmopolitan {% endcomment %}
                <div class="tw-w-full tw-min-w-[300px] tw-bg-white tw-flex tw-flex-col tw-border-solid tw-border-[2px] tw-border-gray-200">
                        <img class="" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Medios_cosmopolitan.webp?v=1709071938" alt="Comopolitan">
                        <a href="https://www.cosmopolitan.com.mx/salud-bienestar/guia-para-encontrar-el-mejor-colchon-este-buen-fin-smart-bamboo">
                            <div class="tw-flex tw-flex-row tw-items-center tw-bg-white tw-px-5 tw-py-2">
                                <img class="tw-max-w-[20px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/estrella.png?v=1714409245" alt="estrella">
                                <p class="tw-w-full tw-font-poppins tw-font-light tw-text-xs tw-text-gray-500 tw-pl-2">
                                    cosmopolitan.com
                                </p>
                            </div>
                        
                            <div class="tw-px-5 tw-pb-5 tw-bg-white">
                                <p class="tw-w-full tw-font-poppins tw-font-normal tw-text-sm tw-text-gray-800 tw-italic">
                                    "Un mejor descanso reduce el estrés y la ansiedad, promoviendo tu salud mental, además, te da más energía y productividad durante el día."
                                </p>
                            </div>
                        </a>
                </div>
        
                {% comment %} Alto nivel  {% endcomment %}
                <div class="tw-w-full tw-min-w-[300px] tw-bg-white tw-flex tw-flex-col tw-border-solid tw-border-[2px] tw-border-gray-200">
                    <img class="" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Medios_altonivel.webp?v=1709071938" alt="Alto Nivel">
                    <a href="https://www.altonivel.com.mx/estilo-de-vida/este-buen-fin-2023-compra-smart-bamboo-para-un-gran-descanso">
                        <div class="tw-flex tw-flex-row tw-items-center tw-bg-white tw-px-5 tw-py-2">
                            <img class="tw-max-w-[20px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/estrella.png?v=1714409245" alt="estrella">
                            <p class="tw-w-full tw-font-poppins tw-font-light tw-text-xs tw-text-gray-500 tw-pl-2">
                                altonivel.com.mx
                            </p>
                        </div>
                    
                        <div class="tw-px-5 tw-pb-5 tw-bg-white">
                            <p class="tw-w-full tw-font-poppins tw-font-normal tw-text-sm tw-text-gray-800 tw-italic">
                                "Al dormir en un colchón Smart Bamboo notarás otros beneficios como aliviar el dolor de espalda, mejorar la postura, bajar el estrés y mejorar la calidad del sueño."
                            </p>
                        </div>
                    </a>
                </div>

                {% comment %} El financiero  {% endcomment %}
                <div class="tw-w-full tw-min-w-[300px] tw-bg-white tw-flex tw-flex-col tw-border-solid tw-border-[2px] tw-border-gray-200">
                    <img class="" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Medios_financiero.webp?v=1709071938" alt="El financiero">
                    <a href="https://www.elfinanciero.com.mx/mundo-empresa/2023/11/03/invierte-en-tu-descanso-cuanto-dinero-hay-que-invertir-para-encontrar-el-mejor-colchon">
                        <div class="tw-flex tw-flex-row tw-items-center tw-bg-white tw-px-5 tw-py-2">
                            <img class="tw-max-w-[20px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/estrella.png?v=1714409245" alt="estrella">
                            <p class="tw-w-full tw-font-poppins tw-font-light tw-text-xs tw-text-gray-500 tw-pl-2">
                                elfinanciero.com.mx
                            </p>
                        </div>
                    
                        <div class="tw-px-5 tw-pb-5 tw-bg-white">
                            <p class="tw-w-full tw-font-poppins tw-font-normal tw-text-sm tw-text-gray-800 tw-italic">
                                "Considerando que pasamos un tercio de nuestras vidas durmiendo, invertir en colchones de alta calidad es crucial para garantizar un sueño reparador."
                            </p>
                        </div>
                    </a>
                </div>
            </div>

          </scroll-container>

    </div>
</div>