<section class="tw-w-full tw-flex tw-justify-center tw-items-center tw-px-0 tw-mb-6 lg:tw-mb-10">
    <div class="tw-w-full tw-max-w-[1000px] tw-flex tw-justify-center tw-items-center">

      <a href="/pages/terminos-de-promociones">
      {% comment %} Vídeo mobile {% endcomment %}
      <div class="tw-block sm:tw-hidden">
        <div class="tw-h-full tw-flex tw-justyfy-start tw-items-start">
          <video
            width="100%"
            height="100%"
            load="lazy"
            class="lozad tw-aspect-auto"
            autoplay
            loop
            muted
            playsinline>
            <source src="https://cdn.shopify.com/videos/c/o/v/deb0524e274b445b985f658861bebe06.mp4">
          </video>
        </div>
      </div>
      {% comment %} Vídeo desktop {% endcomment %}
      <div class="tw-hidden sm:tw-block">
        <div class="tw-h-full tw-flex tw-justyfy-start tw-items-start">
          <video
            width="100%"
            height="100%"
            load="lazy"
            class="lozad tw-aspect-auto"
            autoplay
            loop
            muted
            playsinline>
            <source src="https://cdn.shopify.com/videos/c/o/v/e32346452a9f48e1a00868165856a6a4.mp4">
          </video>
        </div>
      </div>

      </a>
    </div>
  </section>