<section class="tw-flex tw-justify-center tw-p-0 md:tw-p-5 tw-items-center tw-px-2 md:tw-px-0 tw-flex tw-flex-col">
    <div class="tw-max-w-[1100px] tw-py-14">

        <h2 class="tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-my-5">
            ¿Cuál es la diferencia entre nuestros Colchones Smart?
        </h2>

        <h3 class="tw-text-xl md:tw-text-3xl tw-text-center tw-my-2 tw-mt-8 tw-font-bold tw-mt-10">
            Colchón Smart Firm
        </h3>

        <p class="tw-text-base md:tw-text-xl tw-text-center tw-font-normal tw-my-2 md:tw-my-5">
            Firmeza superior para garantizar un mejor soporte a la columna y espalda, es perfecto para las personas que sufren de problemas en lumbares y articulaciones que desean un descanso reconfortante.
        </p>

        <h3 class="tw-text-xl md:tw-text-3xl tw-text-center tw-my-2 tw-mt-8 tw-font-bold tw-mt-10">
            Colchón Smart Hybrid
        </h3>

        <p class="tw-text-base md:tw-text-xl tw-text-center tw-font-normal tw-my-2 md:tw-my-5">
            Es el único de nuestros colchones que combina memory foam y resortes, dando como resultado un descanso personalizado, aportando el soporte y el confort necesario.
        </p>

        <h3 class="tw-text-xl md:tw-text-3xl tw-text-center tw-my-2 tw-mt-8 tw-font-bold tw-mt-10">
            Colchón Smart Balance
        </h3>

        <p class="tw-text-base md:tw-text-xl tw-text-center tw-font-normal tw-my-2 md:tw-my-5">
            Sus capas están diseñadas para brindar una sensación de máxima suavidad y flexibilidad, al mismo tiempo que proporcionan el soporte adecuado a la espalda y cuello.
        </p>

    </div>
</section>