<style>
    .bg-specials {
        background-image:url("https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hero-desktop-02.webp?v=1668152333");
        height:600px;
    }
    @media  only screen and (max-width: 768px) and (min-width: 1px) {
        .bg-specials {
          background-image:url("https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hero-mobile-02.webp?v=1668152333");
          height:400px;
        }
    }
    @media  only screen and (max-width: 1024px) and (min-width: 769px) {
        .bg-specials {
          background-image:url("https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hero-mobile-02.webp?v=1668152333");
          height:750px;
        }
    }
    @media  only screen and (max-width: 1500px) and (min-width: 1024px) {
        .bg-specials {
          background-image:url("https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hero-desktop-02.webp?v=1668152333");
          height:750px;
        }
    }
</style>

<section class="tw-flex tw-justify-center tw-items-center tw-px-0 tw-flex tw-flex-col">
    <div class="bg-specials tw-bg-top tw-bg-cover tw-w-full tw-max-w-[1100px]">
        <h2 class="tw-text-4xl md:tw-text-6xl tw-mt-[5%] tw-text-center tw-font-semibold tw-my-10 tw-text-white">
            ¿Qué nos hace <br><span class="tw-font-normal">especiales?</span>
        </h2>
    </div>
    <div class="tw-max-w-[1100px] tw-bg-[#E0DBD5] tw-py-14">
        
        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">1</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Un Sistema Innovador</h2>
                <p>Gracias a nuestro innovador sistema SMART COMFORT, nuestros colchones Smart se pueden adaptar perfectamente a ti para proporcionar el soporte que la columna vertebral requiere durante el sueño. Además, te ayuda a conciliar más fácilmente el sueño, aliviar la presión en tus articulaciones y <b>¡RENOVAR TU DESCANSO!</b>
            </p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">2</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Un Colchón Para Cada Gusto</h2>
                <p>¿Suave, firme y algo en medio? Tenemos los mejores colchones para ti. Disfruta de un descanso personalizado, para cada gusto y necesidad.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">3</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Olvídate De Ácaros Y Demás Bacterias</h2>
                <p>En la funda protectora del colchón añadimos el tratamiento antimicrobiano de alta tecnología SILVADURTM 930FLEX antimicrobial hecho de NANOPARTÍCULAS DE PLATA que controla y absorbe los malos olores derivados de microbios proporcionando una protección de frescura duradera, además elimina las bacterias minimizando los riesgas de afectaciones por alergias; y un nuevo tejido con una tecnología de enfriamiento llamado NanoCoolTM Fabric diseñado para mantener tu piel fresca y cómoda durante tu descanso. </p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">4</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">¿Te Preocupa El Calor?</h2>
                <p>¡No te preocupes! Diseñamos una novedosa malla perforada en el inferior que ayuda a disipar el calor del colchón, deja pasar el aire y mejora la transpirabilidad toda la noche para que goces de la frescura.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">5</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Duerme Comodo Sin Hundirte</h2>
                <p>Nuestros colchones están elaborados con 3 capas de espuma de memoria inteligente, cada una con una función única. Proporcionan el soporte y resistencia que necesitas para que no te hundas. ¡Es mejor que dormir en una nube! Créenos
                …Ah! También anula la propagación de movimiento.</p>
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-px-3 tw-py-5 tw-items-start">
            <div class="tw-text-6xl tw-font-bold tw-px-8">6</div>
            <div class="tw-flex tw-flex-col tw-w-3/4">
                <h2 class="tw-font-semibold tw-text-2xl">Cuidamos De Ti Con Nuestra</h2>
                <p><b>OEKO-TEX.</b> Duerme tranquilo ya que cada uno de los componentes de este artículo han sido han sido probados y certificados de estar libres de agentes nocivos y perjudiciales para nuestra salud.</p>
                <p><b>Bluesign®.</b> Es un estándar ecológico para la protección del medio ambiente establecidos por las organizaciones de consumidores en la UE. ¿Qué certifica? Que nuestros productos se fabrican con la máxima calidad y valor añadido minimizando el consumo de recursos, así como reduciendo el impacto medioambiental.</p>
            </div>
        </div>
    </div>
</section>