
<section id="index-section-four" class="tw-w-full tw-flex tw-justify-center tw-items-center tw-py-3 md:tw-py-0 tw-mt-10">

    <div class="tw-w-[95%] md:tw-w-full tw-max-w-[1300px]">
      <h2 class="tw-font-lora tw-px-8 tw-text-center tw-text-xl md:tw-text-2xl tw-py-8 tw-text-[#434f5a] tw-font-semibold">
          Conoce nuestros productos <br class="tw-hidden md:tw-block">
        <span class="tw-font-lora tw-font-semibold">hechos para que duermas increíble</span>
      </h2>
  
      <div class="tw-w-full tw-grid tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-4 md:tw-gap-8">
          
          <a class="focus:tw-blur-sm tw-h-full" href="/collections/almohadas">
              <h4 class="tw-font-poppins tw-font-normal lg:tw-font-light hover:tw-font-normal tw-text-[13px] lg:tw-text-[14px] tw-text-[#292929] lg:tw-text-[#292929] hover:tw-text-[#232121] tw-text-center tw-pb-1 lg:tw-pb-3">
                Almohadas
              </h4>
              <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Almohadas-categorias-home.webp?v=1684462385')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Almohadas-categorias-home.webp?v=1684462385')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl"> 
              </div>
          </a>    
  
          <a class="focus:tw-blur-sm tw-h-full" href="/collections/sabanas">
              <h4 class="tw-font-poppins tw-font-normal lg:tw-font-light hover:tw-font-normal tw-text-[13px] lg:tw-text-[14px] tw-text-[#292929] lg:tw-text-[#292929] hover:tw-text-[#232121] tw-text-center tw-pb-1 lg:tw-pb-3">
                Sábanas
              </h4>
              <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Sabanas-categorias-home.webp?v=1684462385')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Sabanas-categorias-home.webp?v=1684462385')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl">
              </div>
          </a>
  
          <a class="focus:tw-blur-sm tw-h-full tw-col-span-1" href="/collections/colchas-edredones">
              <h4 class="tw-font-poppins tw-font-normal lg:tw-font-light hover:tw-font-normal tw-text-[13px] lg:tw-text-[14px] tw-text-[#292929] lg:tw-text-[#292929] hover:tw-text-[#232121] tw-text-center tw-pb-1 lg:tw-pb-3">
                Colchas & Edredones
              </h4>
              <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Colchas-edredones-categorias-home.webp?v=1684462385')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl">
              </div>
          </a> 
  
          <a class="focus:tw-blur-sm tw-h-full tw-col-span-1" href="/collections/toallas-accesorios">
            <h4 class="tw-font-poppins tw-font-normal lg:tw-font-light hover:tw-font-normal tw-text-[13px] lg:tw-text-[14px] tw-text-[#292929] lg:tw-text-[#292929] hover:tw-text-[#232121] tw-text-center tw-pb-1 lg:tw-pb-3">
              Toallas & Accesorios
            </h4>
            <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Toallas-accesorios-categorias-home.webp?v=1684462389')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl">
            </div>
          </a>
  
          <a class="focus:tw-blur-sm tw-h-full tw-col-span-2 lg:tw-col-span-2" href="https://www.smartbamboo.mx/pages/coleccion-colchones-smart">
              <h4 class="tw-font-poppins tw-font-normal lg:tw-font-light hover:tw-font-normal tw-text-[13px] lg:tw-text-[14px] tw-text-[#292929] lg:tw-text-[#292929] hover:tw-text-[#232121] tw-text-center tw-pb-1 lg:tw-pb-3">
                Colchones
              </h4>
              <div class="tw-w-full tw-h-full tw-min-h-[150px] tw-max-h-[150px] md:tw-min-h-[250px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Colchones-categorias-home.webp?v=1684462385')] lg:tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Colchones-categorias-home.webp?v=1684462385')] tw-bg-no-repeat tw-bg-center tw-bg-cover tw-cursor-pointer hover:tw-shadow-lg focus:tw-shadow-2xl">
              </div>
          </a> 
          
      </div>
    </div>
  </section>