<style>
    .bg-placa {
        background-image:url("https://cdn.shopify.com/s/files/1/0248/4705/6932/files/fonodo-facts.webp?v=1668153229");
    }
</style>

<section>

    <div class="bg-placa tw-bg-cover tw-py-5 md:tw-py-14">
        <div class="tw-flex tw-flex-col tw-place-content-center">
            <h2 class="tw-text-center tw-text-xl lg:tw-text-4xl tw-font-semibold tw-my-2 md:tw-my-5 tw-text-[#434F5A]">Duerme sin preocupaciones, nuestros colchones cuentan con</h2>
        </div>
        <div class="tw-max-w-[1000px] tw-mx-auto">
            <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-4">

                <div class="tw-flex tw-flex-col tw-place-content-center">
                    <img class="tw-w-[55px] md:tw-w-[100px] tw-mx-auto" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Icon-envio_6edf2bb2-181c-41ea-960a-04eac0dca489.webp?v=1665070701" alt="garantia">
                    <h3 class="tw-text-center tw-font-semibold tw-text-[#434F5A] tw-text-xs md:tw-text-xl">Envío gratis <br>en todo México</h3>
                </div>
                
                <div class="tw-flex tw-flex-col tw-place-content-center">
                    <img class="tw-w-[55px] md:tw-w-[100px] tw-mx-auto" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Icon-garantia_7fb03ddb-a46d-4e1c-aef5-e814f5c076af.webp?v=1665070698" alt="garantia">
                    <h3 class="tw-text-center tw-font-semibold tw-text-[#434F5A] tw-text-xs md:tw-text-xl">12 años<br>de garantía</h3>
                </div>

                <div class="tw-flex tw-flex-col tw-place-content-center">
                    <img class="tw-w-[55px] md:tw-w-[100px] tw-mx-auto" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Icon-MSI.webp?v=1665088699" alt="garantia">
                    <h3 class="tw-text-center tw-font-semibold tw-text-[#434F5A] tw-text-xs md:tw-text-xl">Hasta <br>24 MSI</h3>
                </div>

                <div class="tw-flex tw-flex-col tw-place-content-center">
                    <img class="tw-w-[55px] md:tw-w-[100px] tw-mx-auto" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Icon-noches-prueba_5bc0c3e0-1808-4e7c-923b-3c5b6759a49d.webp?v=1665070698" alt="garantia">
                    <h3 class="tw-text-center tw-font-semibold tw-text-[#434F5A] tw-text-xs md:tw-text-xl">365 Noches de Prueba</h3>
                </div>
                
            </div>
        </div>
    </div>
</section>