<section class="tw-w-auto tw-p-2 md:tw-p-8">
    <div class="tw-flex tw-flex-col tw-place-content-center">
        <h2 class="tw-text-center tw-text-3xl tw-font-semibold tw-mt-10 md:tw-mt-4">¡Escoge El Colchón Para Ti!</h2>
        <p class="tw-text-center tw-text-lg tw-font-normal tw-mt-10 md:tw-mt-4 tw-w-5/6 md:tw-w-4/6 lg:tw-w-3/6 tw-mx-auto">Un colchón tiene como finalidad brindar confort,  frescura, comodidad y el soporte necesario para que las personas consigan un sueño profundo y reparador; si tu cama no cumple con estas cualidades es momento de renovarla, por lo cual te invitamos a conocer los colchones Smart Bamboo y sus beneficios.</p>
    </div>
</section>    
{% comment %} 
<section class="tw-p-2 md:tw-p-8 tw-flex tw-justify-center tw-items-center">
    <div class="tw-max-w-[1300px] tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-x-1 md:tw-gap-x-3 lg:tw-gap-x-10 tw-justify-center tw-items-start">
        
        {% comment %} FICHA COLCHON FIRM {% endcomment %}
        <div class="tw-w-auto tw-px-10 md:tw-px-0">
            <img src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon_firm_-_tabla.webp?v=1666981357" alt="Colchón Smart Firm" class="tw-w-full tw-mx-auto tw-block tw-relative tw-top-[3.0rem]">
            <div class="tw-border-2 tw-border-[#E5D8C6] tw-border-solid tw-p-5">
                <h2 class="tw-font-poppins tw-text-center tw-font-semibold tw-text-lg md:tw-text-2xl tw-text-gris tw-mt-3">Colchón <br>Smart Firm</h2>
                <div class="tw-w-full tw-flex tw-mt-5">
                    <p class="tw-w-full tw-font-poppins tw-text-center tw-text-gris tw-h-[4.5rem]">desde 
                        <span class="tw-text-2xl tw-font-normal tw-text-gris">$19,678.00</span> 
                        <span class="tw-line-through tw-font-semibold tw-text-gray-500 dark:tw-text-gray-400"> $23,150.00 </span>
                    </p>
                </div>

                <a href="/products/colchon-smart-firm">
                    <button class="tw-font-poppins tw-text-base md:tw-text-xl tw-font-medium tw-text-white tw-mt-2 tw-bg-amarillo tw-px-2 tw-py-3 tw-rounded tw-w-full md:tw-w-2/3 tw-mx-auto tw-block">
                        ¡Lo quiero!
                    </button>
                </a>
                <p class="tw-font-poppins tw-text-center tw-text-xs md:tw-text-sm tw-font-light tw-text-gray-500 tw-mt-5 tw-min-h-[115px]">
                    La armonía perfecta entre soporte y confort. Nuestra innovadora tecnología hace que tu colchón FIRM se adapte a tu cuerpo dándole el soporte que tanto necesita. 
                </p>
                <div class="tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-4 tw-gap-y-5 tw-mt-5">
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Pruébalo 365 noches" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-pruebalo-120-noches-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Pruébalo 365 noches
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Garantía de 12 años" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-garantia-de-12-anos-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Garantía de 12 años
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Envío gratis" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-envio-gratis-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Envío gratis
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Regalo incluido" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-regalo-incluido-min.webp?v=1661533819">
                    <div class="tw-col-span-3">
                        <p class="tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">Regalo incluido</p>
                        <p class="tw-text-xs tw-font-light tw-text-gray-500 dark:tw-text-gray-400 tw-font-poppins">
                            1 Set de Sábanas 100% Bamboo, <br>
                            2 almohadas Lego, <br>
                            1 protector de colchón
                        </p>

                    </div>
                </div>
            </div>
        </div>
        {% comment %} FICHA COLCHON FIRM {% endcomment %}

        {% comment %} FICHA COLCHON Hybrid  {% endcomment %}
        <div class="tw-w-auto tw-px-10 md:tw-px-0">
            <img src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/hybrid.png?v=1672445865" alt="Colchón Smart Hybrid" class="tw-w-full tw-mx-auto tw-block tw-relative tw-top-[3.0rem]">
            <div class="tw-border-2 tw-border-[#E5D8C6] tw-border-solid tw-p-5">
                <h2 class="tw-font-poppins tw-text-center tw-font-semibold tw-text-lg md:tw-text-2xl tw-text-gris tw-mt-3">Colchón <br>Smart Hybrid</h2>
                <div class="tw-w-full tw-flex tw-mt-5">
                    <p class="tw-w-full tw-font-poppins tw-text-center tw-text-gris tw-h-[4.5rem]">desde 
                        <span class="tw-text-2xl tw-font-normal tw-text-gris">$21,916.00</span> 
                        <span class="tw-line-through tw-font-semibold tw-text-gray-500 dark:tw-text-gray-400"> $25,784.00 </span>
                    </p>
                </div>

                <a href="/products/colchon-smart-hybrid">
                    <button class="tw-font-poppins tw-text-base md:tw-text-xl tw-font-medium tw-text-white tw-mt-2 tw-bg-amarillo tw-px-2 tw-py-3 tw-rounded tw-w-full md:tw-w-2/3 tw-mx-auto tw-block">
                        ¡Lo quiero!
                    </button>
                </a>
                <p class="tw-font-poppins tw-text-center tw-text-xs md:tw-text-sm tw-font-light tw-text-gray-500 tw-mt-5 tw-min-h-[115px]">
                    Con su combinación única de resortes de acero y memory foam, este colchón te proporcionará la firmeza que necesitas para una buena postura y el confort que buscas para una noche de sueño reparadora.
                </p>
                <div class="tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-4 tw-gap-y-5 tw-mt-5">
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Pruébalo 365 noches" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-pruebalo-120-noches-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Pruébalo 365 noches
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Garantía de 12 años" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-garantia-de-12-anos-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Garantía de 12 años
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Envío gratis" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-envio-gratis-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Envío gratis
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Regalo incluido" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-regalo-incluido-min.webp?v=1661533819">
                    <div class="tw-col-span-3">
                        <p class="tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">Regalo incluido</p>
                        <p class="tw-text-xs tw-font-light tw-text-gray-500 dark:tw-text-gray-400 tw-font-poppins">
                            1 Set de Sábanas 100% Bamboo, <br>
                            2 almohadas Lego, <br>
                            1 protector de colchón
                        </p>

                    </div>
                </div>
            </div>
        </div>
        {% comment %} FICHA COLCHON Hybrid {% endcomment %}

        {% comment %}1 FICHA COLCHON BALANCE {% endcomment %}
        <div class="tw-w-auto tw-px-10 md:tw-px-0">
            <img src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon_balance_-_tabla.webp?v=1666981357" alt="Colchón Smart Balance" class="tw-w-full tw-mx-auto tw-block tw-relative tw-top-[3.0rem]">

            <div class="tw-border-2 tw-border-[#E5D8C6] tw-border-solid tw-p-5">
                <h2 class="tw-font-poppins tw-text-center tw-font-semibold tw-text-lg md:tw-text-2xl tw-text-gris tw-mt-3">Colchón <br>Smart Balance</h2>            
                <div class="tw-w-full tw-flex tw-mt-5">
                    <p class="tw-w-full tw-font-poppins tw-text-center tw-text-gris tw-h-[4.5rem]">desde 
                        <span class="tw-text-2xl tw-font-normal tw-text-gris">$30,430</span> 
                        <span class="tw-line-through tw-font-semibold tw-text-gray-500 dark:tw-text-gray-400"> $35,800.00 </span>
                    </p>
                </div>

                <a href="/products/colchon-smart-balance">
                    <button class="tw-font-poppins tw-text-base md:tw-text-xl tw-font-medium tw-text-white tw-mt-2 tw-bg-amarillo tw-px-2 tw-py-3 tw-rounded tw-w-full md:tw-w-2/3 tw-mx-auto tw-block">
                        ¡Lo quiero!
                    </button>
                </a>

                <p class="tw-font-poppins tw-text-center tw-text-xs md:tw-text-sm tw-font-light tw-text-gray-500 tw-mt-5 tw-min-h-[115px]">
                    Diseñado para darte el soporte en espalda y cuello que necesitas, aliviar la presión en las articulaciones y adaptarse a ti. Disfruta de una suavidad y comodidad inigualables. 
                </p>
                <div class="tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-4 tw-gap-y-5 tw-mt-5">
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="365 noches de prueba" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-pruebalo-120-noches-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Pruébalo 365 noches
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Garantía de 12 años" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-garantia-de-12-anos-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Garantía de 12 años
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Envío gratis" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-envio-gratis-min.webp?v=1661533819">
                    <p class="tw-col-span-3 tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">
                        Envío gratis
                    </p>
                    <img
                        class="tw-h-[25px] tw-mx-auto tw-block"
                        alt="Regalo incluido" 
                        src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/colchon-bamboo-balance-regalo-incluido-min.webp?v=1661533819"
                    >
                    <div class="tw-col-span-3">
                        <p class="tw-font-poppins tw-text-sm md:tw-text-lg tw-font-medium tw-text-gris">Regalo incluido</p>
                        <p class="tw-text-xs tw-font-light tw-text-gray-500 dark:tw-text-gray-400 tw-font-poppins">
                            1 Set de Sábanas 100% Bamboo, <br>
                            2 almohadas Lego, <br>
                            1 protector de colchón
                        </p>

                    </div>
                </div>
            </div>
        </div>
    
        {% comment %} FICHA COLCHON BALANCE {% endcomment %}

        
    </div>
</section> {% endcomment %}