<section class="tw-flex tw-justify-center tw-p-0 md:tw-p-5 tw-items-center tw-px-2 md:tw-px-0 tw-flex tw-flex-col">
    <div class="tw-max-w-[1100px] tw-py-14">

        <h2 class="tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-my-5">
            Las Dimensiones De Los Colchones
        </h2>

        <h3 class="tw-text-base md:tw-text-xl tw-text-center tw-font-normal tw-my-2 md:tw-my-5">
            Nuestros colchones están disponibles en diferentes medidas que se acoplan perfectamente a habitaciones con poco espacio o muy amplias, a continuación, te las compartimos con el fin de que encuentres el indicado para ti:
        </h3>

        <h2 class="tw-text-xl md:tw-text-3xl tw-text-center tw-my-2 tw-mt-8 tw-font-bold">
            Colchón Smart Firm
        </h2>

        <div class="tw-flex tw-justify-center tw-items-center">
            <div class="tw-flex tw-flex-col tw-w-full tw-py-4">
                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-xl tw-text-left tw-font-semibold tw-text-[#957161]">Talla</div>
                    <div class="tw-text-xl tw-text-left lg:tw-text-center tw-col-span-2 lg:tw-col-span-1 tw-font-semibold tw-text-[#957161]">Medidas</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-semibold tw-text-[#957161]">Peso</div>
                </div>

                <span class="tw-border-solid tw-border-b-2 tw-border-0 tw-border-zinc-500 tw-mb-5 tw-h-[1px]"></span>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Individual</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">96.5 cm x 203 cm x 25.4 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">23 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Matrimonial</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">134.6 cm x 190.5 cm x 25.4 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-text-center tw-font-normal">28 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Queen Size</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">152 cm x 203 cm x 25.4 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">32 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">King Size</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">193 cm x 203 cm x 25.4 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">32 kg</div>
                </div>
            </div>
        </div>


        <h2 class="tw-text-xl md:tw-text-3xl tw-text-center tw-my-2 tw-mt-8 tw-font-bold">
            Colchón Smart Hybrid
        </h2>

        <div class="tw-flex tw-justify-center tw-items-center">
            <div class="tw-flex tw-flex-col tw-w-full tw-py-4">
                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-xl tw-text-left tw-font-semibold tw-text-[#957161]">Talla</div>
                    <div class="tw-text-xl tw-text-left lg:tw-text-center tw-col-span-2 lg:tw-col-span-1 tw-font-semibold tw-text-[#957161]">Medidas</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-semibold tw-text-[#957161]">Peso</div>
                </div>

                <span class="tw-border-solid tw-border-b-2 tw-border-0 tw-border-zinc-500 tw-mb-5 tw-h-[1px]"></span>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Individual</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">99 cm x 203 cm x 30.48 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">23 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Matrimonial</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">137 cm x 190.5 cm x 30.48 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-text-center tw-font-normal">28 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Queen Size</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">152 cm x 203 cm x 30.48 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">32 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">King Size</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">193 cm x 203 cm x 30.48 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">32 kg</div>
                </div>
            </div>
        </div>


        <h2 class="tw-text-xl md:tw-text-3xl tw-text-center tw-my-2 tw-mt-8 tw-font-bold">
            Colchón Smart Balance
        </h2>

        <div class="tw-flex tw-justify-center tw-items-center">
            <div class="tw-flex tw-flex-col tw-w-full tw-py-4">
                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-xl tw-text-left tw-font-semibold tw-text-[#957161]">Talla</div>
                    <div class="tw-text-xl tw-text-left lg:tw-text-center tw-col-span-2 lg:tw-col-span-1 tw-font-semibold tw-text-[#957161]">Medidas</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-semibold tw-text-[#957161]">Peso</div>
                </div>

                <span class="tw-border-solid tw-border-b-2 tw-border-0 tw-border-zinc-500 tw-mb-5 tw-h-[1px]"></span>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Individual</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">99 cm x 203 cm x 30.48 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">23 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Matrimonial</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">137 cm x 190.5 cm x 30.48 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-text-center tw-font-normal">28 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">Queen Size</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">152 cm x 203 cm x 30.48 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">32 kg</div>
                </div>

                <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-3 tw-gap-x-10 tw-gap-y-10">
                    <div class="tw-text-base md:tw-text-xl tw-text-left tw-font-semibold">King Size</div>
                    <div class="tw-text-base md:tw-text-xl tw-text-left lg:tw-text-center tw-font-normal tw-col-span-2 lg:tw-col-span-1">193 cm x 203 cm x 30.48 cm</div>
                    <div class="tw-hidden lg:tw-block tw-text-xl tw-text-center tw-font-normal">32 kg</div>
                </div>
            </div>
        </div>

    </div>
</section>