
<section class="tw-px-6 lg:tw-px-0 tw-mt-5 lg:tw-mt-8">
    <h5 class="tw-text-[25px] lg:tw-text-[35px] tw-font-lora tw-text-[#000000] tw-font-light tw-text-center tw-leading-none tw-pt-6 lg:tw-pt-10 tw-pb-4 lg:tw-pb-2">
        Encuentra Smart Bamboo en tus tiendas favoritas en línea:
    </h5>
    <div class="tw-h-full tw-w-full tw-flex tw-justify-center tw-pb-10 md:tw-pb-16">
        <div class="tw-w-full lg:tw-max-w-[700px] tw-flex tw-flex-col lg:tw-flex-row tw-grid tw-grid-cols-3 tw-gap-4 lg:tw-gap-8 lg:tw-mx-0 lg:tw-p-6">
            
            <div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-shadow-xl tw-rounded-lg tw-py-1 lg:tw-py-3">
                <a href="https://www.amazon.com.mx/s?me=A19HW10GZGZ8CF&marketplaceID=A1AM78C64UM0Y8">
                    <img class="tw-max-w-[140px] md:tw-max-w-[150px] lg:tw-max-w-[200px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Logo_amazon.webp?v=1708545505" alt="logo amazon">
                </a>
            </div>

            <div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-shadow-xl tw-rounded-lg tw-py-1 lg:tw-py-3">
                <a href="https://tienda.mercadolibre.com.mx/smart-bamboo">
                    <img class="tw-max-w-[140px] md:tw-max-w-[150px] lg:tw-max-w-[200px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Logo_mercado_libre.webp?v=1708545504" alt="logo mercado libre">
                </a>
            </div>

            <div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-shadow-xl tw-rounded-lg tw-py-1 lg:tw-py-3">
                <a href="https://www.liverpool.com.mx/tienda?s=smart+bamboo">
                    <img class="tw-max-w-[120px] md:tw-max-w-[150px] lg:tw-max-w-[200px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Logo_liverpool.webp?v=1708545504" alt="logo liverpool">
                </a>
            </div>
            
        </div>
    </div>
</section>