
<style>
    .gallery-wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70vh;
      }
      
      .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
        
        &:hover{
          flex: 7;
        }
      }
      
      .item-1 { 
        background-image: url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/combinacion_dopple_curcuma.webp?v=1712178300');
      }
      
      .item-2 { 
        background-image: url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Combinacion_07.webp?v=1703191146');
      }
      
      .item-3 { 
        background-image: url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Combinacion_04.webp?v=1703191147');
      }
      
      .item-4 { 
        background-image: url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/combinacion_lila_dopple.webp?v=1712172154');
      }
      
      .item-5 { 
        background-image: url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/combinacion_dopple_azul.webp?v=1712172154');
      }
</style>

<section class="tw-w-full tw-flex tw-justify-center tw-mt-2 tw-mb-6 lg:tw-mb-12">
    <div class="tw-w-full xl:tw-max-w-[1100px] 2xl:tw-max-w-[1100px] tw-flex tw-flex-col xl:tw-flex-row">

        <div class="tw-w-full xl:tw-w-[60%]">
            <div class="gallery-wrap tw-min-h-[380px] xl:tw-min-h-[450px] tw-max-h-[380px] xl:tw-max-h-[450px]">
                <div class="item item-1 tw-text-transparent">1</div>
                <div class="item item-2 tw-text-transparent">2</div>
                <div class="item item-3 tw-text-transparent">3</div>
                <div class="item item-4 tw-text-transparent">4</div>
                <div class="item item-5 tw-text-transparent">5</div>
            </div>
        </div>

        <div class="tw-w-full xl:tw-w-[40%] tw-bg-[#f7f7f7] tw-flex tw-flex-col tw-justify-center">
            <div class="tw-flex tw-flex-row tw-items-center md:tw-ml-6 tw-mt-4 tw-px-8 lg:tw-px-0 xl:tw-mt-0 tw-pb-4">
              <img class="tw-max-w-[50px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/logo-hot-sale-2023.svg?v=1684425683" alt="hot sale Smart Bamboo 2024">
              <h2 class="tw-w-full tw-text-left tw-font-poppins tw-text-[#000000] tw-text-[20px] tw-text-[20px] tw-leading-tight tw-font-semibold tw-leading-none tw-pl-2">
                Personaliza tu cama
              </h2>
            </div>
            <p class="tw-font-poppins tw-text-[14px] lg:tw-text-[15px] tw-text-[#5F6368] tw-font-light tw-text-left tw-px-6">
              Aprovecha nuestros <span class="tw-font-medium tw-text-gray-700">descuentos especiales de temporada</span> y descubre más de 20 vibrantes colores en sábanas y personaliza tu combinación ideal.
            </p>
            <div class="tw-mt-3">
                <button class="tw-font-poppins tw-text-center tw-text-xs tw-bg-gray-200 tw-text-[#c01d2b] tw-rounded-xl tw-border tw-border-solid tw-border-[2px] tw-border-[#c01d2b] tw-cursor-none tw-px-3 tw-py-1.5 tw-mx-6">
                    <span class="tw-font-medium">5% Adicional</span> en set completo. Aplica T&C.
                </button>
            </div>
            <div class="tw-pl-12 tw-my-4">
                <ul>
                    <li class="tw-font-poppins tw-text-[12px] lg:tw-text-[13px] tw-text-[#5F6368] tw-font-light tw-pb-1">
                        Material hipoalergénico
                    </li>
                    <li class="tw-font-poppins tw-text-[12px] lg:tw-text-[13px] tw-text-[#5F6368] tw-font-light tw-pb-1">
                        Material antimicrobiano
                    </li>
                    <li class="tw-font-poppins tw-text-[12px] lg:tw-text-[13px] tw-text-[#5F6368] tw-font-light tw-pb-1">
                        Acabado satinado
                    </li>
                    <li class="tw-font-poppins tw-text-[12px] lg:tw-text-[13px] tw-text-[#5F6368] tw-font-light tw-pb-1">
                        Eco-friendly, hecho de bambú.
                    </li>
                </ul>
            </div>
            <div class="tw-w-full tw-mt-2 tw-mb-6 lg:tw-mb-0">
              <div class="tw-px-6">
                <a href="/products/personaliza-tu-cama">
                  <button class="tw-w-full tw-font-poppins tw-text-center tw-text-sm sm:tw-text-xs md:tw-text-base 3xl:tw-text-lg tw-font-normal tw-text-white hover:tw-text-[#c01d2b] tw-bg-[#c01d2b] hover:tw-bg-transparent tw-rounded-lg tw-border-[1px] lg:tw-border-[2px] tw-border-solid tw-border-[#c01d2b] hover:tw-border-[#c01d2b] tw-mb-3 md:tw-mb-0 tw-py-2">
                    Tu cama, a tu estilo AQUÍ
                  </button>
                </a>
              </div>
            </div>
            
        </div>
        
    </div>
</section>