<section onload="didNavigatorRendered()" id="NavigatorRender" class="tw-blur-sm">
  <div class="tw-w-full tw-py-2">
      <div class="tw-flex tw-grid tw-grid-cols-12">
          <div class="tw-col-span-2">
              {%- render 'smart-meta-hamburguer-nav'-%}
          </div>
          <div class="tw-col-span-8 tw-flex tw-items-center tw-justify-centers">
              {%- render 'smart-meta-logo-nav'-%}
          </div>
          <div class="tw-col-span-2">
              {%- render 'smart-meta-icons-nav'-%}
          </div>
      </div>
  </div>
</section>

{%- render 'smart-meta-mega-menu' -%}



{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "t:sections.header.settings.newsletter_title.label"
    }
  ]
}
{% endschema %}


<script src="{{ 'smart-meta-megamenu.js' | asset_url }}" defer></script>