<section class="tw-w-full tw-bg-[#E5E2DB]">
    <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-1 lg:tw-grid-cols-3">
        <div class="tw-col-span-2 tw-flex tw-flex-col tw-items-center tw-justify-center tw-py-6 lg:tw-py-8">
            <div class="tw-text-center tw-text-2xl tw-font-semibold">
                Descuento sobre descuento<br>en tus colchas favoritas
            </div>
            <img class="tw-w-[80%] tw-max-w-[350px] tw-mt-3" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/descuento-cintillo.webp?v=1686285379">
        </div>
        <div class="tw-col-span-1 tw-hidden lg:tw-block tw-h-[150px] md:tw-h-[200px] lg:tw-h-[250px] xl:tw-h-[300px] tw-bg-cover tw-bg-center-center tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/imagen-cintillo.webp?v=1686286829')]"></div>
    </div>
</section>