
<section class="tw-w-full tw-bg-[#FCF7F0] tw-flex tw-items-center tw-justify-center tw-py-14">
    <div class="tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col tw-grid tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-px-14">

        <div class="tw-w-full tw-flex tw-justify-center">
            <div class="tw-flex tw-flex-col tw-w-full tw-items-center tw-justify-start">
                <img class="tw-w-full" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/FOTO-CHICA_001.webp?v=1674274054">
            </div>
        </div>

        <div class="tw-w-full tw-flex tw-justify-center">
            <div class="tw-flex tw-flex-col tw-w-full tw-items-center tw-justify-start tw-p-5 md:tw-p-14">
                <h2 class="tw-w-full tw-text-4xl tw-text-[#434F5A] tw-mt-10 tw-font-semibold tw-text-center md:tw-text-left">¿Por qué te conviene comprar con Bamboo Pay?</h2>
                <h3 class="tw-w-full tw-text-xl tw-text-[#434F5A] tw-mt-10 tw-font-semibold tw-text-center md:tw-text-left">1. Pagos claros y tasas fijas.</h3>
                <p class="tw-w-full tw-text-base tw-text-[#434F5A] tw-mt-5 tw-font-normal tw-text-center md:tw-text-left">Olvídate de complicaciones, mantendremos una tasa de interés fija para ti, además para tu conveniencia, puedes hacer tus pagos vía transferencias, pagos en OXXO o depósitos en cajeros BBVA. </p>

                <h3 class="tw-w-full tw-text-xl tw-text-[#434F5A] tw-mt-10 tw-font-semibold tw-text-center md:tw-text-left">2. Compra ahora y paga a meses..</h3>
                <p class="tw-w-full tw-text-base tw-text-[#434F5A] tw-mt-5 tw-font-normal tw-text-center md:tw-text-left">Compra hoy y paga hasta en 24 mensualidades tus compras de hasta $200,000 pesos. Tú solo eliges el plan de pagos que más te convenga. </p>

                <h3 class="tw-w-full tw-text-xl tw-text-[#434F5A] tw-mt-10 tw-font-semibold tw-text-center md:tw-text-left">3. No necesitas tarjetas y no te descapitalizas.</h3>
                <p class="tw-w-full tw-text-base tw-text-[#434F5A] tw-mt-5 tw-font-normal tw-text-center md:tw-text-left">No necesitas desembolsar de contado y te olvidas de complicaciones.</p>
            </div>
        </div>

    </div>
</section>