<section class="tw-flex tw-justify-center tw-p-0 md:tw-p-5 tw-items-center tw-px-2 md:tw-px-0 tw-flex tw-flex-col">
    <div class="tw-max-w-[1100px]">


        <div class="tw-grid tw-grid-cols-4 tw-gap-y-0 tw-gap-x-1 md:tw-gap-x-1">
            <img class="tw-rounded-t tw-bg-[#EDEDED] tw-w-full tw-max-h-[26px] md:tw-max-h-[56px] lg:tw-max-h-[80px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/img-beneficios.webp?v=1668383886">
            <img class="tw-rounded-t tw-bg-[#EDEDED] tw-w-full tw-max-h-[26px] md:tw-max-h-[56px] lg:tw-max-h-[80px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/img-smart-bamboo.webp?v=1668383886">
            <img class="tw-rounded-t tw-bg-[#EDEDED] tw-w-full tw-max-h-[26px] md:tw-max-h-[56px] lg:tw-max-h-[80px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Group_29162_1.png?v=1673627964">
            <img class="tw-rounded-t tw-bg-[#EDEDED] tw-w-full tw-max-h-[26px] md:tw-max-h-[56px] lg:tw-max-h-[80px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Group_29163_1.png?v=1673627964">

            {% comment %} uno {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Noches de prueba</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">365 noches</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">100 noches</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">100 noches</p>
            </div>

            {% comment %} dos {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Garantía</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">12 años</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">12 años</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">10 años</p>
            </div>

            {% comment %} tres {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Facilidades de pago</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Hasta 24 MSI</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Hasta 18 MSI</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Hasta 18 MSI</p>
            </div>

            {% comment %} cuatro {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Envío y entrega</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Entrega programada<br>Envío rápido y gratuito a todo México.</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Entrega programada<br>Envío gratuito a todo México</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Envío gratuito a todo México<br>Devolución gratuita</p>
            </div>

            {% comment %} cinco {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Certificaciones y<br>Tratamientos</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Silvardurtm 930 Flex, Antimicrobiano y OEKO-Tex Standard 100</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">CertiPUR-US</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">OEKO-Tex Standard 100</p>
            </div>

            {% comment %} seis {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">¿Regula la temperatura?</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Sí</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Sí</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Sí</p>
            </div>

            {% comment %} siete {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">¿Evita transferencia de movimiento?</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Sí</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Sí</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">No</p>
            </div>

            {% comment %} ocho {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">¿Fácil de limpiar?</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Sí + Funda desmontable <br>fácil de retirar y lavar</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Sí</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">Sí</p>
            </div>

            {% comment %} nueve {% endcomment %}
            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">Tiendas físicas</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base tw-font-semibold">+100</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">36</p>
            </div>

            <div class="tw-flex tw-items-stretch tw-bg-[#EDEDED] tw-text-gris-oscuro tw-py-3 tw-text-center tw-border-[1px] tw-border-x-0 tw-border-t-0 tw-border-[#d5d5d5] tw-border-solid">
                <p class="tw-self-center tw-flex-auto tw-px-3 tw-text-xs md:tw-text-base">N/A</p>
            </div>
        </div>

        <div class="tw-px-2 md:tw-px-14 tw-py-14">
            <h2 class="tw-text-xl md:tw-text-4xl tw-text-center tw-font-semibold tw-my-2 md:tw-my-5">
                ¡Ya lo sabes! Los mejores colchones y las mejores promociones las tiene solo Smart Bamboo.
            </h2>

            <h3 class="tw-text-lg tw-text-center tw-font-semibold tw-my-2 md:tw-my-5">
                ¡Pon tu descanso en nuestras manos!
            </h3>
            <p class="tw-text-center tw-text-lg tw-font-normal tw-mt-10 md:tw-mt-4 tw-w-5/6 md:tw-w-5/6 lg:tw-w-5/6 tw-mx-auto">
                Nos preocupamos porque las personas entiendan la importancia de dormir bien, al ser un proceso biológico necesario para recuperar la energía, así como para mantener un excelente estado de salud.<br><br>
                Al confiar en Smart Bamboo, una de las mejores marcas del mercado, y dejar tu descanso en nuestras manos, te garantizamos que los colchones que tenemos disponibles se adaptarán a tus necesidades y cambiarán por completo la forma en la que duermes, mejorando significativamente la calidad de tu sueño y de tu vida.
            </p>
        </div>

    </div>
</section>