<section class="tw-w-full tw-flex tw-justify-center tw-items-center tw-px-0 tw-mb-6 lg:tw-mb-10">
    <div class="tw-w-full tw-max-w-[1000px] tw-flex tw-justify-center tw-items-center">
  
      <a href="/pages/terminos-de-promociones">
      {% comment %} Vídeo mobile {% endcomment %}
      <div class="tw-block sm:tw-hidden">
        <div class="tw-h-full tw-flex tw-justyfy-start tw-items-start">
          <video
            width="100%"
            height="100%"
            load="lazy"
            class="tw-aspect-auto"
            autoplay
            loop
            muted
            playsinline>
            <source src="https://cdn.shopify.com/videos/c/o/v/892442feece44b63a9cb68fb3b263c9d.mp4">
          </video>
        </div>
      </div>
      {% comment %} Vídeo desktop {% endcomment %}
      <div class="tw-hidden sm:tw-block">
        <div class="tw-h-full tw-flex tw-justyfy-start tw-items-start">
          <video
            width="100%"
            height="100%"
            load="lazy"
            class="tw-aspect-auto"
            autoplay
            loop
            muted
            playsinline>
            <source src="https://cdn.shopify.com/videos/c/o/v/d4777f38f6284b94a1aafdefe152f614.mp4">
          </video>
        </div>
      </div>
  
      </a>
    </div>
  </section>
  
  {% comment %} BANNER NORMAL {% endcomment %}
  {% comment %} <section class="tw-w-full tw-flex tw-flex-col tw-my-0 md:tw-my-5 tw-h-fit tw-max-h-[750px] tw-items-center tw-justify-center tw-mt-6 lg:tw-mt-10">
    <div class="tw-w-full tw-max-w-[1300px]">
      <div class="tw-w-full tw-h-fit">
        <a href="/pages/promociones">
          <div class="tw-px-3 md:tw-px-0">
            {% comment %} banner 1 mobile {% endcomment %}
              <img  id="banner1" loading="lazy" class="lozad tw-w-full tw-block lg:tw-hidden tw-max-w-[1300px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/banner_1040x159-04_1.webp?v=1678807180">
            {% comment %} banner 1 desktop {% endcomment %}
              <img id="banner1" loading="lazy" class="lozad tw-w-full tw-hidden lg:tw-block tw-max-w-[1300px] md:tw-max-h-[180px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/banner_1040x159-01_1.webp?v=1678807174">
          </div>
        </a>
      </div>
    </div>
  </section> {% endcomment %}
  
  {% comment %} BANNER BUEN FIN {% endcomment %}
  {% comment %} <section id="" class="tw-w-full tw-flex tw-flex-col tw-my-0 md:tw-my-3 tw-h-fit tw-max-h-[750px] tw-items-center tw-justify-center tw-mt-4 lg:tw-mt-0">
      <div class="tw-w-full tw-max-w-[1100px]">
        <div class="tw-w-full tw-h-fit">
          <a href="/pages/promociones">
            <div class="tw-flex tw-justify-center tw-items-center tw-px-6 md:tw-px-0">
              {% comment %} banner 1 mobile {% endcomment %}
                <img  id="banner1" loading="lazy" class="lozad tw-w-full tw-block lg:tw-hidden  tw-max-w-[400px] tw-rounded-[20px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/PayPal_-_mobile.webp?v=1698960803">
              {% comment %} banner 1 desktop {% endcomment %}
                <img id="banner1" loading="lazy" class="lozad tw-w-full tw-hidden lg:tw-block tw-max-w-[1300px] md:tw-max-h-[180px] tw-rounded-[20px]" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/PayPal-_desktop.webp?v=1698960803">
            </div>
          </a>
        </div>
      </div>
    </section> {% endcomment %}