<section class="tw-flex tw-justify-center tw-p-0 md:tw-p-5 tw-items-center tw-px-2 md:tw-px-0 tw-flex tw-flex-col">
    <div class="tw-max-w-[1300px]">

        <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-x-10">
    
            <div class="tw-flex tw-justify-start tw-px-3 tw-py-5 tw-items-center tw-flex-col">
                <img class="tw-w-full" alt="Colchón Smart Firm" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Colchon_firm.webp?v=1668152332">
                <p class="tw-text-xl tw-mt-10 tw-min-h-[185px]">
                    Nuestro colchón firme garantiza un mayor soporte de espalda y columna, brinda un nivel de 8.5 de firmeza, siendo una excelente alternativa para problemas articulares y sobrepeso. Ideal para dormir boca arriba.
                </p>
                <div class="tw-w-full tw-my-10">
                    <a href="/products/colchon-smart-firm">
                        <button class="tw-text-base md:tw-text-xl tw-font-medium tw-text-white hover:tw-text-[#292929] tw-mt-2 tw-bg-[#292929] hover:tw-bg-transparent tw-border-2 tw-border-solid tw-border-[#292929] tw-px-2 tw-py-3 tw-rounded tw-w-[200px] md:tw-w-[400px] tw-mx-auto tw-block">
                            ¡Lo quiero!
                        </button>
                    </a>
                </div>
            </div>


            <div class="tw-flex tw-justify-start tw-px-3 tw-py-5 tw-items-center tw-flex-col">
                <img class="tw-w-full" alt="Colchon Smart Balance" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Asset_capas_HIBRIDO_1080x1350_3e795d33-92ec-4de4-b4ce-a98b23b09678.webp?v=1672452374">
                <p class="tw-text-xl tw-mt-10 tw-min-h-[185px]">
                    Es una excelente opción que proporciona soporte y confort, gracias a los resortes encapsulados de forma individual con tecnología que los hace independientes, lo cual elimina el ruido, aísla el movimiento y mayor ergonomía. 
                </p>

                <div class="tw-w-full tw-my-10">
                    <a href="/products/colchon-smart-hybrid">
                        <button class="tw-text-base md:tw-text-xl tw-font-medium tw-text-white hover:tw-text-[#292929] tw-mt-2 tw-bg-[#292929] hover:tw-bg-transparent tw-border-2 tw-border-solid tw-border-[#292929] tw-px-2 tw-py-3 tw-rounded tw-w-[200px] md:tw-w-[400px] tw-mx-auto tw-block">
                            ¡Lo quiero!
                        </button>
                    </a>
                </div>
            </div>


            <div class="tw-flex tw-justify-start tw-px-3 tw-py-5 tw-items-center tw-flex-col">
                <img class="tw-w-full" alt="Colchon Smart Balance" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Colchon_balance.webp?v=1668152333">
                <p class="tw-text-xl tw-mt-10 tw-min-h-[185px]">
                    Nuestro colchón balance se diferencia por ser suave, flexible y brindar un descanso con una sensación de abrazo durante toda la noche, brinda un nivel de 6.5 de firmeza e ideal para dormir de lado.
                </p>

                <div class="tw-w-full tw-my-10">
                    <a href="/products/colchon-smart-balance">
                        <button class="tw-text-base md:tw-text-xl tw-font-medium tw-text-white hover:tw-text-[#292929] tw-mt-2 tw-bg-[#292929] hover:tw-bg-transparent tw-border-2 tw-border-solid tw-border-[#292929] tw-px-2 tw-py-3 tw-rounded tw-w-[200px] md:tw-w-[400px] tw-mx-auto tw-block">
                            ¡Lo quiero!
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>