<div class="tw-block md:tw-hidden component-help__container c8-bk c14-b border">
    {%- render 'smart-component-tech', mobile: true -%}
</div>

<div class="tw-block md:tw-hidden margin-top-2 tw-h-full">
    {%- render 'smart-meta-component-sales-benefits' -%}
</div>

<div class="tw-block md:tw-hidden margin-top-2">
    {%- render 'smart-meta-component-benefits-payments' -%}
</div>

<div class="tw-block md:tw-hidden tw-h-full tw-mt-8 md:tw-mt-0">
    {%- render 'smart-component-help' -%}
</div>